Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

feat: adjust to async changes
  packages/styles/tokens/config.js
Due: prettier --write

fix: storybook build
  packages/assets/package.json
Due: prettier --write

fix: include missing file
  .gitignore
  packages/assets/angular/index.ts
Due: prettier --write

test: increase branch coverage
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add assets package to manage icons (#441)
  .gitignore
  .vscode/showcase.code-workspace
  apps/rotom/package.json
  apps/rotom/src/test/global-testing-setup.module.ts
  apps/rotom/tsconfig.json
  apps/smeargle/package.json
  packages/assets/.svgGeneratorrc.json
  packages/assets/README.md
  packages/assets/angular/index.ts
  packages/assets/package.json
  packages/assets/svg/caret-down.svg
  packages/assets/svg/caret-left.svg
  packages/assets/svg/caret-right.svg
  packages/assets/svg/caret-up.svg
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/core/ui-config.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
  packages/ui-angular/src/test/global-testing-setup.module.ts
  packages/ui-angular/tsconfig.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add caret icons, add group accordion
  .vscode/extensions.json
  packages/assets/svg/caret-down.svg
  packages/assets/svg/caret-left.svg
  packages/assets/svg/caret-right.svg
  packages/assets/svg/caret-up.svg
  packages/styles/scss/components/_sidebar.scss
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item-list.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.html
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add svgs to sidebar stories
  packages/assets/svg/dna.svg
  packages/assets/svg/mask-happy.svg
  packages/assets/svg/rocket.svg
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: rename body and footer components
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-footer-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/index.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: improve group accordion a11y
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: add createRandomUUID util
  packages/ui-angular/src/lib/overlay/overlay.service.ts
  packages/utils/src/id.ts
  packages/utils/src/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add createRandomUUID util (#446)
  packages/ui-angular/src/lib/overlay/overlay.service.ts
  packages/utils/src/id.ts
  packages/utils/src/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add accordion component and tests
  packages/ui-angular/karma.config.js
  packages/ui-angular/src/lib/directives/accordion/accordion-content.directive.ts
  packages/ui-angular/src/lib/directives/accordion/accordion-trigger.directive.ts
  packages/ui-angular/src/lib/directives/accordion/accordion.directive.test.ts
  packages/ui-angular/src/lib/directives/accordion/accordion.directive.ts
  packages/ui-angular/src/lib/directives/accordion/accordion.service.ts
  packages/ui-angular/src/lib/directives/accordion/accordion.stories.ts
  packages/ui-angular/src/lib/directives/accordion/index.ts
  packages/ui-angular/src/lib/directives/index.ts
  packages/ui-angular/src/lib/overlay/overlay.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: remove boolean transforms from expanded state
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add Accordion utility directives for Angular (#447)
  packages/ui-angular/karma.config.js
  packages/ui-angular/src/lib/directives/accordion/accordion-content.directive.ts
  packages/ui-angular/src/lib/directives/accordion/accordion-trigger.directive.ts
  packages/ui-angular/src/lib/directives/accordion/accordion.directive.test.ts
  packages/ui-angular/src/lib/directives/accordion/accordion.directive.ts
  packages/ui-angular/src/lib/directives/accordion/accordion.service.ts
  packages/ui-angular/src/lib/directives/accordion/accordion.stories.ts
  packages/ui-angular/src/lib/directives/accordion/index.ts
  packages/ui-angular/src/lib/directives/index.ts
  packages/ui-angular/src/lib/overlay/overlay.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: add use accordion in sidebar
  packages/styles/scss/components/_sidebar.scss
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.html
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: animate group accordion
  packages/styles/scss/components/_sidebar.scss
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: simplify and improve public api reusability
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-footer-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item-list.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-group-icon.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-group-label.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-icon.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-item-icon.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-item-label.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-label.directive.ts
  packages/ui-angular/src/lib/components/sidebar/index.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add tooltip for collapsed items
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add item outline
  packages/styles/scss/components/_sidebar.scss
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/directives/accordion/accordion-content.directive.ts
  packages/ui-angular/src/lib/directives/accordion/accordion-trigger.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: update recommended extensions
  .vscode/extensions.json
Due: none

chore: make vscode terminals open in root
  .vscode/showcase.code-workspace
Due: none

feat: add ellipsis, visually-hidden and outline mixins
  packages/styles/scss/utils/_index.scss
  packages/styles/scss/utils/_mixins.scss
Due: prettier --write

refactor: use outline mixin for button
  packages/styles/scss/components/_button.scss
Due: prettier --write

refactor: simplify button focus logic
  packages/styles/scss/components/_button.scss
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-react/src/lib/components/button/button.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: remove dependency to @rx-angular/state
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

Add outline util and adjust button focus (#453)
  .vscode/extensions.json
  .vscode/showcase.code-workspace
  packages/styles/scss/components/_button.scss
  packages/styles/scss/utils/_index.scss
  packages/styles/scss/utils/_mixins.scss
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-react/src/lib/components/button/button.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: use focus ring util for items and groups
  packages/styles/scss/utils/_mixins.scss
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item-list.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add focus ring directive
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/directives/focus-ring/focus-ring.directive.test.ts
  packages/ui-angular/src/lib/directives/focus-ring/focus-ring.directive.ts
  packages/ui-angular/src/lib/directives/index.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Angular - Add focus ring directive (#454)
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/directives/focus-ring/focus-ring.directive.test.ts
  packages/ui-angular/src/lib/directives/focus-ring/focus-ring.directive.ts
  packages/ui-angular/src/lib/directives/index.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: group hidden, overflow and transition conflict
  packages/styles/scss/components/_sidebar.scss
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-footer-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item-list.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: turn collapsed sidebar group into a button
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
Due: ls-lint

feat: add popover component
  packages/ui-angular/src/lib/directives/index.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.test.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-angular/src/lib/directives/popover/popover.service.ts
  packages/ui-angular/src/lib/directives/popover/popover.stories.ts
  packages/ui-angular/src/lib/directives/popover/popover.vrt.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.vrt.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: useOverlayClick support non button clicks
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: simplify useOverlayClick
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add popover styles
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/_popover.scss
  packages/styles/tokens/default/base/elevation.json5
Due: prettier --write

chore: add todos
  packages/styles/scss/components/_popover.scss
Due: prettier --write

feat: add card component, stories and vrt
  packages/assets/svg/dna.svg
  packages/assets/svg/x.svg
  packages/styles/scss/components/_card.scss
  packages/styles/scss/components/_index.scss
  packages/styles/tokens/default/components/text.json5
  packages/ui-angular/src/lib/directives/card/card.component.ts
  packages/ui-angular/src/lib/directives/card/card.service.ts
  packages/ui-angular/src/lib/directives/card/card.stories.ts
  packages/ui-angular/src/lib/directives/card/card.vrt.ts
  packages/ui-angular/src/lib/directives/card/components/card-body.component.ts
  packages/ui-angular/src/lib/directives/card/components/card-footer.component.ts
  packages/ui-angular/src/lib/directives/card/components/card-header.component.ts
  packages/ui-angular/src/lib/directives/card/directives/card-header-icon.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support icon buttons
  packages/styles/scss/components/_button.scss
  packages/ui-angular/src/lib/directives/button/button.directive.test.ts
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/directives/button/button.stories.ts
  packages/ui-angular/src/lib/directives/button/button.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: add missing svg
  packages/assets/svg/rocket.svg
  packages/ui-angular/src/lib/directives/button/button.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Support icon buttons in Angular (#465)
  packages/assets/svg/rocket.svg
  packages/styles/scss/components/_button.scss
  packages/ui-angular/src/lib/directives/button/button.directive.test.ts
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/directives/button/button.stories.ts
  packages/ui-angular/src/lib/directives/button/button.vrt.ts
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--icon-button--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--icon-button--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--icon-button-small--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--icon-button-small--light--custom-1.png
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write
