Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

chore: add eslint inspector script
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/bundle-i18n/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  packages/utils/package.json
  packages/vite-plugin-bundle-i18n/package.json
  packages/vrt/package.json
Due: prettier --write

Eslint plugin react hooks update and remove rules fixup (#865)
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/bundle-i18n/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  packages/utils/package.json
  packages/vite-plugin-bundle-i18n/package.json
  packages/vrt/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: lint issues
  packages/ui-angular/src/lib/portal/portal.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support cucumber for e2e
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .gitignore
  .ls-lint.yml
  .vscode/extensions.json
  .vscode/showcase.code-workspace
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/e2e/src/features/home.feature
  apps/rotom/e2e/src/fixtures.ts
  apps/rotom/e2e/src/steps/home.ts
  apps/rotom/e2e/tests/home.test.ts
  apps/rotom/package.json
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/e2e/src/features/home.feature
  apps/smeargle/e2e/src/fixtures.ts
  apps/smeargle/e2e/src/steps/home.ts
  apps/smeargle/e2e/tests/home.test.ts
  apps/smeargle/package.json
  packages/eslint-config/index.js
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

ci: add cucumber report when success
  .github/workflows/ci.yml
Due: none

Use Cucumber for E2E (#883)
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .gitignore
  .ls-lint.yml
  .vscode/extensions.json
  .vscode/showcase.code-workspace
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/e2e/src/features/home.feature
  apps/rotom/e2e/src/fixtures.ts
  apps/rotom/e2e/src/steps/home.ts
  apps/rotom/e2e/tests/home.test.ts
  apps/rotom/package.json
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/e2e/src/features/home.feature
  apps/smeargle/e2e/src/fixtures.ts
  apps/smeargle/e2e/src/steps/home.ts
  apps/smeargle/e2e/tests/home.test.ts
  apps/smeargle/package.json
  packages/eslint-config/index.js
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: update node version in devcontainer
  .devcontainer/devcontainer-base.json
Due: none

chore: make peer dependencies explicit
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/eslint-config/index.js
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: prettier --write

Make peer dependencies explicit (#887)
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/eslint-config/index.js
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add tanstack poc
  apps/rotom/package.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/table/table.component.html
  packages/ui-angular/src/lib/components/table/table.component.ts
  packages/ui-angular/src/lib/components/table/table.stories.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add column resize poc
  packages/ui-angular/src/lib/components/table/table.component.html
  packages/ui-angular/src/lib/components/table/table.component.scss
  packages/ui-angular/src/lib/components/table/table.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

fix(rotom): add missing setDefaultOptions
  apps/rotom/src/app/core/providers/i18n-provider.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix(rotom): add missing setDefaultOptions (#929)
  apps/rotom/src/app/core/providers/i18n-provider.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: remove eslint turbo compat
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove eslint turbo compat (#951)
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add storybook eslint config
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add storybook eslint config (#952)
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore:(ui-angular): upgrade to Angular 19
  apps/rotom/angular.json
  apps/rotom/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/card/card.component.ts
  packages/ui-angular/src/lib/components/counter/counter.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group-popover-content.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-secondary-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.component.ts
  packages/ui-angular/src/lib/portal/portal.component.ts
  packages/ui-angular/src/lib/portal/portal.service.test.ts
  packages/ui-angular/src/lib/portal/portal.stories.ts
  packages/ui-angular/src/lib/stories/decorators.ts
  packages/ui-angular/tsconfig.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore:(rotom): upgrade to Angular 19
  apps/rotom/package.json
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/components/counter/counter.component.ts
  apps/rotom/src/app/components/sidebar/sidebar.component.ts
  apps/rotom/src/app/core/providers/i18n-provider.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: reduce testing library log noise when test fails
  apps/rotom/src/test/setup-tests.ts
  apps/smeargle/src/test/setup-tests.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-react/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: remove deprecated componentFactoryResolver
  packages/ui-angular/src/lib/portal/portal.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: disclusure and popover tests, fix sidebar eslint issues
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.test.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.service.ts
  packages/ui-angular/src/lib/utils/controllable-signal.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test(ui-angular): fix fake timer tests
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(ui-angular): improve controllable signal util
  packages/ui-angular/src/lib/utils/controllable-signal.test.ts
  packages/ui-angular/src/lib/utils/controllable-signal.ts
  packages/ui-react/src/lib/hooks/use-controllable-state.test.ts
  packages/ui-react/src/lib/hooks/use-controllable-state.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: prettier issues
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/components/counter/counter.component.ts
  apps/rotom/src/app/components/sidebar/sidebar.component.ts
  package.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add missing lint rule
  packages/eslint-config/index.js
Due: prettier --write

Upgrate to Angular v19 (#958)
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/components/counter/counter.component.ts
  apps/rotom/src/app/components/sidebar/sidebar.component.ts
  apps/rotom/src/app/core/providers/i18n-provider.ts
  apps/rotom/src/test/setup-tests.ts
  apps/smeargle/src/test/setup-tests.ts
  package.json
  packages/eslint-config/package.json
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/card/card.component.ts
  packages/ui-angular/src/lib/components/counter/counter.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group-popover-content.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-secondary-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.test.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.service.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.component.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
  packages/ui-angular/src/lib/portal/portal.component.ts
  packages/ui-angular/src/lib/portal/portal.service.test.ts
  packages/ui-angular/src/lib/portal/portal.service.ts
  packages/ui-angular/src/lib/portal/portal.stories.ts
  packages/ui-angular/src/lib/stories/decorators.ts
  packages/ui-angular/src/lib/utils/controllable-signal.test.ts
  packages/ui-angular/src/lib/utils/controllable-signal.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-angular/tsconfig.json
  packages/ui-react/src/lib/hooks/use-controllable-state.test.ts
  packages/ui-react/src/lib/hooks/use-controllable-state.ts
  packages/ui-react/src/test/setup-tests.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix(eslint-config): update sonar rules
  packages/eslint-config/index.js
  packages/ui-angular/src/lib/directives/popover/popover.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(ui-angular): use promise instead of setimeout for updating overlay state
  apps/rotom/README.md
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(ui-angular): replace settimeout with promises (#970)
  apps/rotom/README.md
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix(angular): lint issues
  packages/ui-angular/src/lib/overlay/overlay-arrow.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: attempt to fix corepack
  pnpm-lock.yaml
Due: none

fix: attempt to fix corepack
  package.json
Due: none

fix: attempt to fix corepack
  .github/workflows/ci.yml
  .github/workflows/update-vrt.yml
  package.json
Due: none

Replace corepack with setup-pnpm in CI (#1020)
  .github/workflows/ci.yml
  .github/workflows/update-vrt.yml
  pnpm-lock.yaml
Due: none

feat: add turborepo
  .gitignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none

feat: add prettier
  .prettierignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
Due: none
