Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

fix: add missing utils export
  packages/ui-react/src/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: createContext imports
  packages/ui-react/src/lib/components/card-popover/card-popover.tsx
  packages/ui-react/src/lib/components/popover/use-popover.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add standalone bundle-i18n command
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .vscode/showcase.code-workspace
  apps/rotom/package.json
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
  packages/bundle-i18n/.eslintrc.cjs
  packages/bundle-i18n/package.json
  packages/bundle-i18n/src/index.ts
  packages/bundle-i18n/tsconfig.json
  packages/bundle-i18n/tsup.config.ts
  packages/vite-plugin-bundle-i18n/src/index.ts
  pnpm-lock.yaml
  preflight-check.sh
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add devcontainer env vars
  .devcontainer/devcontainer.json
Due: none

refactor: convert app config and i18n to providers
  apps/rotom/README.md
  apps/smeargle/.storybook/preview.tsx
  apps/smeargle/src/app/core/config.ts
  apps/smeargle/src/app/core/contexts/config-context.tsx
  apps/smeargle/src/app/core/contexts/i18n-context.tsx
  apps/smeargle/src/app/core/i18n/i18n.ts
  apps/smeargle/src/main.tsx
  apps/smeargle/src/mocks/i18n.ts
  apps/smeargle/src/mocks/i18n.tsx
  apps/smeargle/src/test/setup-tests.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: make test render utils project specific
  apps/rotom/.eslintignore
  apps/rotom/tsconfig.json
  apps/smeargle/.eslintignore
  apps/smeargle/src/app/app.test.tsx
  apps/smeargle/src/app/components/counter/counter.test.tsx
  apps/smeargle/src/app/components/header/header.test.tsx
  apps/smeargle/src/app/components/sidebar/sidebar.test.tsx
  apps/smeargle/src/app/core/contexts/i18n-context.tsx
  apps/smeargle/src/test/render.tsx
  packages/ui-react/src/lib/components/button/button.test.tsx
  packages/ui-react/src/lib/components/card-popover/card-popover.test.tsx
  packages/ui-react/src/lib/components/card/card.test.tsx
  packages/ui-react/src/lib/components/counter/counter.test.tsx
  packages/ui-react/src/lib/components/header/header.test.tsx
  packages/ui-react/src/lib/components/icon/icon.test.tsx
  packages/ui-react/src/lib/components/popover/popover.test.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.test.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
  packages/ui-react/src/lib/contexts/ui-config.test.tsx
  packages/ui-react/src/lib/hooks/use-controllable-state.test.ts
  packages/ui-react/src/lib/test/render.tsx
  packages/ui-react/src/lib/utils/context.test.tsx
  packages/ui-react/src/test/render.tsx
  packages/ui-react/src/test/setup-tests.ts
  packages/utils/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: replace i18next http backend with dynamic import
  apps/smeargle/package.json
  apps/smeargle/src/app/core/contexts/i18n-context.tsx
  apps/smeargle/vite.config.ts
  packages/vite-plugin-bundle-i18n/src/index.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add preview task to turbo
  apps/rotom/package.json
  apps/smeargle/vite.config.ts
  package.json
  turbo.json
Due: prettier --write

fix: multiple ports used in rotom preview in e2e
  apps/rotom/package.json
Due: prettier --write

Add preview task to turbo (#651)
  apps/rotom/package.json
  apps/smeargle/vite.config.ts
  package.json
  turbo.json
Due: prettier --write

refactor: remove default app config, cleanup
  apps/rotom/README.md
  apps/rotom/angular.json
  apps/smeargle/src/app/app.test.tsx
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/app/core/contexts/config-context.tsx
  apps/smeargle/src/app/core/contexts/config/config-context.tsx
  apps/smeargle/src/app/core/contexts/config/config-provider.tsx
  apps/smeargle/src/app/core/contexts/i18n/i18n-context.tsx
  apps/smeargle/src/locales/original/en-GB/common.json
  apps/smeargle/src/locales/original/en-GB/features/app.json
  apps/smeargle/src/locales/original/en-US/common.json
  apps/smeargle/src/locales/original/pt-PT/features/app.json
  apps/smeargle/src/main.tsx
  apps/smeargle/src/mocks/i18n.tsx
  apps/smeargle/src/test/render.tsx
  apps/smeargle/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: configure renovate to auto migrate config
  renovate.json
Due: none

Configure Renovate to auto migrate config (#660)
  renovate.json
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Setup CodeQL (#663)
  .github/workflows/codeql.yml
Due: none

fix: add files to ls-lint ignore list
  .ls-lint.yml
Due: none

chore: update storybook to 8.2.9
  apps/rotom/package.json
  apps/rotom/public/mockServiceWorker.js
  apps/rotom/src/app/app.component.ts
  apps/smeargle/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Update storybook to v8.2.9 (#672)
  .ls-lint.yml
  apps/rotom/package.json
  apps/rotom/public/mockServiceWorker.js
  apps/rotom/src/app/app.component.ts
  apps/smeargle/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: update pnpm to v9.7.1, stylelint to v16.8.2
  package.json
  pnpm-lock.yaml
Due: none

Update pnpm to v9.7.1 and stylelint to v16.8.2 (#673)
  package.json
  pnpm-lock.yaml
Due: none

fix: sass mixed declarations deprecation
  packages/styles/scss/components/_sidebar.scss
Due: prettier --write

feat: add i18n to ui-react
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/@types/i18n.d.ts
  packages/ui-react/src/lib/components/card/card.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
  packages/ui-react/src/locales/en-GB/translation.json
  packages/ui-react/src/mocks/i18n.ts
  packages/ui-react/src/test/setup-tests.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: simplify i18n mocks
  apps/smeargle/.storybook/preview.tsx
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/app/core/contexts/i18n/i18n-context.tsx
  apps/smeargle/src/main.tsx
  apps/smeargle/src/mocks/i18n.tsx
  apps/smeargle/src/test/render.tsx
  apps/smeargle/src/test/setup-tests.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/src/mocks/i18n.ts
  packages/ui-react/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: update vrt
  apps/smeargle/vrt/screenshots/app/app.vrt.ts/app--default--dark--desktop-1.png
  apps/smeargle/vrt/screenshots/app/app.vrt.ts/app--default--light--desktop-1.png
Due: ls-lint

test: add config provider tests
  apps/smeargle/src/app/core/contexts/config/config-provider.test.tsx
  apps/smeargle/src/app/core/contexts/config/config-provider.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add missing coverage exclusion
  packages/ui-react/vite.config.ts
Due: prettier --write

chore: cleanup
  apps/smeargle/src/locales/original/pt-PT/common.json
Due: ls-lint, prettier --write

fix: bundle-i18n executable not being registered
  packages/bundle-i18n/.eslintrc.cjs
  packages/bundle-i18n/index.js
  packages/bundle-i18n/package.json
Due: prettier --write

fix: add missing ui translations in smeargle
  apps/smeargle/src/locales/original/en-GB/ui.json
  apps/smeargle/src/locales/original/pt-PT/ui.json
Due: ls-lint, prettier --write

feat: add i18n utils to ui-angular
  apps/rotom/README.md
  apps/rotom/package.json
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/test/setup-tests.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/@types/i18n.d.ts
  packages/ui-angular/src/index.ts
  packages/ui-angular/src/lib/components/card/card.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-secondary-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.html
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/i18n/index.ts
  packages/ui-angular/src/lib/i18n/translation-function.test.ts
  packages/ui-angular/src/lib/i18n/translation-function.ts
  packages/ui-angular/src/lib/i18n/translation-tokens.ts
  packages/ui-angular/src/lib/i18n/translation.directive.ts
  packages/ui-angular/src/lib/i18n/translation.service.test.ts
  packages/ui-angular/src/lib/i18n/translation.service.ts
  packages/ui-angular/src/locales/en-GB/translation.json
  packages/ui-angular/src/mocks/i18n.ts
  packages/ui-angular/src/test/setup-tests.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: directive missing keyPrefix and change detection
  packages/ui-angular/src/lib/i18n/translation.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: add translation directive tests
  packages/ui-angular/src/lib/i18n/translation.directive.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: document translation utils
  apps/rotom/src/app/app.component.ts
  packages/ui-angular/src/lib/components/card/card.component.ts
  packages/ui-angular/src/lib/i18n/index.ts
  packages/ui-angular/src/lib/i18n/inject-translation.test.ts
  packages/ui-angular/src/lib/i18n/inject-translation.ts
  packages/ui-angular/src/lib/i18n/translation.directive.ts
  packages/ui-angular/src/lib/i18n/translation.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add i18n mocks to rotom
  apps/rotom/.storybook/preview.ts
  apps/rotom/package.json
  apps/rotom/src/@types/i18n.d.ts
  apps/rotom/src/locales/original/en-GB/common.json
  apps/rotom/src/locales/original/en-GB/features/app.json
  apps/rotom/src/locales/original/en-GB/ui.json
  apps/rotom/src/locales/original/en-US/common.json
  apps/rotom/src/locales/original/pt-PT/common.json
  apps/rotom/src/locales/original/pt-PT/features/app.json
  apps/rotom/src/locales/original/pt-PT/ui.json
  apps/rotom/src/main.ts
  apps/rotom/src/mocks/i18n.ts
  apps/rotom/src/test/setup-tests.ts
  packages/bundle-i18n/src/index.ts
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support watch mode for bundle-i18n
  packages/bundle-i18n/package.json
  packages/bundle-i18n/src/index.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: run i18n bundler while in dev mode
  apps/rotom/package.json
  packages/assets/angular/index.ts
  packages/assets/package.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/card/card.component.ts
  packages/ui-angular/src/lib/components/card/card.stories.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
  packages/ui-angular/src/lib/core/ui-config.ts
  packages/ui-angular/src/lib/directives/button/button.stories.ts
  pnpm-lock.yaml
  preflight-check.sh
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add i18n to rotom
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/app/core/providers/i18n-provider.ts
  apps/rotom/src/app/core/providers/router-provider.ts
  apps/rotom/src/app/core/providers/service-worker-provider.ts
  apps/rotom/src/app/core/tokens/config.test.ts
  apps/rotom/src/app/core/tokens/config.ts
  apps/smeargle/src/app/app.tsx
  packages/ui-angular/src/lib/i18n/inject-translation.ts
  packages/ui-angular/src/lib/i18n/translation.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: improve directive api to allow setting no inputs
  apps/rotom/src/app/app.component.html
  packages/ui-angular/src/lib/components/card/card.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-secondary-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.html
  packages/ui-angular/src/lib/i18n/inject-translation.ts
  packages/ui-angular/src/lib/i18n/translation.directive.test.ts
  packages/ui-angular/src/lib/i18n/translation.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: cleanup
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/main.ts
  apps/smeargle/src/app/app.tsx
  packages/ui-angular/src/lib/i18n/inject-translation.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write
