Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

feat: add utils package
  .vscode/showcase.code-workspace
  apps/ninjask/package.json
  apps/ninjask/src/test/setup-tests.ts
  apps/rotom/package.json
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/tsconfig.json
  apps/smeargle/package.json
  apps/smeargle/src/test/setup-tests.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/test/index.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-angular/tsconfig.json
  packages/ui-react/src/test/index.ts
  packages/ui-react/src/test/utils/cookie.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/test/index.ts
  packages/ui-solid/src/test/setup-tests.ts
  packages/ui-solid/src/test/utils/cookie.ts
  packages/utils/.eslintrc.cjs
  packages/utils/package.json
  packages/utils/src/cookie.test.ts
  packages/utils/src/cookie.ts
  packages/utils/src/index.ts
  packages/utils/src/test/setup-tests.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  packages/utils/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add utils package (#72)
  .vscode/showcase.code-workspace
  apps/ninjask/package.json
  apps/ninjask/src/test/setup-tests.ts
  apps/rotom/package.json
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/tsconfig.json
  apps/smeargle/package.json
  apps/smeargle/src/test/setup-tests.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/test/index.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-angular/tsconfig.json
  packages/ui-react/src/test/index.ts
  packages/ui-react/src/test/utils/cookie.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/test/index.ts
  packages/ui-solid/src/test/setup-tests.ts
  packages/ui-solid/src/test/utils/cookie.ts
  packages/utils/.eslintrc.cjs
  packages/utils/package.json
  packages/utils/src/cookie.test.ts
  packages/utils/src/cookie.ts
  packages/utils/src/index.ts
  packages/utils/src/test/setup-tests.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  packages/utils/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add bundle analysis
  apps/ninjask/package.json
  apps/rotom/package.json
  apps/smeargle/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: linting rules
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-react/index.cjs
Due: none

Add bundle analysis (#98)
  apps/ninjask/package.json
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-react/index.cjs
  pnpm-lock.yaml
Due: prettier --write

feat: update angular packages
  apps/rotom/package.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write

Update angular packages to 16.2.11 (#114)
  apps/rotom/package.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write

feat: update msw to 2.0.1
  apps/ninjask/package.json
  apps/ninjask/public/mockServiceWorker.js
  apps/ninjask/src/mocks/server/browser.ts
  apps/ninjask/src/mocks/server/handlers/handler-types.ts
  apps/rotom/package.json
  apps/rotom/src/mockServiceWorker.js
  apps/rotom/src/mocks/server/browser.ts
  apps/rotom/src/mocks/server/handlers/handler-types.ts
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  apps/smeargle/src/mocks/server/browser.ts
  apps/smeargle/src/mocks/server/handlers/handler-types.ts
  pnpm-lock.yaml
  renovate.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: fix lockfile
  pnpm-lock.yaml
Due: none

refactor: use named export
  packages/ui-angular/src/test/utils/render.ts
  packages/ui-react/src/test/utils/render.tsx
  packages/ui-solid/src/test/utils/render.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: replace vitest-dom with jest-dom
  packages/ui-react/package.json
  packages/ui-react/src/test/extend-expect.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/test/extend-expect.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Replace vitest-dom with jest-dom (#138)
  packages/ui-react/package.json
  packages/ui-react/src/test/extend-expect.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/test/extend-expect.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: move ui-react exports to lib folder
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/counter/counter.test.tsx
  packages/ui-react/src/lib/components/counter/counter.tsx
  packages/ui-react/src/lib/index.ts
  packages/ui-react/src/lib/test/axe.ts
  packages/ui-react/src/lib/test/extend-expect.ts
  packages/ui-react/src/lib/test/index.ts
  packages/ui-react/src/lib/test/render.tsx
  packages/ui-react/src/test/index.ts
  packages/ui-react/src/test/setup-tests.ts
  packages/ui-react/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: move ui-~solid exports to lib folder
  packages/ui-react/vite.config.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/lib/components/counter/counter.test.tsx
  packages/ui-solid/src/lib/components/counter/counter.tsx
  packages/ui-solid/src/lib/index.ts
  packages/ui-solid/src/lib/test/axe.ts
  packages/ui-solid/src/lib/test/extend-expect.ts
  packages/ui-solid/src/lib/test/index.ts
  packages/ui-solid/src/lib/test/render.tsx
  packages/ui-solid/src/test/index.ts
  packages/ui-solid/src/test/setup-tests.ts
  packages/ui-solid/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: move ui-angular exports to lib folder
  apps/rotom/tsconfig.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/counter/counter.component.html
  packages/ui-angular/src/lib/components/counter/counter.component.test.ts
  packages/ui-angular/src/lib/components/counter/counter.component.ts
  packages/ui-angular/src/lib/index.ts
  packages/ui-angular/src/lib/test/axe.ts
  packages/ui-angular/src/lib/test/index.ts
  packages/ui-angular/src/lib/test/render.ts
  packages/ui-angular/src/test/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Refactor UI package folders (#139)
  apps/rotom/tsconfig.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/counter/counter.component.html
  packages/ui-angular/src/lib/components/counter/counter.component.test.ts
  packages/ui-angular/src/lib/components/counter/counter.component.ts
  packages/ui-angular/src/lib/index.ts
  packages/ui-angular/src/lib/test/axe.ts
  packages/ui-angular/src/lib/test/index.ts
  packages/ui-angular/src/lib/test/render.ts
  packages/ui-angular/src/test/index.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/counter/counter.test.tsx
  packages/ui-react/src/lib/components/counter/counter.tsx
  packages/ui-react/src/lib/index.ts
  packages/ui-react/src/lib/test/axe.ts
  packages/ui-react/src/lib/test/extend-expect.ts
  packages/ui-react/src/lib/test/index.ts
  packages/ui-react/src/lib/test/render.tsx
  packages/ui-react/src/test/index.ts
  packages/ui-react/src/test/setup-tests.ts
  packages/ui-react/vite.config.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/lib/components/counter/counter.test.tsx
  packages/ui-solid/src/lib/components/counter/counter.tsx
  packages/ui-solid/src/lib/index.ts
  packages/ui-solid/src/lib/test/axe.ts
  packages/ui-solid/src/lib/test/extend-expect.ts
  packages/ui-solid/src/lib/test/index.ts
  packages/ui-solid/src/lib/test/render.tsx
  packages/ui-solid/src/test/index.ts
  packages/ui-solid/src/test/setup-tests.ts
  packages/ui-solid/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: wildcard ignore ls-lint
  .ls-lint.yml
Due: none

feat: add storybook to react packages
  .gitignore
  apps/smeargle/.storybook/main.ts
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/package.json
  apps/smeargle/src/app/app.css
  apps/smeargle/src/app/app.test.tsx
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/app/components/counter/counter.stories.tsx
  apps/smeargle/src/app/components/counter/counter.test.tsx
  apps/smeargle/src/app/components/counter/counter.tsx
  apps/smeargle/src/main.tsx
  package.json
  packages/ui-react/.storybook/main.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/counter/counter.stories.tsx
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: add storybook to angular packages
  .gitignore
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/.storybook/tsconfig.json
  apps/rotom/.storybook/typings.d.ts
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/components/counter/counter.component.ts
  apps/rotom/src/app/components/counter/counter.stories.ts
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/.storybook/tsconfig.json
  packages/ui-angular/.storybook/typings.d.ts
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/counter/counter.stories.ts
  packages/ui-angular/src/ng-package.json
  packages/ui-angular/src/package.json
  packages/ui-angular/tsconfig.lib.json
  packages/ui-angular/tsconfig.lib.prod.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add storybook to solid packages
  apps/ninjask/.storybook/main.ts
  apps/ninjask/.storybook/preview.ts
  apps/ninjask/package.json
  apps/ninjask/src/app/app.css
  apps/ninjask/src/app/app.test.tsx
  apps/ninjask/src/app/app.tsx
  apps/ninjask/src/app/components/counter/counter.stories.tsx
  apps/ninjask/src/app/components/counter/counter.test.tsx
  apps/ninjask/src/app/components/counter/counter.tsx
  apps/ninjask/src/index.tsx
  packages/ui-solid/.storybook/main.ts
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/lib/components/counter/counter.stories.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

chore: update to 2.0.2
  apps/ninjask/package.json
  apps/rotom/package.json
  apps/smeargle/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update msw worker file
  apps/ninjask/public/mockServiceWorker.js
  apps/rotom/src/mockServiceWorker.js
  apps/smeargle/public/mockServiceWorker.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: solid test duplicate warning
  apps/ninjask/vite.config.ts
  packages/ui-solid/vite.config.ts
Due: prettier --write

chore: restore vitest mock on each test
  apps/ninjask/src/test/setup-tests.ts
  apps/ninjask/vite.config.ts
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/vite.config.ts
  packages/ui-react/src/test/setup-tests.ts
  packages/ui-react/vite.config.ts
  packages/ui-solid/src/test/setup-tests.ts
  packages/ui-solid/vite.config.ts
  packages/utils/src/test/setup-tests.ts
  packages/utils/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Test config adjustments (#155)
  apps/ninjask/src/test/setup-tests.ts
  apps/ninjask/vite.config.ts
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/vite.config.ts
  packages/ui-react/src/test/setup-tests.ts
  packages/ui-react/vite.config.ts
  packages/ui-solid/src/test/setup-tests.ts
  packages/ui-solid/vite.config.ts
  packages/utils/src/test/setup-tests.ts
  packages/utils/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: workaround msw in solid vitest
  apps/ninjask/package.json
  apps/ninjask/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

Update msw to 2.0.1 (#116)
  apps/ninjask/package.json
  apps/ninjask/public/mockServiceWorker.js
  apps/ninjask/src/mocks/server/browser.ts
  apps/ninjask/src/mocks/server/handlers/handler-types.ts
  apps/ninjask/vite.config.ts
  apps/rotom/package.json
  apps/rotom/src/mockServiceWorker.js
  apps/rotom/src/mocks/server/browser.ts
  apps/rotom/src/mocks/server/handlers/handler-types.ts
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  apps/smeargle/src/mocks/server/browser.ts
  apps/smeargle/src/mocks/server/handlers/handler-types.ts
  pnpm-lock.yaml
  renovate.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add preflight check
  preflight-check.sh
Due: none

Add preflight check (#160)
  preflight-check.sh
Due: none

chore: remove vite-tsconfig-paths from packages
  packages/ui-react/package.json
  packages/ui-react/vite.config.ts
  packages/ui-solid/package.json
  packages/ui-solid/vite.config.ts
  packages/utils/package.json
  packages/utils/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

feat: add vrt package
  .vscode/showcase.code-workspace
  packages/vrt/.eslintrc.cjs
  packages/vrt/package.json
  packages/vrt/src/index.ts
  packages/vrt/src/scenario.ts
  packages/vrt/src/types.ts
  packages/vrt/src/viewport.ts
  packages/vrt/tsconfig.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add vrt to ui-react
  .eslintignore
  .gitignore
  .ls-lint.yml
  package.json
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/counter/counter.vrt.ts
  packages/ui-react/tsconfig.node.json
  packages/ui-react/vrt/playwright.config.ts
  packages/vrt/src/scenario.ts
  packages/vrt/src/types.ts
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add vrt to smeargle
  apps/smeargle/package.json
  apps/smeargle/src/app/components/counter/counter.vrt.ts
  apps/smeargle/tsconfig.json
  apps/smeargle/tsconfig.node.json
  apps/smeargle/vrt/playwright.config.ts
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add vrt to ui-solid
  packages/ui-solid/package.json
  packages/ui-solid/src/lib/components/counter/counter.vrt.ts
  packages/ui-solid/tsconfig.node.json
  packages/ui-solid/vrt/playwright.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add vrt to ninjask
  apps/ninjask/package.json
  apps/ninjask/src/app/components/counter/counter.vrt.ts
  apps/ninjask/tsconfig.node.json
  apps/ninjask/vrt/playwright.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add vrt to ui-angular
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/counter/counter.vrt.ts
  packages/ui-angular/vrt/playwright.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add vrt to rotom
  apps/ninjask/package.json
  apps/rotom/package.json
  apps/rotom/src/app/components/counter/counter.component.test.ts
  apps/rotom/src/app/components/counter/counter.vrt.ts
  apps/rotom/vrt/playwright.config.ts
  packages/ui-angular/package.json
  packages/ui-solid/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: configure git lfs
  .gitattributes
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none
