Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

refactor(styles): rename text export to include prefix
  packages/styles/.storybook/styles.scss
  packages/styles/src/stylesheets/_base.scss
  packages/styles/src/stylesheets/_typography.scss
  packages/styles/src/stylesheets/styles.scss
  packages/styles/src/stylesheets/utils/_index.scss
  packages/ui-react/src/lib/components/product-card/product-card.module.scss
Due: ls-lint, stylelint --fix, prettier --write

chore: improve vscode css variable lookup
  .vscode/extensions.json
  .vscode/showcase.code-workspace
Due: none

chore: change turborepo ui
  turbo.json
Due: none

refactor(api): move openapi spec to shared package and improve orval import
  .vscode/showcase.code-workspace
  apps/rotom/orval.config.ts
  apps/rotom/package.json
  apps/smeargle/orval.config.ts
  apps/smeargle/package.json
  packages/api-contracts/index.ts
  packages/api-contracts/openapi.yaml
  packages/api-contracts/package.json
  packages/eslint-config-shared/src/restricted-imports.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(styles): add base text color
  packages/styles/src/stylesheets/_base.scss
Due: ls-lint, stylelint --fix, prettier --write

chore: update vscode recommended extensions
  .vscode/extensions.json
Due: none

chore: fix some sass vscode plugin autocomplete
  .vscode/extensions.json
  .vscode/showcase.code-workspace
Due: none

refactor: provide CSS variables for breakpoints and improve docs
  packages/api-contracts/openapi.yaml
  packages/styles/.storybook/styles.scss
  packages/styles/src/stories/color/Color.mdx
  packages/styles/src/stories/themes/Themes.mdx
  packages/styles/src/stories/typography/Typography.mdx
  packages/styles/src/stories/variables/Variables.mdx
  packages/styles/src/stories/variables/variables.stories.tsx
  packages/styles/src/stylesheets/_base.scss
  packages/styles/src/stylesheets/utils/_variables.scss
  packages/styles/src/tokens/globals/components/typography.json
  stylelint.config.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

refactor(styles): remove prefix
  packages/styles/src/stylesheets/_base.scss
  packages/styles/src/stylesheets/_typography.scss
  packages/styles/src/stylesheets/styles.scss
  packages/styles/src/stylesheets/utils/_text.scss
  packages/styles/src/stylesheets/utils/_variables.scss
Due: ls-lint, stylelint --fix, prettier --write

build(styles): add stylesheet compilation step and improve IDE CSS autocomplete
  packages/styles/package.json
  packages/styles/src/stylesheets/_normalize.scss
  pnpm-lock.yaml
  stylelint.config.js
Due: ls-lint, stylelint --fix, prettier --write

chore(styles): add CSS class autocomplete
  .vscode/extensions.json
  .vscode/showcase.code-workspace
Due: none

chore(styles): support sass pkg imports
  .vscode/showcase.code-workspace
  packages/styles/vite.config.ts
Due: prettier --write

refactor(styles): simplify fluid sizes using clamp and round
  packages/styles/src/stylesheets/utils/_functions.scss
  packages/styles/src/stylesheets/utils/_text.scss
  packages/styles/src/tokens/globals/components/typography.json
Due: ls-lint, stylelint --fix, prettier --write

feat(styles): add price and make spacing fluid
  apps/smeargle/src/app/layouts/app-layout.module.scss
  apps/smeargle/src/app/layouts/app-layout.tsx
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.module.scss
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-listing-grid.module.scss
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-listing-grid.stories.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-listing-grid.tsx
  packages/styles/src/tokens/globals/components/typography.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(smeargle): add default not found component
  apps/smeargle/src/app/router.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(smeargle): add outline and hover styles
  packages/styles/src/stylesheets/_base.scss
  packages/styles/src/stylesheets/utils/_functions.scss
  packages/styles/src/stylesheets/utils/_index.scss
  packages/styles/src/stylesheets/utils/_mixins.scss
  packages/styles/src/tokens/themes/rotom-dark/color/semantic.json
  packages/styles/src/tokens/themes/rotom/color/semantic.json
  packages/styles/src/tokens/themes/smeargle-dark/color/semantic.json
  packages/styles/src/tokens/themes/smeargle/color/semantic.json
  packages/ui-react/src/lib/components/product-card/product-card.module.scss
  packages/ui-react/src/lib/components/product-card/product-card.stories.tsx
  packages/ui-react/src/lib/components/product-card/product-card.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

refactor(smeargle): add tokens for radius and rename token files
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.module.scss
  packages/styles/src/stories/color/color.stories.tsx
  packages/styles/src/stylesheets/_base.scss
  packages/styles/src/stylesheets/utils/_mixins.scss
  packages/styles/src/tokens/globals/base/font.json
  packages/styles/src/tokens/globals/base/radius.json
  packages/styles/src/tokens/themes/rotom-dark/color/palette.json
  packages/styles/src/tokens/themes/rotom-dark/color/semantic.json
  packages/styles/src/tokens/themes/rotom/color/palette.json
  packages/styles/src/tokens/themes/rotom/color/semantic.json
  packages/styles/src/tokens/themes/smeargle-dark/color/palette.json
  packages/styles/src/tokens/themes/smeargle-dark/color/semantic.json
  packages/styles/src/tokens/themes/smeargle/color/palette.json
  packages/styles/src/tokens/themes/smeargle/color/semantic.json
  packages/ui-react/src/lib/components/product-card/product-card.module.scss
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

docs(smeargle): add product cart and grid docs
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-listing-grid.module.scss
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-listing-grid.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

test: add product card tests
  apps/smeargle/src/pages/product-listing/product-listing-page.test.tsx
  apps/smeargle/src/pages/product-listing/product-listing-page.tsx
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.test.tsx
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-listing-grid.test.tsx
  packages/eslint-config-shared/src/index.ts
  packages/ui-react/src/lib/components/product-card/headless-product-card.test.tsx
  packages/ui-react/src/lib/components/product-card/product-card.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(smeargle): allow mocks to be imported without a bundler
  apps/smeargle/public/mocks/product-image.jpg
  apps/smeargle/src/mocks/api/factories/product-factory.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test(smeargle): adjust integration test
  apps/smeargle/tests/integration/src/tests/product-list.test.ts
Due: prettier --write

chore: use PNPM catalogs to manage dependencies
  apps/rotom/package.json
  apps/smeargle/package.json
  package.json
  packages/axe/package.json
  packages/eslint-config-shared/package.json
  packages/orval/package.json
  packages/stories/package.json
  packages/styles/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: use PNPM catalogs to manage dependencies (#1351)
  apps/rotom/package.json
  apps/smeargle/package.json
  package.json
  packages/axe/package.json
  packages/eslint-config-shared/package.json
  packages/orval/package.json
  packages/stories/package.json
  packages/styles/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: bump PNPM to v11.22.0
  README.md
  package.json
Due: none

chore: bump PNPM to v11.22.0 (#1352)
  README.md
  package.json
Due: none

chore: set max node memory for renovate
  renovate.json
Due: none

chore: update renovate validator script
  package.json
Due: none

chore: set max node memory for renovate (#1353)
  package.json
  renovate.json
Due: none

chore: bump jest-axe to v11.0.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: disable sonarjs/no-redundant-optional
  packages/eslint-config-shared/src/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: adapt orval mock config
  packages/orval/src/index.ts
  packages/orval/src/zod-transformer.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: bump storybook to v10.5.10
  packages/styles/src/stories/variables/variables.stories.tsx
  packages/ui-react/.storybook/main.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: use @storybook/angular-vite
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/angular.json
  apps/rotom/documentation.json
  apps/rotom/package.json
  apps/rotom/src/app/app.stories.ts
  apps/rotom/tsconfig.node.json
  apps/rotom/vite.config.ts
  apps/rotom/vitest.config.ts
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/angular.json
  packages/ui-angular/documentation.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/example-counter/example-counter.stories.ts
  packages/ui-angular/tsconfig.node.json
  packages/ui-angular/vite.config.ts
  packages/ui-angular/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: compodoc file location
  apps/rotom/.storybook/main.ts
  apps/rotom/angular.json
  apps/rotom/documentation.json
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/angular.json
  packages/ui-angular/documentation.json
Due: prettier --write

chore: bump storybook to v10.5.10 (#1407)
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/app/app.stories.ts
  apps/rotom/tsconfig.node.json
  apps/rotom/vite.config.ts
  apps/rotom/vitest.config.ts
  packages/styles/src/stories/variables/variables.stories.tsx
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/example-counter/example-counter.stories.ts
  packages/ui-angular/tsconfig.node.json
  packages/ui-angular/vite.config.ts
  packages/ui-angular/vitest.config.ts
  packages/ui-react/.storybook/main.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: bump Angular to v22.1
  apps/rotom/package.json
  apps/rotom/src/app/app.ts
  apps/rotom/tsconfig.app-development.json
  apps/rotom/tsconfig.app.json
  apps/rotom/tsconfig.json
  apps/rotom/tsconfig.lint.json
  apps/rotom/tsconfig.test.json
  packages/eslint-config-shared/src/index.ts
  packages/tsconfig/tsconfig.angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/example-counter/example-counter.ts
  packages/ui-angular/tsconfig.json
  packages/ui-angular/tsconfig.lib.json
  packages/ui-angular/tsconfig.test.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: bump Angular to v22.1 (#1408)
  apps/rotom/package.json
  apps/rotom/src/app/app.ts
  apps/rotom/tsconfig.app-development.json
  apps/rotom/tsconfig.app.json
  apps/rotom/tsconfig.json
  apps/rotom/tsconfig.lint.json
  apps/rotom/tsconfig.test.json
  packages/eslint-config-shared/src/index.ts
  packages/tsconfig/tsconfig.angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/example-counter/example-counter.ts
  packages/ui-angular/tsconfig.json
  packages/ui-angular/tsconfig.lib.json
  packages/ui-angular/tsconfig.test.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: remove @angular-devkit/build-angular
  apps/rotom/package.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: remove @angular-devkit/build-angular (#1410)
  apps/rotom/package.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write
