Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: add unused imports linter
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add eslint config to packages without framework
  packages/bundle-i18n/eslint.config.js
  packages/bundle-i18n/package.json
  packages/eslint-config/index.js
  packages/vite-plugin-bundle-i18n/eslint.config.js
  packages/vite-plugin-bundle-i18n/package.json
  packages/vrt/eslint.config.js
  packages/vrt/package.json
  packages/vrt/src/scenario.ts
  packages/vrt/src/types.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add eslint config to all react packages
  apps/smeargle/eslint.config.js
  apps/smeargle/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: delete unused react eslint config package
  .vscode/showcase.code-workspace
  packages/eslint-config-react/index.cjs
  packages/eslint-config-react/package.json
  packages/eslint-config/index.js
  pnpm-lock.yaml
Due: prettier --write

chore: put this on standby until angular improves support
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/eslint-config/index.js
  packages/ui-angular/package.json
  packages/ui-react/src/lib/hooks/use-controllable-state.ts
  packages/utils/vite.config.ts
  packages/vite-plugin-bundle-i18n/src/index.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: move eslint config angular into eslint config
  .vscode/showcase.code-workspace
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-angular/package.json
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
  packages/ui-angular/eslint.config.js
  pnpm-lock.yaml
Due: prettier --write

fix: eslint in lint-staged
  apps/rotom/lint-staged.config.js
  apps/smeargle/lint-staged.config.js
  apps/smeargle/package.json
  lint-staged.config.js
  packages/bundle-i18n/lint-staged.config.js
  packages/bundle-i18n/package.json
  packages/ui-angular/lint-staged.config.js
  packages/ui-react/lint-staged.config.js
  packages/ui-react/package.json
  packages/utils/lint-staged.config.js
  packages/utils/package.json
  packages/vite-plugin-bundle-i18n/lint-staged.config.js
  packages/vite-plugin-bundle-i18n/package.json
  packages/vrt/lint-staged.config.js
  packages/vrt/package.json
Due: prettier --write

fix: eslint rules for react packages
  apps/smeargle/src/app/app.test.tsx
  apps/smeargle/src/app/components/header/header.test.tsx
  apps/smeargle/src/app/components/sidebar/sidebar.test.tsx
  apps/smeargle/src/app/core/contexts/config/config-provider.test.tsx
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  packages/ui-react/src/lib/components/button/button.stories.tsx
  packages/ui-react/src/lib/components/button/button.test.tsx
  packages/ui-react/src/lib/components/button/button.tsx
  packages/ui-react/src/lib/components/card-popover/card-popover.tsx
  packages/ui-react/src/lib/components/card/card.test.tsx
  packages/ui-react/src/lib/components/counter/counter.tsx
  packages/ui-react/src/lib/components/header/header.test.tsx
  packages/ui-react/src/lib/components/icon/icon.test.tsx
  packages/ui-react/src/lib/components/popover/use-popover.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.test.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
  packages/ui-react/src/lib/contexts/ui-config.test.tsx
  packages/ui-react/src/lib/stories/decorators.tsx
  packages/ui-react/src/lib/utils/context.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: eslint rules for vanilla packages
  packages/eslint-config/index.js
Due: prettier --write

fix: eslint rules for angular packages
  apps/rotom/eslint.config.js
  apps/rotom/package.json
  apps/rotom/src/main-development.ts
  apps/rotom/src/main.ts
  apps/smeargle/eslint.config.js
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  packages/ui-angular/eslint.config.js
  packages/ui-angular/package.json
  packages/ui-angular/src/a11y/a11y.ts
  packages/ui-angular/src/lib/components/card/card.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group-popover-content.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/directives/button/button.stories.ts
  packages/ui-angular/src/lib/directives/header/header.directive.test.ts
  packages/ui-angular/src/lib/directives/header/header.directive.ts
  packages/ui-angular/src/lib/directives/header/header.stories.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/i18n/inject-translation.ts
  packages/ui-angular/src/lib/i18n/translation.directive.ts
  packages/ui-angular/src/lib/i18n/translation.service.ts
  packages/ui-angular/src/lib/overlay/floating-adapter.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
  packages/ui-angular/src/lib/portal/portal.service.test.ts
  packages/ui-angular/src/lib/portal/portal.service.ts
  packages/ui-angular/src/lib/portal/portal.stories.ts
  packages/ui-angular/src/lib/stories/decorators.ts
  packages/ui-angular/src/lib/stories/hooks.ts
  packages/ui-angular/src/lib/utils/controllable-signal.ts
  packages/ui-angular/src/lib/utils/provider.ts
  packages/ui-angular/src/lib/utils/signal.ts
  packages/ui-angular/src/lib/utils/zone.ts
  packages/ui-react/eslint.config.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: cleanup
  apps/rotom/README.md
  apps/rotom/package.json
  apps/smeargle/src/app/core/contexts/config/config-provider.test.tsx
  lint-staged.config.js
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: cleanup
  packages/ui-angular/src/lib/i18n/inject-translation.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

ci: delete outdated images
  .github/workflows/ci.yml
Due: none

ci: try fix
  .github/workflows/ci.yml
Due: none

CI: Delete outdated images (#774)
  .github/workflows/ci.yml
Due: none

Remove unnecessary CI job steps (#775)
  .github/workflows/ci.yml
Due: none

chore: update msw to 2.4.9
  apps/rotom/README.md
  apps/rotom/package.json
  apps/rotom/public/mockServiceWorker.js
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update msw to 2.4.9 (#782)
  apps/rotom/README.md
  apps/rotom/package.json
  apps/rotom/public/mockServiceWorker.js
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: refactor angular tests to not import storybook utils
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.test.ts
  packages/ui-angular/src/lib/directives/button/button.directive.test.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.test.ts
  packages/ui-angular/src/lib/directives/focus-ring/focus-ring.directive.test.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.test.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
  packages/ui-angular/src/lib/test/args.ts
  packages/ui-angular/src/lib/test/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: refactor aliased stories
  packages/ui-angular/src/lib/directives/disclosure/disclosure.stories.ts
  packages/ui-angular/src/lib/directives/popover/popover.stories.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add overlay delay group
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.html
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.component.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/overlay/index.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.service.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
  packages/ui-angular/src/lib/overlay/overlay-types.ts
  packages/ui-angular/src/lib/overlay/overlay-utils.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support using each overlay's delay in group
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.html
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.service.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
  packages/ui-angular/src/lib/overlay/overlay-types.ts
  packages/ui-angular/src/lib/overlay/overlay-utils.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: connectsignal to registerSignal
  apps/rotom/.storybook/decorators.ts
  packages/ui-angular/.storybook/decorators.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.component.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.service.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
  packages/ui-angular/src/lib/utils/signal.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(react): support delay group
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/lib/components/tooltip/use-tooltip-delay.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: missing import
  apps/rotom/.storybook/decorators.ts
Due: prettier --write

test(react): add over delay group tests
  packages/eslint-config/index.js
  packages/ui-react/src/lib/components/index.ts
  packages/ui-react/src/lib/components/overlay/overlay-delay-group.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
  packages/ui-react/src/lib/test/index.ts
  packages/ui-react/src/lib/test/workarounds.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(react): add delay group to tooltip stories
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(angular): add delay group to tooltip stories
  packages/ui-angular/src/lib/directives/tooltip/tooltip.stories.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(react): fix tooltip delay group test
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test(react): improve delay group tooltip tests
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test(angular): add delay group tests for tooltip
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add overlay delay group (#789)
  apps/rotom/.storybook/decorators.ts
  packages/eslint-config/index.js
  packages/ui-angular/.storybook/decorators.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.component.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.stories.ts
  packages/ui-angular/src/lib/overlay/index.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.service.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
  packages/ui-angular/src/lib/overlay/overlay-types.ts
  packages/ui-angular/src/lib/overlay/overlay-utils.ts
  packages/ui-angular/src/lib/utils/signal.ts
  packages/ui-react/src/lib/components/index.ts
  packages/ui-react/src/lib/components/overlay/overlay-delay-group.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/lib/components/tooltip/use-tooltip-delay.tsx
  packages/ui-react/src/lib/test/index.ts
  packages/ui-react/src/lib/test/workarounds.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(angular): merge observable and signal effect handlers
  apps/rotom/.storybook/decorators.ts
  packages/ui-angular/.storybook/decorators.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
  packages/ui-angular/src/lib/utils/effect.ts
  packages/ui-angular/src/lib/utils/index.ts
  packages/ui-angular/src/lib/utils/rxjs.ts
  packages/ui-angular/src/lib/utils/signal.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Refactor(angular): merge observable and signal effect handlers (#792)
  apps/rotom/.storybook/decorators.ts
  packages/ui-angular/.storybook/decorators.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-delay-group.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
  packages/ui-angular/src/lib/utils/effect.ts
  packages/ui-angular/src/lib/utils/index.ts
  packages/ui-angular/src/lib/utils/rxjs.ts
  packages/ui-angular/src/lib/utils/signal.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: improve eslint coverage
  apps/rotom/.storybook/decorators.ts
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/eslint.config.js
  apps/rotom/lint-staged.config.mjs
  apps/rotom/package.json
  apps/rotom/vrt/playwright.config.ts
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/eslint.config.js
  apps/smeargle/package.json
  apps/smeargle/vrt/playwright.config.ts
  packages/bundle-i18n/eslint.config.js
  packages/bundle-i18n/package.json
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.vite-node.json
  packages/ui-angular/eslint.config.js
  packages/ui-angular/lint-staged.config.mjs
  packages/ui-angular/package.json
  packages/ui-angular/vrt/playwright.config.ts
  packages/ui-react/eslint.config.js
  packages/ui-react/package.json
  packages/ui-react/vrt/playwright.config.ts
  packages/utils/eslint.config.js
  packages/utils/package.json
  packages/vite-plugin-bundle-i18n/eslint.config.js
  packages/vite-plugin-bundle-i18n/package.json
  packages/vrt/eslint.config.js
  packages/vrt/package.json
  packages/vrt/src/scenario.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Path conditions:
  ls-lint: any of: {apps,packages}/*/{src,e2e,vrt}/**/*
  eslint --cache --fix --report-unused-disable-directives --max-warnings 0: any of: {apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: {apps,packages}/*/src/**/*.{css,scss}
  prettier --write: any of: {apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
