Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

feat: configure commit-msg git hook
  .eslintignore
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: none

refactor: convert linters to config.js files
  .eslintignore
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  lint-staged.config.js
  prettier.config.js
  stylelint.config.cjs
Due: none

Add git hooks (#44)
  .eslintignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc.json
  .stylelintrc.json
  apps/ninjask/src/index.css
  apps/rotom/src/app/app.component.scss
  apps/rotom/src/app/app.component.ts
  apps/smeargle/src/index.css
  commitlint.config.js
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  stylelint.config.cjs
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

chore: configure vscode multi repo workspace
  .gitignore
  .vscode/settings.shared.json
  .vscode/showcase.code-workspace
  pnpm-lock.yaml
Due: none

chore: add apps and packages folders to workspace
  .vscode/showcase.code-workspace
Due: none

Configure vscode multi repo workspace (#46)
  .gitignore
  .vscode/settings.shared.json
  .vscode/showcase.code-workspace
  pnpm-lock.yaml
Due: none

chore: create tsconfig package
  .vscode/showcase.code-workspace
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.angular.json
  packages/tsconfig/tsconfig.lint.json
  packages/tsconfig/tsconfig.vite-node.json
  packages/tsconfig/tsconfig.vite-react.json
  packages/tsconfig/tsconfig.vite-solid.json
  packages/tsconfig/tsconfig.vite.json
  pnpm-lock.yaml
Due: prettier --write

refactor: use tsconfig package in apps
  apps/ninjask/package.json
  apps/ninjask/tsconfig.json
  apps/ninjask/tsconfig.node.json
  apps/rotom/package.json
  apps/rotom/tsconfig.json
  apps/smeargle/package.json
  apps/smeargle/tsconfig.json
  apps/smeargle/tsconfig.node.json
  pnpm-lock.yaml
Due: prettier --write

Add shared tsconfig package (#48)
  .vscode/showcase.code-workspace
  apps/ninjask/package.json
  apps/ninjask/tsconfig.json
  apps/ninjask/tsconfig.node.json
  apps/rotom/package.json
  apps/rotom/tsconfig.json
  apps/smeargle/package.json
  apps/smeargle/tsconfig.json
  apps/smeargle/tsconfig.node.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.angular.json
  packages/tsconfig/tsconfig.lint.json
  packages/tsconfig/tsconfig.vite-node.json
  packages/tsconfig/tsconfig.vite-react.json
  packages/tsconfig/tsconfig.vite-solid.json
  packages/tsconfig/tsconfig.vite.json
  pnpm-lock.yaml
Due: prettier --write

fix: eslintignore not working
  .vscode/settings.shared.json
  .vscode/showcase.code-workspace
  apps/smeargle/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove invalid package from workspace
  .vscode/showcase.code-workspace
Due: none

Fix eslintignore not working (#49)
  .vscode/settings.shared.json
  .vscode/showcase.code-workspace
  apps/smeargle/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(smeargle): setup tests and server mocks
  .vscode/showcase.code-workspace
  apps/smeargle/package.json
  apps/smeargle/src/app.test.tsx
  apps/smeargle/src/mocks/server/browser.ts
  apps/smeargle/src/mocks/server/database/database.ts
  apps/smeargle/src/mocks/server/handlers/handler-types.ts
  apps/smeargle/src/mocks/server/handlers/handlers.ts
  apps/smeargle/src/mocks/server/seeds/seed-database.ts
  apps/smeargle/src/mocks/server/server.ts
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/src/test/utils/axe.ts
  apps/smeargle/src/test/utils/cookie.ts
  apps/smeargle/src/test/utils/render.tsx
  apps/smeargle/tsconfig.json
  apps/smeargle/vite.config.ts
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(smeargle): init msw
  .ls-lint.yml
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
Due: prettier --write

feat(smeargle): remove lslint rule
  .ls-lint.yml
Due: none

feat(smeargle): add msw to app
  apps/smeargle/src/main.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Setup testing for React (#53)
  .vscode/showcase.code-workspace
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  apps/smeargle/src/app.test.tsx
  apps/smeargle/src/main.tsx
  apps/smeargle/src/mocks/server/browser.ts
  apps/smeargle/src/mocks/server/database/database.ts
  apps/smeargle/src/mocks/server/handlers/handler-types.ts
  apps/smeargle/src/mocks/server/handlers/handlers.ts
  apps/smeargle/src/mocks/server/seeds/seed-database.ts
  apps/smeargle/src/mocks/server/server.ts
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/src/test/utils/axe.ts
  apps/smeargle/src/test/utils/cookie.ts
  apps/smeargle/src/test/utils/render.tsx
  apps/smeargle/tsconfig.json
  apps/smeargle/vite.config.ts
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(ninjask): setup testing and msw
  apps/ninjask/package.json
  apps/ninjask/public/mockServiceWorker.js
  apps/ninjask/src/app.test.tsx
  apps/ninjask/src/index.tsx
  apps/ninjask/src/mocks/server/browser.ts
  apps/ninjask/src/mocks/server/database/database.ts
  apps/ninjask/src/mocks/server/handlers/handler-types.ts
  apps/ninjask/src/mocks/server/handlers/handlers.ts
  apps/ninjask/src/mocks/server/seeds/seed-database.ts
  apps/ninjask/src/mocks/server/server.ts
  apps/ninjask/src/test/setup-tests.ts
  apps/ninjask/src/test/utils/axe.ts
  apps/ninjask/src/test/utils/cookie.ts
  apps/ninjask/src/test/utils/render.tsx
  apps/ninjask/tsconfig.json
  apps/ninjask/vite.config.ts
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
  packages/eslint-config-solid/index.cjs
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Setup testing for Solidjs (#54)
  apps/ninjask/package.json
  apps/ninjask/public/mockServiceWorker.js
  apps/ninjask/src/app.test.tsx
  apps/ninjask/src/index.tsx
  apps/ninjask/src/mocks/server/browser.ts
  apps/ninjask/src/mocks/server/database/database.ts
  apps/ninjask/src/mocks/server/handlers/handler-types.ts
  apps/ninjask/src/mocks/server/handlers/handlers.ts
  apps/ninjask/src/mocks/server/seeds/seed-database.ts
  apps/ninjask/src/mocks/server/server.ts
  apps/ninjask/src/test/setup-tests.ts
  apps/ninjask/src/test/utils/axe.ts
  apps/ninjask/src/test/utils/cookie.ts
  apps/ninjask/src/test/utils/render.tsx
  apps/ninjask/tsconfig.json
  apps/ninjask/vite.config.ts
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
  packages/eslint-config-solid/index.cjs
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add test step to CI
  .github/workflows/ci.yml
  apps/rotom/package.json
  package.json
  turbo.json
Due: prettier --write

Add test step to CI (#55)
  .github/workflows/ci.yml
  apps/rotom/package.json
  package.json
  turbo.json
Due: prettier --write

feat(rotom): setup testing and msw
  .ls-lint.yml
  apps/rotom/angular.json
  apps/rotom/karma.config.js
  apps/rotom/package.json
  apps/rotom/src/main-development.ts
  apps/rotom/src/mockServiceWorker.js
  apps/rotom/src/mocks/server/browser-development.ts
  apps/rotom/src/mocks/server/browser.ts
  apps/rotom/src/mocks/server/database/database.ts
  apps/rotom/src/mocks/server/handlers/handler-types.ts
  apps/rotom/src/mocks/server/handlers/handlers.ts
  apps/rotom/src/mocks/server/seeds/seed-database.ts
  apps/rotom/src/test/global-testing-setup.module.ts
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/src/test/utils/cookie.ts
  apps/rotom/src/test/utils/render.ts
  apps/rotom/tsconfig.spec.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(rotom): support .test files, add test
  apps/rotom/angular.json
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.test.ts
  apps/rotom/src/app/app.component.ts
  apps/rotom/tsconfig.app.json
  apps/rotom/tsconfig.test.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: cleanup other tests
  apps/ninjask/.gitignore
  apps/ninjask/src/app.test.tsx
  apps/smeargle/src/app.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix(rotom): prettier ignore msw file
  .prettierignore
  lint-staged.config.js
  prettier.config.js
  stylelint.config.cjs
Due: none

ci: install playwright dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: none

ci: install only chromium for integration testing
  .github/workflows/ci.yml
Due: none

Setup testing for Angular (#61)
  .github/workflows/ci.yml
  .ls-lint.yml
  .prettierignore
  apps/ninjask/.gitignore
  apps/ninjask/src/app.test.tsx
  apps/rotom/angular.json
  apps/rotom/karma.config.js
  apps/rotom/package.json
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.test.ts
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/main-development.ts
  apps/rotom/src/mockServiceWorker.js
  apps/rotom/src/mocks/server/browser-development.ts
  apps/rotom/src/mocks/server/browser.ts
  apps/rotom/src/mocks/server/database/database.ts
  apps/rotom/src/mocks/server/handlers/handler-types.ts
  apps/rotom/src/mocks/server/handlers/handlers.ts
  apps/rotom/src/mocks/server/seeds/seed-database.ts
  apps/rotom/src/test/global-testing-setup.module.ts
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/src/test/utils/cookie.ts
  apps/rotom/src/test/utils/render.ts
  apps/rotom/tsconfig.app.json
  apps/rotom/tsconfig.test.json
  apps/smeargle/src/app.test.tsx
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  stylelint.config.cjs
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add ui package
  .ls-lint.yml
  .vscode/showcase.code-workspace
  apps/smeargle/src/app.tsx
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/vite.config.ts
  packages/ui-react/.eslintrc.cjs
  packages/ui-react/package.json
  packages/ui-react/src/components/counter/counter.test.tsx
  packages/ui-react/src/components/counter/counter.tsx
  packages/ui-react/src/index.ts
  packages/ui-react/src/test/index.ts
  packages/ui-react/src/test/setup-tests.ts
  packages/ui-react/src/test/utils/axe.ts
  packages/ui-react/src/test/utils/cookie.ts
  packages/ui-react/src/test/utils/render.tsx
  packages/ui-react/tsconfig.json
  packages/ui-react/tsconfig.node.json
  packages/ui-react/vitest.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: force relative imports for packages
  .eslintignore
  packages/ui-react/src/components/counter/counter.test.tsx
  packages/ui-react/tsconfig.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: use vite instead of vitest config
  .eslintignore
  apps/ninjask/vite.config.ts
  packages/ui-react/tsconfig.node.json
  packages/ui-react/vite.config.ts
Due: prettier --write

Add React UI package (#64)
  .ls-lint.yml
  .vscode/showcase.code-workspace
  apps/smeargle/src/app.tsx
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/vite.config.ts
  packages/ui-react/.eslintrc.cjs
  packages/ui-react/package.json
  packages/ui-react/src/components/counter/counter.test.tsx
  packages/ui-react/src/components/counter/counter.tsx
  packages/ui-react/src/index.ts
  packages/ui-react/src/test/index.ts
  packages/ui-react/src/test/setup-tests.ts
  packages/ui-react/src/test/utils/axe.ts
  packages/ui-react/src/test/utils/cookie.ts
  packages/ui-react/src/test/utils/render.tsx
  packages/ui-react/tsconfig.json
  packages/ui-react/tsconfig.node.json
  packages/ui-react/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add ui package
  .vscode/showcase.code-workspace
  apps/ninjask/package.json
  apps/ninjask/src/app.tsx
  packages/ui-solid/.eslintrc.cjs
  packages/ui-solid/package.json
  packages/ui-solid/src/components/counter/counter.test.tsx
  packages/ui-solid/src/components/counter/counter.tsx
  packages/ui-solid/src/index.ts
  packages/ui-solid/src/test/index.ts
  packages/ui-solid/src/test/setup-tests.ts
  packages/ui-solid/src/test/utils/axe.ts
  packages/ui-solid/src/test/utils/cookie.ts
  packages/ui-solid/src/test/utils/render.tsx
  packages/ui-solid/tsconfig.json
  packages/ui-solid/tsconfig.node.json
  packages/ui-solid/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add Solid UI package (#65)
  .vscode/showcase.code-workspace
  apps/ninjask/package.json
  apps/ninjask/src/app.tsx
  packages/ui-solid/.eslintrc.cjs
  packages/ui-solid/package.json
  packages/ui-solid/src/components/counter/counter.test.tsx
  packages/ui-solid/src/components/counter/counter.tsx
  packages/ui-solid/src/index.ts
  packages/ui-solid/src/test/index.ts
  packages/ui-solid/src/test/setup-tests.ts
  packages/ui-solid/src/test/utils/axe.ts
  packages/ui-solid/src/test/utils/cookie.ts
  packages/ui-solid/src/test/utils/render.tsx
  packages/ui-solid/tsconfig.json
  packages/ui-solid/tsconfig.node.json
  packages/ui-solid/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add ui package
  .vscode/showcase.code-workspace
  apps/ninjask/src/app.tsx
  apps/rotom/README.md
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.ts
  apps/rotom/tsconfig.json
  apps/smeargle/src/app.tsx
  packages/ui-angular/.eslintrc.js
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/components/counter/counter.component.html
  packages/ui-angular/src/components/counter/counter.component.ts
  packages/ui-angular/src/index.ts
  packages/ui-angular/tsconfig.json
  packages/ui-angular/tsconfig.lib.json
  packages/ui-angular/tsconfig.lib.prod.json
  packages/ui-angular/tsconfig.test.json
  packages/ui-react/package.json
  packages/ui-react/src/components/counter/counter.test.tsx
  packages/ui-react/src/components/counter/counter.tsx
  packages/ui-solid/package.json
  packages/ui-solid/src/components/counter/counter.test.tsx
  packages/ui-solid/src/components/counter/counter.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: move test utils to ui library
  apps/rotom/README.md
  apps/rotom/src/app/app.component.test.ts
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/tsconfig.json
  packages/ui-angular/src/test/index.ts
  packages/ui-angular/src/test/utils/cookie.ts
  packages/ui-angular/src/test/utils/render.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: setup testing for ui
  apps/ninjask/src/test/setup-tests.ts
  apps/rotom/package.json
  packages/eslint-config-angular/index.cjs
  packages/ui-angular/angular.json
  packages/ui-angular/karma.config.js
  packages/ui-angular/package.json
  packages/ui-angular/src/components/counter/counter.component.test.ts
  packages/ui-angular/src/test/global-testing-setup.module.ts
  packages/ui-angular/src/test/index.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-angular/src/test/utils/axe.ts
  packages/ui-angular/src/test/utils/render.ts
  packages/ui-angular/tsconfig.lib.json
  packages/ui-angular/tsconfig.lib.prod.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: vitest axe types
  .vscode/showcase.code-workspace
  apps/ninjask/package.json
  apps/ninjask/src/test/setup-tests.ts
  apps/smeargle/package.json
  apps/smeargle/src/test/setup-tests.ts
  packages/ui-react/package.json
  packages/ui-react/src/test/extend-expect.ts
  packages/ui-react/src/test/setup-tests.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/test/extend-expect.ts
  packages/ui-solid/src/test/setup-tests.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: fix solid tests
  apps/ninjask/src/app.test.tsx
  apps/ninjask/src/test/setup-tests.ts
  apps/ninjask/src/test/utils/axe.ts
  apps/ninjask/src/test/utils/cookie.ts
  apps/ninjask/src/test/utils/render.tsx
  packages/ui-react/package.json
  packages/utils/package.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: cleanup
  packages/utils/package.json
Due: prettier --write
