Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

Revert "ci: remove playwright skip download flag"
  .github/workflows/ci.yml
Due: none

Revert "ci: add basic devcontainer in ci"
  .github/workflows/ci.yml
  README.md
Due: none

chore: install all playwright dependencies in devcontainer
  .devcontainer/devcontainer.json
Due: none

chore: update readme
  README.md
Due: none

chore: add more ports to devcontainer
  .devcontainer/devcontainer.json
Due: none

chore: add missing port and chore to ui-react vrt
  packages/ui-react/vrt/playwright.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: allow access browser in devcontainer via novnc
  .devcontainer/devcontainer.json
  README.md
Due: none

chore: use host network instead of setting host on all scripts
  .devcontainer/devcontainer.json
  README.md
  apps/ninjask/e2e/playwright.config.ts
  apps/ninjask/package.json
  apps/ninjask/vite.config.ts
  apps/ninjask/vrt/playwright.config.ts
  apps/rotom/angular.json
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/package.json
  apps/rotom/vrt/playwright.config.ts
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
  apps/smeargle/vrt/playwright.config.ts
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/vrt/playwright.config.ts
  packages/ui-react/package.json
  packages/ui-react/vrt/playwright.config.ts
  packages/ui-solid/package.json
  packages/ui-solid/vrt/playwright.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

ci: add devcontainer image prebuild to CI
  .github/workflows/ci.yml
Due: none

ci: edit container registry image name
  .github/workflows/ci.yml
Due: none

ci: checkout repository before prebuild
  .github/workflows/ci.yml
Due: none

ci: fix lowercase container registry name
  .github/workflows/ci.yml
Due: none

ci: login to container registry
  .github/workflows/ci.yml
Due: none

ci: debug auth issue
  .github/workflows/ci.yml
Due: none

ci: use github repository for image
  .github/workflows/ci.yml
Due: none

ci: lowercase repository name
  .github/workflows/ci.yml
Due: none

ci: add write permissions to push image
  .github/workflows/ci.yml
Due: none

ci: use base devcontainer to build image
  .devcontainer/devcontainer-base.json
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
Due: none

ci: publish image with actor instead of repository owner
  .github/workflows/ci.yml
Due: none

ci: restrict devcontainer build to only pushes in main
  .github/workflows/ci.yml
Due: none

chore: cleanup
  .devcontainer/devcontainer.json
  README.md
  apps/smeargle/vite.config.ts
Due: prettier --write

chore: add vrt to preflight check
  .gitignore
  preflight-check.sh
Due: none

docs: add dev containers to readme
  .github/workflows/ci.yml
  README.md
Due: none

Setup Devcontainer (#587)
  .devcontainer/devcontainer-base.json
  .devcontainer/devcontainer.json
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  .husky/post-checkout
  README.md
  apps/ninjask/e2e/playwright.config.ts
  apps/ninjask/vrt/playwright.config.ts
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/vrt/playwright.config.ts
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/vrt/playwright.config.ts
  package.json
  packages/ui-angular/vrt/playwright.config.ts
  packages/ui-react/vrt/playwright.config.ts
  packages/ui-solid/vrt/playwright.config.ts
  preflight-check.sh
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: improve search exclusions from workspace
  .vscode/showcase.code-workspace
Due: none

Improve search exclusions in vscode workspace (#589)
  .vscode/showcase.code-workspace
Due: none

chore: lint
  apps/rotom/tsconfig.json
  packages/ui-angular/tsconfig.json
Due: prettier --write

Revert "chore: lint"
  apps/rotom/tsconfig.json
  packages/ui-angular/tsconfig.json
Due: prettier --write

Update Github Actions dependencies (#418)
  .github/workflows/ci.yml
  .github/workflows/update-vrt.yml
Due: none

chore: update React to v18.3
  apps/smeargle/package.json
  packages/assets/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update React eslint
  packages/eslint-config-react/package.json
  pnpm-lock.yaml
Due: prettier --write

[React] Update React to v18.3 (#595)
  apps/smeargle/package.json
  packages/assets/package.json
  packages/eslint-config-react/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add workaround for conflict with testing-library dom library version
  package.json
  pnpm-lock.yaml
Due: none

fix: angular inaccessible tests
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.test.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: add todos
  apps/rotom/README.md
Due: prettier --write

refactor: adapt code to v18 changes
  .ls-lint.yml
  .vscode/showcase.code-workspace
  apps/rotom/.storybook/preview.ts
  apps/rotom/README.md
  apps/rotom/angular.json
  apps/rotom/karma.config.js
  apps/rotom/package.json
  apps/rotom/public/apple-touch-icon.png
  apps/rotom/public/assets/icons/icon-192x192.png
  apps/rotom/public/assets/icons/icon-512x512.png
  apps/rotom/public/favicon.ico
  apps/rotom/public/favicon.svg
  apps/rotom/public/mockServiceWorker.js
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/mocks/server/handlers/handler-types.ts
  apps/rotom/src/test/global-testing-setup.module.ts
  apps/smeargle/src/mocks/server/handlers/handler-types.ts
  package.json
  packages/eslint-config-angular/package.json
  packages/styles/package.json
  packages/tsconfig/tsconfig.angular.json
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/directives/focus-ring/focus-ring.directive.test.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/test/global-testing-setup.module.ts
  packages/utils/package.json
  packages/vrt/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: improve the way inputs are provided via dependency injection
  .vscode/showcase.code-workspace
  apps/rotom/README.md
  packages/ui-angular/src/lib/components/card/card.component.ts
  packages/ui-angular/src/lib/components/card/components/card-header.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/directives/focus-ring/focus-ring.directive.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-card-header.directive.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-card.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/utils/index.ts
  packages/ui-angular/src/lib/utils/provider.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

[Angular] Improve the way inputs are provided via dependency injection (#604)
  .vscode/showcase.code-workspace
  apps/rotom/README.md
  packages/ui-angular/src/lib/components/card/card.component.ts
  packages/ui-angular/src/lib/components/card/components/card-header.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/directives/focus-ring/focus-ring.directive.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-card-header.directive.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-card.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/utils/index.ts
  packages/ui-angular/src/lib/utils/provider.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write
