Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

Setup service workers (#206)
  apps/ninjask/index.html
  apps/ninjask/package.json
  apps/ninjask/public/apple-touch-icon.png
  apps/ninjask/public/favicon.ico
  apps/ninjask/public/favicon.svg
  apps/ninjask/public/icon-192x192.png
  apps/ninjask/public/icon-512x512.png
  apps/ninjask/public/robots.txt
  apps/ninjask/src/vite-env.d.ts
  apps/ninjask/vite.config.ts
  apps/rotom/angular.json
  apps/rotom/ngsw-config.json
  apps/rotom/package.json
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/app/core/providers/service-worker-provider.ts
  apps/rotom/src/apple-touch-icon.png
  apps/rotom/src/assets/.gitkeep
  apps/rotom/src/assets/icons/icon-192x192.png
  apps/rotom/src/assets/icons/icon-512x512.png
  apps/rotom/src/favicon.ico
  apps/rotom/src/favicon.svg
  apps/rotom/src/index.html
  apps/rotom/src/manifest.webmanifest
  apps/rotom/src/robots.txt
  apps/smeargle/index.html
  apps/smeargle/package.json
  apps/smeargle/public/apple-touch-icon.png
  apps/smeargle/public/favicon.ico
  apps/smeargle/public/favicon.svg
  apps/smeargle/public/icon-192x192.png
  apps/smeargle/public/icon-512x512.png
  apps/smeargle/public/robots.txt
  apps/smeargle/src/vite-env.d.ts
  apps/smeargle/vite.config.ts
  packages/tsconfig/tsconfig.vite.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add browserslist config
  .prettierignore
  apps/ninjask/.browserslistrc
  apps/rotom/.browserslistrc
  apps/smeargle/.browserslistrc
Due: none

chore: support browserslist on vite
  apps/ninjask/package.json
  apps/ninjask/vite.config.ts
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

feat: add autoprefixer
  .eslintignore
  apps/ninjask/package.json
  apps/ninjask/postcss.config.js
  apps/smeargle/package.json
  apps/smeargle/postcss.config.js
  pnpm-lock.yaml
Due: prettier --write

Configure browser support (#213)
  .eslintignore
  .prettierignore
  apps/ninjask/.browserslistrc
  apps/ninjask/package.json
  apps/ninjask/postcss.config.js
  apps/ninjask/vite.config.ts
  apps/rotom/.browserslistrc
  apps/smeargle/.browserslistrc
  apps/smeargle/package.json
  apps/smeargle/postcss.config.js
  apps/smeargle/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade storybook to 7.5.3
  apps/ninjask/package.json
  apps/smeargle/package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade storybook to 7.5.3 (#216)
  apps/ninjask/package.json
  apps/smeargle/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add styles package
  .vscode/showcase.code-workspace
  packages/styles/_base.scss
  packages/styles/_index.scss
  packages/styles/_normalize.scss
  packages/styles/package.json
Due: prettier --write

feat: add styles to all apps
  apps/ninjask/package.json
  apps/ninjask/src/index.css
  apps/ninjask/src/index.tsx
  apps/ninjask/src/styles/styles.scss
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/app/app.component.html
  apps/rotom/src/styles.scss
  apps/rotom/src/styles/styles.scss
  apps/smeargle/package.json
  apps/smeargle/src/index.css
  apps/smeargle/src/main.tsx
  apps/smeargle/src/styles/styles.scss
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: add styles to all storybooks
  apps/ninjask/.storybook/preview.ts
  apps/ninjask/src/index.tsx
  apps/rotom/angular.json
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/src/main.tsx
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/styles/styles.scss
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/styles/styles.scss
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/styles/styles.scss
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

Add styles package (#220)
  .vscode/showcase.code-workspace
  apps/ninjask/.storybook/preview.ts
  apps/ninjask/package.json
  apps/ninjask/src/index.css
  apps/ninjask/src/index.tsx
  apps/ninjask/src/styles/styles.scss
  apps/ninjask/vrt/screenshots/app/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/app/app.component.html
  apps/rotom/src/styles.scss
  apps/rotom/src/styles/styles.scss
  apps/rotom/vrt/screenshots/app/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/package.json
  apps/smeargle/src/index.css
  apps/smeargle/src/main.tsx
  apps/smeargle/src/styles/styles.scss
  apps/smeargle/vrt/screenshots/app/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  packages/styles/_base.scss
  packages/styles/_index.scss
  packages/styles/_normalize.scss
  packages/styles/package.json
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/styles/styles.scss
  packages/ui-angular/vrt/screenshots/lib/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/styles/styles.scss
  packages/ui-react/vrt/screenshots/lib/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/styles/styles.scss
  packages/ui-solid/vrt/screenshots/lib/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: add base tokens
  .vscode/showcase.code-workspace
  packages/styles/utils/_functions.scss
  packages/styles/utils/_index.scss
  packages/styles/utils/themes/_smeragle.scss
Due: prettier --write

chore: cleanup
  packages/styles/_index.scss
Due: prettier --write

refactor: convert to css vars
  packages/styles/themes/_smeargle.scss
  packages/styles/utils/themes/_smeragle.scss
Due: prettier --write

feat: add brand and gray colors
  README.md
  packages/styles/themes/_smeargle.scss
Due: prettier --write

feat: add contextual colors
  packages/styles/themes/_smeargle.scss
Due: prettier --write

feat: add dark mode tokens
  packages/styles/themes/_smeargle.scss
Due: prettier --write

feat: add ninjask and rotom themes
  packages/styles/_index.scss
  packages/styles/themes/_index.scss
  packages/styles/themes/_ninjask.scss
  packages/styles/themes/_rotom.scss
Due: prettier --write

Add theme design tokens (#245)
  .vscode/showcase.code-workspace
  README.md
  packages/styles/_index.scss
  packages/styles/themes/_index.scss
  packages/styles/themes/_ninjask.scss
  packages/styles/themes/_rotom.scss
  packages/styles/themes/_smeargle.scss
  packages/styles/utils/_functions.scss
  packages/styles/utils/_index.scss
Due: prettier --write

feat: add text utils
  packages/styles/utils/_index.scss
  packages/styles/utils/_text.scss
Due: prettier --write

Add text style utils (#247)
  packages/styles/utils/_index.scss
  packages/styles/utils/_text.scss
Due: prettier --write

feat: add control utils
  packages/styles/themes/_ninjask.scss
  packages/styles/themes/_rotom.scss
  packages/styles/themes/_smeargle.scss
  packages/styles/utils/_control.scss
  packages/styles/utils/_index.scss
Due: prettier --write

fix: control use instead of import
  packages/styles/utils/_control.scss
Due: prettier --write

Add control style utils (#248)
  packages/styles/themes/_ninjask.scss
  packages/styles/themes/_rotom.scss
  packages/styles/themes/_smeargle.scss
  packages/styles/utils/_control.scss
  packages/styles/utils/_index.scss
Due: prettier --write

feat: add base button styles
  packages/styles/components/_button.scss
  packages/styles/components/_index.scss
Due: prettier --write

feat: add button colors
  apps/rotom/README.md
  packages/styles/_index.scss
  packages/styles/themes/_ninjask.scss
  packages/styles/themes/_rotom.scss
  packages/styles/themes/_smeargle.scss
Due: prettier --write

feat: add primary button variant
  packages/styles/components/_button.scss
Due: prettier --write

feat: implement button variants
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/button/button.directive.ts
  packages/ui-angular/src/lib/components/button/button.stories.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add a11y button tests
  apps/rotom/README.md
  packages/ui-angular/src/lib/components/button/button.directive.test.ts
  packages/ui-angular/src/lib/components/button/button.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add vrt scenarios
  packages/ui-angular/src/lib/components/button/button.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add missing variants
  packages/styles/components/_button.scss
  packages/styles/themes/_ninjask.scss
  packages/styles/themes/_rotom.scss
  packages/styles/themes/_smeargle.scss
  packages/ui-angular/src/lib/components/button/button.directive.ts
  packages/ui-angular/src/lib/components/button/button.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add storybook theme buttons
  apps/ninjask/.storybook/preview.ts
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-solid/.storybook/preview.ts
Due: prettier --write

feat: apply theme to Angular stories
  apps/ninjask/.storybook/preview.ts
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/src/lib/stories/components.ts
  packages/ui-angular/src/lib/stories/index.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-solid/.storybook/preview.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: refactor Angular story theme provider
  apps/rotom/.storybook/decorators.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/.storybook/tsconfig.json
  packages/ui-angular/.storybook/decorators.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/.storybook/tsconfig.json
  packages/ui-angular/src/lib/stories/components.ts
  packages/ui-angular/src/lib/stories/hooks.ts
  packages/ui-angular/src/lib/stories/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: apply theme to React stories
  apps/smeargle/.storybook/decorators.tsx
  apps/smeargle/.storybook/preview.ts
  packages/ui-react/.storybook/decorators.tsx
  packages/ui-react/.storybook/preview.ts
Due: prettier --write

feat: apply theme to Solid stories
  apps/ninjask/.storybook/decorators.tsx
  apps/ninjask/.storybook/preview.ts
  apps/ninjask/tsconfig.json
  apps/smeargle/.storybook/decorators.tsx
  apps/smeargle/tsconfig.json
  packages/ui-react/.storybook/decorators.tsx
  packages/ui-react/tsconfig.json
  packages/ui-solid/.storybook/decorators.tsx
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/tsconfig.json
Due: prettier --write

refactor: reuse theme provider
  apps/ninjask/.storybook/decorators.tsx
  apps/ninjask/.storybook/preview.ts
  apps/rotom/.storybook/decorators.ts
  apps/smeargle/.storybook/preview.ts
  packages/ui-angular/.storybook/decorators.ts
  packages/ui-angular/src/lib/stories/hooks.ts
  packages/ui-react/.storybook/decorators.tsx
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/stories/decorators.tsx
  packages/ui-react/src/lib/stories/index.ts
  packages/ui-solid/.storybook/decorators.tsx
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/lib/stories/decorators.tsx
  packages/ui-solid/src/lib/stories/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: update solid storybook to 7.6.3
  apps/ninjask/package.json
  packages/ui-solid/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update Angular storybook to 7.6.3
  apps/rotom/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  packages/ui-solid/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update React storybook to 7.6.3
  apps/smeargle/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  ls-lint: any of: {apps,packages}/*/{src,e2e,vrt}/**/*
  eslint --cache --fix --report-unused-disable-directives --max-warnings 0: any of: {apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: {apps,packages}/*/src/**/*.{css,scss}
  prettier --write: any of: {apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
