Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

Improve eslint coverage (#793)
  apps/rotom/.storybook/decorators.ts
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/eslint.config.js
  apps/rotom/lint-staged.config.mjs
  apps/rotom/package.json
  apps/rotom/vrt/playwright.config.ts
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/eslint.config.js
  apps/smeargle/package.json
  apps/smeargle/vrt/playwright.config.ts
  packages/bundle-i18n/eslint.config.js
  packages/bundle-i18n/package.json
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.vite-node.json
  packages/ui-angular/eslint.config.js
  packages/ui-angular/lint-staged.config.mjs
  packages/ui-angular/package.json
  packages/ui-angular/vrt/playwright.config.ts
  packages/ui-react/eslint.config.js
  packages/ui-react/package.json
  packages/ui-react/vrt/playwright.config.ts
  packages/utils/eslint.config.js
  packages/utils/package.json
  packages/vite-plugin-bundle-i18n/eslint.config.js
  packages/vite-plugin-bundle-i18n/package.json
  packages/vrt/eslint.config.js
  packages/vrt/package.json
  packages/vrt/src/scenario.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add sonar eslint plugin
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/vrt/playwright.config.ts
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/src/app/core/contexts/config/config-provider.tsx
  apps/smeargle/src/app/core/contexts/i18n/i18n-context.tsx
  apps/smeargle/src/test/render.tsx
  apps/smeargle/vrt/playwright.config.ts
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui-angular/vrt/playwright.config.ts
  packages/ui-react/src/lib/components/card/card.tsx
  packages/ui-react/src/lib/components/overlay/overlay-delay-group.tsx
  packages/ui-react/src/lib/components/popover/popover.stories.tsx
  packages/ui-react/src/lib/components/popover/popover.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/test/render.tsx
  packages/ui-react/vrt/playwright.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add sonar eslint plugin (#794)
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/vrt/playwright.config.ts
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/src/app/core/contexts/config/config-provider.tsx
  apps/smeargle/src/app/core/contexts/i18n/i18n-context.tsx
  apps/smeargle/src/test/render.tsx
  apps/smeargle/vrt/playwright.config.ts
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui-angular/vrt/playwright.config.ts
  packages/ui-react/src/lib/components/card/card.tsx
  packages/ui-react/src/lib/components/overlay/overlay-delay-group.tsx
  packages/ui-react/src/lib/components/popover/popover.stories.tsx
  packages/ui-react/src/lib/components/popover/popover.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/test/render.tsx
  packages/ui-react/vrt/playwright.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: cookie tests
  packages/utils/src/cookie.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add missing jsdoc
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group-popover-content.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-header.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-secondary-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-icon.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-item.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-label.directive.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: cleanup
  apps/rotom/.storybook/decorators.ts
Due: prettier --write

fix: lint errors
  packages/ui-react/src/lib/components/popover/popover.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(react): configure lighthouse
  .gitignore
  apps/smeargle/lighthouserc.cjs
  apps/smeargle/package.json
  package.json
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

ci: configure lighthouse
  .github/workflows/ci.yml
Due: none

ci: fix lighthouse desktop command
  .github/workflows/ci.yml
Due: none

ci: add lighouse app token
  .github/workflows/ci.yml
Due: none

chore: adjust turbo env variables
  .github/workflows/ci.yml
  turbo.json
Due: none

refactor: change way lhci is being run and storing reports
  .github/workflows/ci.yml
  .gitignore
  apps/smeargle/lighthouserc.cjs
  apps/smeargle/package.json
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
Due: prettier --write

chore: update turbo to match lhci changes
  turbo.json
Due: none

feat(angular): set up lighthouse
  apps/rotom/lighthouserc.cjs
  apps/rotom/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove gitlens vscode extension
  .devcontainer/devcontainer.json
Due: none

Remove gitlens vscode extension (#805)
  .devcontainer/devcontainer.json
Due: none

ci: attempt fix missing build module
  .github/workflows/ci.yml
Due: none

ci: fix missingle dependencies when building
  .github/workflows/ci.yml
  turbo.json
Due: none

chore: add lighthouse assertions, adjust header styles
  .vscode/showcase.code-workspace
  apps/rotom/lighthouserc.cjs
  apps/rotom/src/app/components/header/header.component.scss
  apps/rotom/src/index.html
  apps/rotom/vrt/screenshots/app/app.vrt.ts/app--default--dark--desktop-1.png
  apps/rotom/vrt/screenshots/app/app.vrt.ts/app--default--light--desktop-1.png
  apps/rotom/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--dark--custom-1.png
  apps/rotom/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--light--custom-1.png
  apps/smeargle/index.html
  apps/smeargle/lighthouserc.cjs
  apps/smeargle/src/app/components/header/header.module.scss
  apps/smeargle/vrt/screenshots/app/app.vrt.ts/app--default--dark--desktop-1.png
  apps/smeargle/vrt/screenshots/app/app.vrt.ts/app--default--light--desktop-1.png
  apps/smeargle/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--dark--custom-1.png
  apps/smeargle/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--light--custom-1.png
  preflight-check.sh
Due: ls-lint, stylelint --fix, prettier --write

chore: remove turborepo concurrency
  package.json
Due: none

fix: lighthouse
  apps/smeargle/lighthouserc.cjs
Due: none

Set up lighthouse (#804)
  .github/workflows/ci.yml
  .gitignore
  .vscode/showcase.code-workspace
  apps/rotom/lighthouserc.cjs
  apps/rotom/package.json
  apps/rotom/src/app/components/header/header.component.scss
  apps/rotom/src/index.html
  apps/rotom/vrt/screenshots/app/app.vrt.ts/app--default--dark--desktop-1.png
  apps/rotom/vrt/screenshots/app/app.vrt.ts/app--default--light--desktop-1.png
  apps/rotom/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--dark--custom-1.png
  apps/rotom/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--light--custom-1.png
  apps/smeargle/index.html
  apps/smeargle/lighthouserc.cjs
  apps/smeargle/package.json
  apps/smeargle/src/app/components/header/header.module.scss
  apps/smeargle/vrt/screenshots/app/app.vrt.ts/app--default--dark--desktop-1.png
  apps/smeargle/vrt/screenshots/app/app.vrt.ts/app--default--light--desktop-1.png
  apps/smeargle/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--dark--custom-1.png
  apps/smeargle/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--light--custom-1.png
  package.json
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  pnpm-lock.yaml
  preflight-check.sh
  turbo.json
Due: ls-lint, stylelint --fix, prettier --write

ci: use corepack
  .github/workflows/ci.yml
  .github/workflows/update-vrt.yml
Due: none

CI: Use corepack (#817)
  .github/workflows/ci.yml
  .github/workflows/update-vrt.yml
Due: none

fix: disabled browser sandbox in karma
  apps/rotom/karma.config.js
Due: prettier --write

fix: disabled browser sandbox in lighthouse
  apps/rotom/lighthouserc.cjs
  apps/smeargle/lighthouserc.cjs
Due: none

Fix browser sandbox issues in Ubuntu (#823)
  apps/rotom/karma.config.js
  apps/rotom/lighthouserc.cjs
  apps/smeargle/lighthouserc.cjs
Due: prettier --write

fix(ui-angular): disabled browser sandbox in karma
  packages/ui-angular/karma.config.js
Due: prettier --write

ui-angular: Fix browser sandbox issues in Ubuntu (#824)
  packages/ui-angular/karma.config.js
Due: prettier --write

chore: migrate angular eslint to esm
  apps/rotom/eslint.config.mjs
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui-angular/eslint.config.mjs
  packages/ui-angular/src/a11y/a11y.ts
  packages/ui-angular/src/lib/stories/decorators.ts
  packages/ui-angular/src/lib/utils/controllable-signal.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Migrate Angular Eslint config to ESM. Remove CJS config. (#856)
  apps/rotom/eslint.config.mjs
  packages/eslint-config/index.cjs
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui-angular/eslint.config.mjs
  packages/ui-angular/src/a11y/a11y.ts
  packages/ui-angular/src/lib/stories/decorators.ts
  packages/ui-angular/src/lib/utils/controllable-signal.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: migrate angular projects, depcruiser and stylelint to esm
  .dependency-cruiser.js
  apps/rotom/angular.json
  apps/rotom/eslint.config.js
  apps/rotom/karma.config.cjs
  apps/rotom/lint-staged.config.js
  apps/rotom/package.json
  apps/smeargle/lint-staged.config.js
  package.json
  packages/bundle-i18n/lint-staged.config.js
  packages/ui-angular/angular.json
  packages/ui-angular/eslint.config.js
  packages/ui-angular/karma.config.cjs
  packages/ui-angular/lint-staged.config.js
  packages/ui-angular/package.json
  packages/ui-react/lint-staged.config.js
  packages/ui-react/package.json
  packages/utils/lint-staged.config.js
  packages/vite-plugin-bundle-i18n/lint-staged.config.js
  packages/vrt/lint-staged.config.js
  stylelint.config.js
Due: prettier --write

fix: workaround preflight-check lighthouse craches
  preflight-check.sh
Due: none

Migrate Angular projects, depcruise and stylelint to ESM (#857)
  .dependency-cruiser.js
  apps/rotom/angular.json
  apps/rotom/eslint.config.js
  apps/rotom/karma.config.cjs
  apps/rotom/lint-staged.config.js
  apps/rotom/package.json
  apps/smeargle/lint-staged.config.js
  package.json
  packages/bundle-i18n/lint-staged.config.js
  packages/ui-angular/angular.json
  packages/ui-angular/eslint.config.js
  packages/ui-angular/karma.config.cjs
  packages/ui-angular/lint-staged.config.js
  packages/ui-angular/package.json
  packages/ui-react/lint-staged.config.js
  packages/ui-react/package.json
  packages/utils/lint-staged.config.js
  packages/vite-plugin-bundle-i18n/lint-staged.config.js
  packages/vrt/lint-staged.config.js
  preflight-check.sh
  stylelint.config.js
Due: prettier --write

chore: update eslint-plugin-testing-library and remove rules fixup
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

Update eslint-plugin-testing-library and remove rules fixup (#858)
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update eslint-plugin-react-hooks and remove rules fixup
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write
