Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

Disable broken test in Github Actions (#541)
  packages/ui-react/src/lib/components/card-popover/card-popover.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: forward popover and tooltip trigger refs
  packages/ui-react/src/lib/components/popover/popover.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add initial sidebar prototype
  packages/ui-react/src/lib/components/sidebar/sidebar.stories.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: implement more collapsed functionality
  packages/ui-react/src/lib/components/icon/icon.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.stories.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support active item
  packages/ui-react/src/lib/components/sidebar/sidebar.stories.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add collapsed and expanded sidebar sub items
  packages/styles/scss/components/_sidebar.scss
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group-popover-content.component.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/sidebar/sidebar.stories.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support controlling sidebar expansion
  packages/ui-react/src/lib/components/sidebar/sidebar.stories.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support retrieving previous state when updating state
  packages/ui-react/src/lib/hooks/use-controllable-state.test.ts
  packages/ui-react/src/lib/hooks/use-controllable-state.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Support retrieving previous state when updating state in useControllableState (#545)
  packages/ui-react/src/lib/hooks/use-controllable-state.test.ts
  packages/ui-react/src/lib/hooks/use-controllable-state.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: remove element selector from angular sidebar item
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.test.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add focus ring to sidebar items
  packages/styles/scss/components/_sidebar.scss
  packages/ui-react/src/lib/components/sidebar/sidebar.stories.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add vrt
  packages/ui-react/src/lib/components/sidebar/sidebar.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: rename Angular Accordion to Disclosure
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/directives/accordion/accordion-content.directive.ts
  packages/ui-angular/src/lib/directives/accordion/accordion-trigger.directive.ts
  packages/ui-angular/src/lib/directives/accordion/accordion.directive.ts
  packages/ui-angular/src/lib/directives/accordion/accordion.stories.ts
  packages/ui-angular/src/lib/directives/accordion/index.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure-content.directive.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure-trigger.directive.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.test.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.service.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.stories.ts
  packages/ui-angular/src/lib/directives/disclosure/index.ts
  packages/ui-angular/src/lib/directives/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add sidebar tests
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
  packages/ui-react/src/lib/components/sidebar/sidebar.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: disable axe style checks from unit tests
  packages/ui-angular/src/lib/test/axe.ts
  packages/ui-react/src/lib/test/axe.ts
  packages/ui-solid/src/lib/test/axe.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: improve sidebar docs
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add missing library exports
  packages/ui-react/src/lib/components/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: add vitest to root because of vitest workspace
  package.json
  pnpm-lock.yaml
Due: none

Fix Vitest workspace not working (#553)
  package.json
  pnpm-lock.yaml
Due: none

chore: update msw to 2.2.14
  apps/ninjask/package.json
  apps/ninjask/public/mockServiceWorker.js
  apps/rotom/package.json
  apps/rotom/src/mockServiceWorker.js
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: migrate husky to v9
  .husky/commit-msg
  .husky/post-commit
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

chore: clean up dependencies and fix service worker in angular
  apps/rotom/README.md
  apps/rotom/src/app/core/providers/service-worker-provider.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Clean up dependencies and fix service worker in angular (#567)
  apps/rotom/README.md
  apps/rotom/src/app/core/providers/service-worker-provider.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: upgrade msw to 2.3.0
  apps/ninjask/package.json
  apps/ninjask/public/mockServiceWorker.js
  apps/rotom/package.json
  apps/rotom/src/mockServiceWorker.js
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Update msw to 2.3.0 (#568)
  apps/ninjask/package.json
  apps/ninjask/public/mockServiceWorker.js
  apps/rotom/package.json
  apps/rotom/src/mockServiceWorker.js
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: axe imports stopped working
  packages/ui-angular/src/a11y/a11y.ts
  packages/ui-react/src/a11y/a11y.ts
  packages/ui-solid/src/a11y/a11y.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: update storybook to 8.1.1
  apps/ninjask/.storybook/main.ts
  apps/ninjask/.storybook/preview.ts
  apps/ninjask/package.json
  apps/ninjask/src/app/components/counter/counter.stories.tsx
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/package.json
  apps/rotom/src/app/components/counter/counter.stories.ts
  apps/smeargle/.storybook/main.ts
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/package.json
  apps/smeargle/src/app/components/counter/counter.stories.tsx
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/card/card.stories.ts
  packages/ui-angular/src/lib/components/counter/counter.stories.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
  packages/ui-angular/src/lib/directives/button/button.stories.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.stories.ts
  packages/ui-angular/src/lib/directives/popover/popover.stories.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.stories.ts
  packages/ui-angular/src/lib/portal/portal.stories.ts
  packages/ui-react/.storybook/main.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/button/button.stories.tsx
  packages/ui-react/src/lib/components/card-popover/card-popover.stories.tsx
  packages/ui-react/src/lib/components/card/card.stories.tsx
  packages/ui-react/src/lib/components/counter/counter.stories.tsx
  packages/ui-react/src/lib/components/icon/icon.stories.tsx
  packages/ui-react/src/lib/components/popover/popover.stories.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-solid/.storybook/main.ts
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/lib/components/counter/counter.stories.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Update storybook to v8.1.1 (#579)
  apps/ninjask/.storybook/main.ts
  apps/ninjask/.storybook/preview.ts
  apps/ninjask/package.json
  apps/ninjask/src/app/components/counter/counter.stories.tsx
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/package.json
  apps/rotom/src/app/components/counter/counter.stories.ts
  apps/smeargle/.storybook/main.ts
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/package.json
  apps/smeargle/src/app/components/counter/counter.stories.tsx
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/card/card.stories.ts
  packages/ui-angular/src/lib/components/counter/counter.stories.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
  packages/ui-angular/src/lib/directives/button/button.stories.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.stories.ts
  packages/ui-angular/src/lib/directives/popover/popover.stories.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.stories.ts
  packages/ui-angular/src/lib/portal/portal.stories.ts
  packages/ui-react/.storybook/main.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/button/button.stories.tsx
  packages/ui-react/src/lib/components/card-popover/card-popover.stories.tsx
  packages/ui-react/src/lib/components/card/card.stories.tsx
  packages/ui-react/src/lib/components/counter/counter.stories.tsx
  packages/ui-react/src/lib/components/icon/icon.stories.tsx
  packages/ui-react/src/lib/components/popover/popover.stories.tsx
  packages/ui-react/src/lib/components/sidebar/sidebar.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-solid/.storybook/main.ts
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/lib/components/counter/counter.stories.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: use signal inputs/outputs/queries instead of decorators
  apps/rotom/.storybook/decorators.ts
  packages/eslint-config-angular/index.cjs
  packages/ui-angular/.storybook/decorators.ts
  packages/ui-angular/src/lib/components/card/card.component.ts
  packages/ui-angular/src/lib/components/card/card.service.ts
  packages/ui-angular/src/lib/components/card/card.stories.ts
  packages/ui-angular/src/lib/components/card/components/card-footer.component.ts
  packages/ui-angular/src/lib/components/card/components/card-header.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group-popover-content.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/components/sidebar/services/sidebar.service.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.test.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
  packages/ui-angular/src/lib/directives/button/button.directive.test.ts
  packages/ui-angular/src/lib/directives/button/button.directive.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.test.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.ts
  packages/ui-angular/src/lib/directives/focus-ring/focus-ring.directive.test.ts
  packages/ui-angular/src/lib/directives/focus-ring/focus-ring.directive.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-card-header.directive.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-card.directive.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.test.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-arrow.component.ts
  packages/ui-angular/src/lib/portal/portal.service.test.ts
  packages/ui-angular/src/lib/portal/portal.stories.ts
  packages/ui-angular/src/lib/test/types.ts
  packages/ui-angular/src/lib/utils/controllable-signal.ts
  packages/ui-angular/src/lib/utils/index.ts
  packages/ui-angular/src/lib/utils/signal.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: remove $ from signals to match Angular conventions
  packages/ui-angular/src/lib/components/counter/counter.component.html
  packages/ui-angular/src/lib/components/counter/counter.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/components/sidebar/services/sidebar.service.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.html
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure-content.directive.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure-trigger.directive.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.directive.ts
  packages/ui-angular/src/lib/directives/disclosure/disclosure.service.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-trigger.directive.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.html
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-angular/src/lib/directives/popover/popover.service.ts
  packages/ui-angular/src/lib/directives/tooltip/directives/tooltip-trigger.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.component.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.service.ts
  packages/ui-angular/src/lib/overlay/floating-adapter.ts
  packages/ui-angular/src/lib/overlay/overlay-arrow.component.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
  packages/ui-angular/src/lib/overlay/overlay.service.ts
  packages/ui-angular/src/lib/portal/portal.component.ts
  packages/ui-angular/src/lib/portal/portal.service.ts
  packages/ui-angular/src/lib/portal/portal.stories.ts
  packages/ui-angular/src/lib/utils/controllable-signal.test.ts
  packages/ui-angular/src/lib/utils/controllable-signal.ts
  packages/ui-angular/src/lib/utils/signal.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: clean up old todos
  packages/ui-angular/src/lib/components/sidebar/services/sidebar.service.ts
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add devcontainer
  .devcontainer/devcontainer.json
  .gitattributes
  .husky/post-checkout
  README.md
  package.json
Due: none

fix: serve apps in localhost
  .devcontainer/devcontainer.json
  apps/ninjask/vite.config.ts
  apps/rotom/angular.json
  apps/smeargle/vite.config.ts
  package.json
  packages/ui-angular/angular.json
Due: prettier --write

fix: serve e2e and vrt on localhost
  .devcontainer/devcontainer.json
  apps/ninjask/e2e/playwright.config.ts
  apps/ninjask/package.json
  apps/ninjask/vrt/playwright.config.ts
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/package.json
  apps/rotom/vrt/playwright.config.ts
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/package.json
  apps/smeargle/vrt/playwright.config.ts
  packages/ui-angular/package.json
  packages/ui-angular/vrt/playwright.config.ts
  packages/ui-react/package.json
  packages/ui-solid/package.json
  packages/ui-solid/vrt/playwright.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: install project manager via corepack
  .devcontainer/devcontainer.json
Due: none

ci: add basic devcontainer in ci
  .github/workflows/ci.yml
  README.md
Due: none

ci: remove playwright skip download flag
  .github/workflows/ci.yml
Due: none

ci: test vrt
  .github/workflows/ci.yml
Due: none

Path conditions:
  ls-lint: any of: {apps,packages}/*/{src,e2e,vrt}/**/*
  eslint --cache --fix --report-unused-disable-directives --max-warnings 0: any of: {apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: {apps,packages}/*/src/**/*.{css,scss}
  prettier --write: any of: {apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
