Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

feat(styles): add fluid fonts, add layers
  .vscode/extensions.json
  apps/rotom/angular.json
  apps/smeargle/src/styles/styles.scss
  packages/styles/.storybook/main.ts
  packages/styles/.storybook/preview.ts
  packages/styles/.storybook/styles.scss
  packages/styles/package.json
  packages/styles/src/build-tokens.ts
  packages/styles/src/stories/typography/Typography.mdx
  packages/styles/src/stories/typography/typography.stories.tsx
  packages/styles/src/stylesheets/_fonts.scss
  packages/styles/src/stylesheets/_typography.scss
  packages/styles/src/stylesheets/fonts.scss
  packages/styles/src/stylesheets/styles.scss
  packages/styles/src/stylesheets/utils/_variables.scss
  packages/styles/src/tokens/globals/base/dimension.json
  packages/styles/src/tokens/globals/base/font.json
  packages/styles/src/tokens/globals/base/spacing.json
  packages/styles/src/tokens/globals/components/typography.json
  pnpm-lock.yaml
  stylelint.config.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(styles): add normalizer
  packages/styles/package.json
  packages/styles/src/stylesheets/_normalize.scss
  packages/styles/src/stylesheets/styles.scss
  pnpm-lock.yaml
Due: ls-lint, stylelint --fix, prettier --write

fix: force renovate pin all dependencies
  renovate.json
Due: none

fix: force renovate to pin all dependencies (#1045)
  renovate.json
Due: none

chore: enable renovate best practices presets
  renovate.json
Due: none

fix: unpin missing dependency
  packages/ui-react/package.json
Due: prettier --write

chore: update package.lock
  pnpm-lock.yaml
Due: none

chore: enable renovate best practices presets (#1046)
  packages/ui-react/package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write

feat(styles): add more font types
  packages/styles/.storybook/styles.scss
  packages/styles/src/build-tokens.ts
  packages/styles/src/stories/typography/Typography.mdx
  packages/styles/src/stories/typography/typography.stories.tsx
  packages/styles/src/stylesheets/_typography.scss
  packages/styles/src/tokens/globals/components/typography.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

fix(styles): load fonts in storybook
  packages/styles/.storybook/main.ts
Due: prettier --write

chore(styles): bump style-dictionary to 5.0.1
  packages/styles/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add stories package with theme utils
  .vscode/showcase.code-workspace
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/stories/eslint.config.js
  packages/stories/package.json
  packages/stories/src/index.ts
  packages/stories/src/theme.ts
  packages/stories/tsconfig.json
  packages/styles/.storybook/preview.ts
  packages/styles/.storybook/styles.scss
  packages/styles/package.json
  packages/styles/src/stories/typography/typography.stories.tsx
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support storybook theming in all packages and apps
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/tsconfig.base.json
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/src/styles/styles.scss
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/.storybook/styles.scss
  packages/ui-angular/src/lib/stories/index.ts
  packages/ui-angular/tsconfig.base.json
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/.storybook/styles.scss
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

fix(rotom): workaround. use actual scss path instead of exports
  apps/rotom/README.md
  apps/rotom/angular.json
  apps/rotom/src/styles/styles.scss
Due: ls-lint, stylelint --fix, prettier --write

docs: improve style docs
  packages/styles/src/stories/themes/Themes.mdx
  packages/styles/src/stories/typography/Typography.mdx
  packages/styles/src/stories/typography/typography.stories.tsx
  packages/styles/src/stylesheets/_typography.scss
  packages/styles/src/tokens/globals/base/font.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

fix: linting
  .ls-lint.yml
  packages/styles/src/stylesheets/_typography.scss
Due: ls-lint, stylelint --fix, prettier --write

fix: linting
  packages/styles/src/stylesheets/styles.scss
Due: ls-lint, stylelint --fix, prettier --write

chore: bump angular to v20
  apps/rotom/angular.json
  apps/rotom/package.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix dev and tests
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/test/global-testing-module.ts
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/tsconfig.app.json
  apps/rotom/vite.config.ts
  packages/tsconfig/tsconfig.angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/test/global-testing-module.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-angular/tsconfig.lib.json
  pnpm-lock.yaml
  prettier.config.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(react): bump storybook
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/main.ts
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/package.json
  apps/smeargle/src/app/app.stories.tsx
  packages/ui-angular/.storybook/preview.ts
  packages/ui-react/.storybook/main.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/example-counter/example-counter.stories.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(styles): bump storybook
  packages/styles/.storybook/main.ts
  packages/styles/.storybook/preview.ts
  packages/styles/package.json
  packages/styles/src/stories/themes/Themes.mdx
  packages/styles/src/stories/typography/Typography.mdx
  packages/styles/src/stories/typography/typography.stories.tsx
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix(react): storybook imports
  apps/smeargle/src/app/app.test.tsx
  apps/smeargle/src/test/setup-tests.ts
  packages/ui-react/src/lib/components/example-counter/example-counter.test.tsx
  packages/ui-react/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(angular): bump storybook
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/package.json
  apps/rotom/src/app/app.stories.ts
  apps/rotom/src/styles/styles.scss
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/example-counter/example-counter.stories.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(eslint): bump eslint libs
  apps/rotom/src/app/app.test.ts
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/tsconfig.test.json
  apps/smeargle/src/app/app.test.tsx
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/tsconfig.test.json
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  packages/ui-angular/src/lib/components/example-counter/example-counter.test.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-angular/tsconfig.test.json
  packages/ui-react/src/lib/components/example-counter/example-counter.test.tsx
  packages/ui-react/src/test/setup-tests.ts
  packages/ui-react/tsconfig.test.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: clean todos
  packages/eslint-config-shared/index.js
  packages/styles/src/stylesheets/utils/_variables.scss
Due: ls-lint, stylelint --fix, prettier --write

fix: analog tests
  apps/rotom/src/test/setup-tests.ts
  packages/ui-angular/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix(stories): bump storybook to v9
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.ts
  packages/stories/package.json
  packages/stories/src/theme.ts
  packages/styles/.storybook/preview.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-react/.storybook/preview.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix(stories): bump storybook to v9 (#1087)
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.ts
  packages/stories/package.json
  packages/stories/src/theme.ts
  packages/styles/.storybook/preview.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-react/.storybook/preview.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(room): remove animations provider from storybook
  apps/rotom/.storybook/preview.ts
Due: prettier --write

feat(stories): add stylelint rule to validate color space
  package.json
  pnpm-lock.yaml
  stylelint.config.js
Due: none

chore(styles): validate generated token stylesheets with stylelint
  package.json
  packages/styles/src/tokens/globals/components/typography.json
  stylelint.config.js
Due: ls-lint, prettier --write

feat(styles): add smeargle color palette
  packages/styles/src/stories/color/color.stories.tsx
  packages/styles/src/stylesheets/_base.scss
  packages/styles/src/stylesheets/styles.scss
  packages/styles/src/tokens/themes/smeargle/color.json
  packages/styles/turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(styles): add rotom color palette
  packages/styles/src/stories/Tokens.mdx
  packages/styles/src/stories/color/Color.mdx
  packages/styles/src/stories/color/color.stories.tsx
  packages/styles/src/tokens/globals/base/color.json
  packages/styles/src/tokens/themes/rotom/color.json
  packages/styles/src/tokens/themes/smeargle/color.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test(styles): setup tests and check color contrast
  packages/eslint-config-shared/index.js
  packages/styles/package.json
  packages/styles/src/test/color-contrast.test.tsx
  packages/styles/tsconfig.json
  packages/styles/tsconfig.test.json
  packages/styles/turbo.json
  packages/styles/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(styles): adjust rotom theme
  packages/styles/src/tokens/themes/rotom/color.json
Due: ls-lint, prettier --write

feat(styles): adjust smeargle theme
  packages/styles/src/tokens/themes/smeargle/color.json
Due: ls-lint, prettier --write

feat(styles): adjust rotom-dark theme
  packages/styles/src/tokens/themes/rotom-dark/color.json
Due: ls-lint, prettier --write

test(styles): replace colorizr with colorjs.io and add gamut tests
  packages/styles/package.json
  packages/styles/src/test/color-contrast.test.tsx
  packages/styles/src/test/color.test.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write
