Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

fix: vrt tests not working with named scenarios
  packages/vrt/src/scenario.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add group sidebar vrt tests
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add group sidebar expansion tests
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add sidebar item group tests
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: remove .only from VRT
  packages/ui-angular/src/lib/components/sidebar/sidebar.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: remove todos
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/accordion/accordion-trigger.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add missing sidebar export
  packages/ui-angular/src/lib/components/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: remove todos, remove redundant code
  packages/styles/scss/utils/_control.scss
  packages/ui-angular/src/lib/directives/accordion/accordion-content.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: update turbo to v1.13.2
  package.json
  pnpm-lock.yaml
Due: none

Update turbo to v1.13.2 (#487)
  package.json
  pnpm-lock.yaml
Due: none

chore: update storybook in Angular
  apps/rotom/.storybook/preview.ts
  apps/rotom/package.json
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update storybook in React
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/package.json
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update storybook in SolidJS
  apps/ninjask/.storybook/preview.ts
  apps/ninjask/package.json
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade to Storybook 8 (#488)
  apps/ninjask/.storybook/preview.ts
  apps/ninjask/package.json
  apps/rotom/.storybook/preview.ts
  apps/rotom/package.json
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/package.json
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/package.json
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: msw to 2.2.13
  apps/ninjask/package.json
  apps/ninjask/public/mockServiceWorker.js
  apps/rotom/package.json
  apps/rotom/src/mockServiceWorker.js
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Update MSW to 2.2.13 (#489)
  apps/ninjask/package.json
  apps/ninjask/public/mockServiceWorker.js
  apps/rotom/package.json
  apps/rotom/src/mockServiceWorker.js
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: add DEV to turbo variables
  turbo.json
Due: none

feat: support icon buttons in react, support svg components
  apps/smeargle/package.json
  apps/smeargle/src/vite-env.d.ts
  apps/smeargle/vite.config.ts
  packages/styles/scss/_base.scss
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-secondary-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/index.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/button/button.stories.tsx
  packages/ui-react/src/lib/components/button/button.tsx
  packages/ui-react/src/lib/components/button/button.vrt.ts
  packages/ui-react/src/vite-env.d.ts
  packages/ui-react/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: css conflict with icon svgs and other svgs
  packages/styles/scss/_base.scss
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/_svg-icon.scss
  packages/ui-react/src/lib/components/button/button.stories.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: svgr conflict in test import
  packages/assets/package.json
  pnpm-lock.yaml
  vitest.workspace.ts
Due: prettier --write

fix: icon button a11y
  packages/ui-angular/src/lib/directives/button/button.stories.ts
  packages/ui-react/src/lib/components/button/button.stories.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Support icon buttons in React, support SVG components (#513)
  apps/smeargle/package.json
  apps/smeargle/src/vite-env.d.ts
  apps/smeargle/vite.config.ts
  packages/assets/package.json
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/_svg-icon.scss
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-secondary-actions.component.ts
  packages/ui-angular/src/lib/components/sidebar/index.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/directives/button/button.stories.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/button/button.stories.tsx
  packages/ui-react/src/lib/components/button/button.tsx
  packages/ui-react/src/lib/components/button/button.vrt.ts
  packages/ui-react/src/vite-env.d.ts
  packages/ui-react/vite.config.ts
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--icon-button--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--icon-button--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--icon-button-small--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--icon-button-small--light--custom-1.png
  pnpm-lock.yaml
  vitest.workspace.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: render types
  packages/ui-react/src/lib/test/render.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add card component for React
  packages/ui-react/src/lib/components/card/card.stories.tsx
  packages/ui-react/src/lib/components/card/card.test.tsx
  packages/ui-react/src/lib/components/card/card.tsx
  packages/ui-react/src/lib/components/card/card.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add icon component and adjust svg icons
  packages/styles/scss/components/_icon.scss
  packages/styles/scss/components/_index.scss
  packages/ui-react/src/lib/components/button/button.stories.tsx
  packages/ui-react/src/lib/components/card/card.stories.tsx
  packages/ui-react/src/lib/components/card/card.tsx
  packages/ui-react/src/lib/components/icon/icon.stories.tsx
  packages/ui-react/src/lib/components/icon/icon.test.tsx
  packages/ui-react/src/lib/components/icon/icon.tsx
  packages/ui-react/src/lib/components/icon/icon.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add Card component for React (#529)
  packages/styles/scss/components/_icon.scss
  packages/styles/scss/components/_index.scss
  packages/ui-react/src/lib/components/button/button.stories.tsx
  packages/ui-react/src/lib/components/card/card.stories.tsx
  packages/ui-react/src/lib/components/card/card.test.tsx
  packages/ui-react/src/lib/components/card/card.tsx
  packages/ui-react/src/lib/components/card/card.vrt.ts
  packages/ui-react/src/lib/components/icon/icon.stories.tsx
  packages/ui-react/src/lib/components/icon/icon.test.tsx
  packages/ui-react/src/lib/components/icon/icon.tsx
  packages/ui-react/src/lib/components/icon/icon.vrt.ts
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--default--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--default--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--dismissable--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--dismissable--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--embedded--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--embedded--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--no-header-or-footer--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--no-header-or-footer--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--small--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--small--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--with-footer-divider--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/card/card.vrt.ts/components-card--with-footer-divider--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/icon/icon.vrt.ts/components-icon--default--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/icon/icon.vrt.ts/components-icon--default--light--custom-1.png
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add popover component in react
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-react/src/lib/components/popover/popover.stories.tsx
  packages/ui-react/src/lib/components/popover/popover.tsx
  packages/ui-react/src/lib/hooks/use-overlay.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: remove custom button press logic
  packages/ui-react/src/lib/components/button/button.test.tsx
  packages/ui-react/src/lib/components/button/button.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add focus trap to popover
  packages/ui-react/src/lib/components/card/card.tsx
  packages/ui-react/src/lib/components/popover/popover.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: change popover API to improve a11y
  packages/styles/scss/components/_popover.scss
  packages/ui-react/src/lib/components/popover/popover.stories.tsx
  packages/ui-react/src/lib/components/popover/popover.test.tsx
  packages/ui-react/src/lib/components/popover/popover.tsx
  packages/ui-react/src/lib/components/popover/popover.vrt.ts
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: change tooltip API to match popover
  packages/ui-react/src/lib/components/popover/popover.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: change popover API to match to improve a11y
  apps/rotom/README.md
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-card-body.directive.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-card-header.directive.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-card.directive.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-content.directive.ts
  packages/ui-angular/src/lib/directives/popover/directives/popover-trigger.directive.ts
  packages/ui-angular/src/lib/directives/popover/index.ts
  packages/ui-angular/src/lib/directives/popover/popover-reference.directive.ts
  packages/ui-angular/src/lib/directives/popover/popover.component.html
  packages/ui-angular/src/lib/directives/popover/popover.component.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.test.ts
  packages/ui-angular/src/lib/directives/popover/popover.directive.ts
  packages/ui-angular/src/lib/directives/popover/popover.service.ts
  packages/ui-angular/src/lib/directives/popover/popover.stories.ts
  packages/ui-angular/src/lib/directives/popover/popover.vrt.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: change Angular tooltip API to match popover
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.html
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/directives/tooltip/directives/tooltip-content.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/directives/tooltip-trigger.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/index.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip-reference.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.component.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.service.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.stories.ts
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add card popover component
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/button/button.tsx
  packages/ui-react/src/lib/components/card-popover/card-popover.stories.tsx
  packages/ui-react/src/lib/components/card-popover/card-popover.test.tsx
  packages/ui-react/src/lib/components/card-popover/card-popover.tsx
  packages/ui-react/src/lib/components/card-popover/card-popover.vrt.ts
  packages/ui-react/src/lib/components/popover/popover.stories.tsx
  packages/ui-react/src/lib/components/popover/popover.tsx
  packages/ui-react/src/lib/components/popover/use-popover.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: card popover VRT wrong page
  packages/ui-react/src/lib/components/card-popover/card-popover.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: wrong card popover test
  packages/ui-react/src/lib/components/card-popover/card-popover.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: attempt to fix broken test in ci
  packages/ui-react/src/lib/components/card-popover/card-popover.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: disable broken test in gh actions
  packages/ui-react/src/lib/components/card-popover/card-popover.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Path conditions:
  ls-lint: any of: {apps,packages}/*/{src,e2e,vrt}/**/*
  eslint --cache --fix --report-unused-disable-directives --max-warnings 0: any of: {apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: {apps,packages}/*/src/**/*.{css,scss}
  prettier --write: any of: {apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
