Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

test: update VRT
  apps/rotom/vrt/screenshots/app/app.vrt.ts/app--default--dark--desktop-1.png
  apps/rotom/vrt/screenshots/app/app.vrt.ts/app--default--light--desktop-1.png
Due: ls-lint

chore: remove unused code
  apps/rotom/src/app/core/tokens/config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add coverage exclusions
  apps/rotom/angular.json
Due: prettier --write

chore: exclude mocks from dependency cruiser
  .dependency-cruiser.cjs
Due: none

fix: add missing dependency to rotom
  apps/rotom/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: move bundle-i18n to dev dependencies
  apps/rotom/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update turbo to v2.1.1
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

chore: simplify turbo cache
  .github/workflows/ci.yml
  .github/workflows/update-vrt.yml
Due: none

fix: turbo wrong build-dependencies cache
  turbo.json
Due: none

fix: turbo cache
  .github/workflows/ci.yml
  .github/workflows/update-vrt.yml
Due: none

Update turbo to v2.1.1 (#690)
  .github/workflows/ci.yml
  .github/workflows/update-vrt.yml
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

fix: playwright lint
  packages/vrt/src/scenario.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: move missing files to public folder
  apps/rotom/public/manifest.webmanifest
  apps/rotom/public/robots.txt
  apps/rotom/src/app/app.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Move missing files to public folder (#700)
  apps/rotom/public/manifest.webmanifest
  apps/rotom/public/robots.txt
  apps/rotom/src/app/app.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support runtime configs
  LICENSE
  apps/rotom/.storybook/preview.ts
  apps/rotom/angular.json
  apps/rotom/ngsw-config.json
  apps/rotom/public/config.js
  apps/rotom/src/@types/window.d.ts
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/core/providers/i18n-provider.ts
  apps/rotom/src/app/core/tokens/config.test.ts
  apps/rotom/src/app/core/tokens/config.ts
  apps/rotom/src/app/core/tokens/window.ts
  apps/rotom/src/index.html
  apps/rotom/src/mocks/config.ts
  apps/rotom/src/mocks/i18n.ts
  apps/rotom/src/test/global-testing-setup.module.ts
  apps/smeargle/.storybook/preview.tsx
  apps/smeargle/index.html
  apps/smeargle/public/config.js
  apps/smeargle/src/@types/window.d.ts
  apps/smeargle/src/app/core/contexts/config/config-context.tsx
  apps/smeargle/src/app/core/contexts/config/config-provider.test.tsx
  apps/smeargle/src/app/core/contexts/config/config-provider.tsx
  apps/smeargle/src/app/core/contexts/i18n/i18n-context.tsx
  apps/smeargle/src/mocks/config.ts
  apps/smeargle/src/mocks/i18n.ts
  apps/smeargle/src/test/render.tsx
  apps/smeargle/vite.config.ts
  packages/ui-react/vite.config.ts
  packages/utils/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: dev container not opening ports in browser
  .devcontainer/devcontainer.json
  apps/rotom/e2e/playwright.config.ts
  apps/smeargle/e2e/playwright.config.ts
  packages/ui-react/vrt/playwright.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Fix dev container not opening ports in browser (#702)
  .devcontainer/devcontainer.json
  apps/rotom/e2e/playwright.config.ts
  apps/smeargle/e2e/playwright.config.ts
  packages/ui-react/vrt/playwright.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: cleanup todo
  apps/rotom/src/app/app.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: add runtime config to readme
  README.md
  apps/rotom/public/config.js
  apps/smeargle/public/config.js
Due: prettier --write

docs: edit runtime config readme
  README.md
Due: none

chore: disable storybook autodocs for apps
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.tsx
Due: prettier --write

chore: remove vrt and e2e results from cache
  turbo.json
Due: none

chore: add e2e to preflight check
  preflight-check.sh
Due: none

Disable storybook autodocs for apps (#706)
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.tsx
Due: prettier --write

Setup runtime config (#705)
  LICENSE
  README.md
  apps/rotom/.storybook/preview.ts
  apps/rotom/angular.json
  apps/rotom/ngsw-config.json
  apps/rotom/public/config.js
  apps/rotom/src/@types/window.d.ts
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/core/providers/i18n-provider.ts
  apps/rotom/src/app/core/tokens/config.test.ts
  apps/rotom/src/app/core/tokens/config.ts
  apps/rotom/src/app/core/tokens/window.ts
  apps/rotom/src/index.html
  apps/rotom/src/mocks/config.ts
  apps/rotom/src/mocks/i18n.ts
  apps/rotom/src/test/global-testing-setup.module.ts
  apps/smeargle/.storybook/preview.tsx
  apps/smeargle/index.html
  apps/smeargle/public/config.js
  apps/smeargle/src/@types/window.d.ts
  apps/smeargle/src/app/core/contexts/config/config-context.tsx
  apps/smeargle/src/app/core/contexts/config/config-provider.test.tsx
  apps/smeargle/src/app/core/contexts/config/config-provider.tsx
  apps/smeargle/src/app/core/contexts/i18n/i18n-context.tsx
  apps/smeargle/src/mocks/config.ts
  apps/smeargle/src/mocks/i18n.ts
  apps/smeargle/src/test/render.tsx
  apps/smeargle/vite.config.ts
  packages/ui-react/vite.config.ts
  packages/utils/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Reduce VRT / E2E cache, add E2E preflight check (#709)
  preflight-check.sh
  turbo.json
Due: none

chore: initial changes
  apps/rotom/package.json
  packages/styles/package.json
  packages/styles/tokens/config.ts
  packages/styles/tsconfig.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: apply required v4 migrations
  packages/styles/package.json
  packages/styles/tokens/config.js
  packages/styles/tokens/config.ts
  packages/styles/tokens/default/base/color.dark.json5
  packages/styles/tokens/default/base/color.json5
  packages/styles/tokens/default/base/size.json5
  packages/styles/tokens/default/base/time.json5
  pnpm-lock.yaml
Due: prettier --write

Update and refactor style-dictionary to v4.1 (#712)
  apps/rotom/package.json
  packages/styles/package.json
  packages/styles/tokens/config.js
  packages/styles/tokens/config.ts
  packages/styles/tokens/default/base/color.dark.json5
  packages/styles/tokens/default/base/color.json5
  packages/styles/tokens/default/base/size.json5
  packages/styles/tokens/default/base/time.json5
  packages/styles/tsconfig.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

ci: only run affected packages
  .github/workflows/ci.yml
  .github/workflows/update-vrt.yml
Due: none

fix: wrong axe-core version in some packages
  apps/rotom/package.json
  apps/smeargle/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update package lock
  pnpm-lock.yaml
Due: none

chore: add testing-library/dom dependency
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: add eslint config package with flat config
  .eslintignore
  .vscode/settings.shared.json
  .vscode/showcase.code-workspace
  apps/rotom/.eslintignore
  apps/rotom/.eslintrc.js
  apps/rotom/package.json
  apps/smeargle/.eslintignore
  apps/smeargle/.eslintrc.cjs
  package.json
  packages/bundle-i18n/.eslintrc.cjs
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/index.cjs
  packages/eslint-config-react/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui-angular/.eslintrc.js
  packages/ui-angular/package.json
  packages/ui-react/.eslintrc.cjs
  packages/utils/.eslintrc.cjs
  packages/utils/eslint.config.js
  packages/utils/package.json
  packages/vite-plugin-bundle-i18n/.eslintrc.cjs
  packages/vrt/.eslintrc.cjs
  pnpm-lock.yaml
Due: prettier --write

refactor: add flat config to ui-react
  apps/smeargle/package.json
  packages/bundle-i18n/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/ui-react/eslint.config.js
  packages/ui-react/package.json
  packages/utils/eslint.config.js
  packages/utils/package.json
  packages/vite-plugin-bundle-i18n/package.json
  packages/vrt/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add testing library linters
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add react hook linter
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add react refresh linter
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add jsx a11y linter
  packages/eslint-config-react/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  ls-lint: any of: {apps,packages}/*/{src,e2e,vrt}/**/*
  eslint --cache --fix --report-unused-disable-directives --max-warnings 0: any of: {apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: {apps,packages}/*/src/**/*.{css,scss}
  prettier --write: any of: {apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
