Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

test(styles): adjust test description
  packages/styles/src/test/color.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix(styles): adjust colors to be in srgb gamut
  packages/styles/src/test/color.test.tsx
  packages/styles/src/tokens/themes/rotom-dark/color.json
  packages/styles/src/tokens/themes/rotom/color.json
  packages/styles/src/tokens/themes/smeargle/color.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(styles): add smeargle-dark colors
  packages/styles/src/test/color.test.tsx
  packages/styles/src/tokens/themes/rotom-dark/color.json
  packages/styles/src/tokens/themes/rotom/color.json
  packages/styles/src/tokens/themes/smeargle-dark/color.json
  packages/styles/src/tokens/themes/smeargle/color.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(styles): add text and background color and adjust storybook
  packages/styles/.storybook/styles.scss
  packages/styles/src/stories/Tokens.mdx
  packages/styles/src/stories/color/Color.mdx
  packages/styles/src/stories/color/color.stories.tsx
  packages/styles/src/stories/themes/Themes.mdx
  packages/styles/src/stories/typography/Typography.mdx
  packages/styles/src/stylesheets/_base.scss
  packages/styles/src/stylesheets/_typography.scss
  packages/styles/src/stylesheets/utils/_text.scss
  packages/styles/src/tokens/themes/rotom-dark/color.json
  packages/styles/src/tokens/themes/rotom/color.json
  packages/styles/src/tokens/themes/smeargle-dark/color.json
  packages/styles/src/tokens/themes/smeargle/color.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

chore(styles): remove unused files
  packages/styles/src/tokens/globals/base/color.json
Due: ls-lint, prettier --write

feat(styles): define theme colors and improve docs (#1133)
  package.json
  packages/eslint-config-shared/index.js
  packages/styles/.storybook/styles.scss
  packages/styles/package.json
  packages/styles/src/stories/color/Color.mdx
  packages/styles/src/stories/color/color.stories.tsx
  packages/styles/src/stories/themes/Themes.mdx
  packages/styles/src/stories/typography/Typography.mdx
  packages/styles/src/stylesheets/_base.scss
  packages/styles/src/stylesheets/_typography.scss
  packages/styles/src/stylesheets/styles.scss
  packages/styles/src/stylesheets/utils/_text.scss
  packages/styles/src/test/color.test.tsx
  packages/styles/src/tokens/globals/components/typography.json
  packages/styles/src/tokens/themes/rotom-dark/color.json
  packages/styles/src/tokens/themes/rotom/color.json
  packages/styles/src/tokens/themes/smeargle-dark/color.json
  packages/styles/src/tokens/themes/smeargle/color.json
  packages/styles/tsconfig.json
  packages/styles/tsconfig.test.json
  packages/styles/turbo.json
  packages/styles/vite.config.ts
  pnpm-lock.yaml
  stylelint.config.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

chore: add eslint-comments plugin
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  packages/eslint-config-shared/tsconfig.json
  packages/eslint-config-shared/types.d.ts
  packages/stories/src/theme.ts
  packages/styles/.storybook/preview.ts
  packages/styles/package.json
  packages/styles/src/build-tokens.ts
  packages/styles/src/test/color.test.tsx
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/index.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/index.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add eslint node security plugin
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  packages/styles/eslint.config.js
  packages/styles/src/test/color.test.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add eslint promise plugin
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  packages/eslint-config-shared/types.d.ts
  pnpm-lock.yaml
Due: prettier --write

chore: add eslint comments, promise and node security plugins (#1134)
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  packages/eslint-config-shared/tsconfig.json
  packages/eslint-config-shared/types.d.ts
  packages/stories/src/theme.ts
  packages/styles/.storybook/preview.ts
  packages/styles/eslint.config.js
  packages/styles/package.json
  packages/styles/src/build-tokens.ts
  packages/styles/src/test/color.test.tsx
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/index.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/index.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: make renovate dependency optional
  package.json
  pnpm-lock.yaml
Due: none

chore: make renovate dependency optional (#1158)
  package.json
  pnpm-lock.yaml
Due: none

chore(react): update vitest major
  apps/smeargle/package.json
  apps/smeargle/src/app/app.test.tsx
  apps/smeargle/tsconfig.test.json
  apps/smeargle/vite.config.ts
  packages/eslint-config-shared/index.js
  packages/styles/tsconfig.node.json
  packages/styles/turbo.json
  packages/styles/vitest.config.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/example-counter/example-counter.test.tsx
  packages/ui-react/tsconfig.test.json
  packages/ui-react/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(angular): update vitest major
  apps/rotom/package.json
  apps/rotom/src/app/app.test.ts
  apps/rotom/tsconfig.json
  apps/rotom/tsconfig.node.json
  apps/rotom/tsconfig.test.json
  apps/rotom/vite.config.ts
  apps/smeargle/package.json
  apps/smeargle/src/app/app.test.tsx
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/example-counter/example-counter.test.ts
  packages/ui-angular/tsconfig.json
  packages/ui-angular/tsconfig.node.json
  packages/ui-angular/tsconfig.test.json
  packages/ui-angular/vite.config.ts
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: replace bash scripts with agnostic node scripts
  README.md
  package.json
  pnpm-lock.yaml
  scripts/preflight-check.sh
  scripts/preflight-check.ts
  tsconfig.json
Due: none

chore: cleanup
  scripts/preflight-check.ts
Due: none

chore: replace bash scripts with agnostic node scripts (#1185)
  README.md
  package.json
  pnpm-lock.yaml
  scripts/preflight-check.sh
  scripts/preflight-check.ts
  tsconfig.json
Due: none

chore: upgrade to node v24
  package.json
  scripts/preflight-check.ts
Due: none

chore: upgrade to node v24 (#1188)
  package.json
  scripts/preflight-check.ts
Due: none

chore: bump storybook to v10
  apps/rotom/.storybook/main.ts
  apps/rotom/package.json
  apps/smeargle/.storybook/main.ts
  apps/smeargle/package.json
  packages/styles/.storybook/main.ts
  packages/styles/package.json
  packages/styles/src/stories/color/Color.mdx
  packages/styles/src/stories/typography/Typography.mdx
  packages/styles/tsconfig.node.json
  packages/styles/vite.config.ts
  packages/styles/vitest.config.ts
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/package.json
  packages/ui-react/.storybook/main.ts
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, prettier --write

chore(deps): update storybook to v10 (#1205)
  apps/rotom/.storybook/main.ts
  apps/rotom/package.json
  apps/smeargle/.storybook/main.ts
  apps/smeargle/package.json
  packages/styles/.storybook/main.ts
  packages/styles/package.json
  packages/styles/src/stories/color/Color.mdx
  packages/styles/src/stories/typography/Typography.mdx
  packages/styles/tsconfig.node.json
  packages/styles/vite.config.ts
  packages/styles/vitest.config.ts
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/package.json
  packages/ui-react/.storybook/main.ts
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, prettier --write

chore(ui-angular): bump angular to v21
  apps/rotom/angular.json
  packages/tsconfig/tsconfig.angular.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(rotom): bump angular to v21
  apps/rotom/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove org names from apps
  apps/rotom/package.json
  apps/smeargle/package.json
  scripts/preflight-check.ts
Due: prettier --write

chore: update angular-eslint and eslint-plugin-storybook
  packages/eslint-config-shared/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove angular animations
  apps/rotom/package.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add missin peer deps
  packages/ui-angular/package.json
  packages/ui-react/package.json
Due: prettier --write

chore: update peer deps
  packages/ui-react/package.json
Due: prettier --write

chore: update angular to v21 (#1212)
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/eslint-config-shared/package.json
  packages/tsconfig/tsconfig.angular.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
  scripts/preflight-check.ts
Due: prettier --write

chore: fix storybook for angular
  apps/rotom/.storybook/empty-zone.ts
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/tsconfig.json
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/test/global-testing-module.ts
  packages/ui-angular/.storybook/empty-zone.ts
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/tsconfig.json
  packages/ui-angular/src/test/global-testing-module.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: fix storybook for angular (#1213)
  apps/rotom/.storybook/empty-zone.ts
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/tsconfig.json
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/test/global-testing-module.ts
  packages/ui-angular/.storybook/empty-zone.ts
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/tsconfig.json
  packages/ui-angular/src/test/global-testing-module.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: perform eslint lib migrations
  packages/eslint-config-shared/index.js
Due: prettier --write

refactor: use eslint defineConfig
  apps/rotom/eslint.config.js
  apps/smeargle/eslint.config.js
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  packages/stories/eslint.config.js
  packages/styles/eslint.config.js
  packages/ui-angular/eslint.config.js
  packages/ui-react/eslint.config.js
  pnpm-lock.yaml
Due: prettier --write

refactor: use eslint defineConfig
  packages/eslint-config-shared/index.js
Due: prettier --write

feat: add api app with openapi schema
  .vscode/extensions.json
  .vscode/showcase.code-workspace
  apps/api/openapi.yaml
  apps/api/package.json
Due: prettier --write

feat(smeargle): configure openapi client generation
  .gitignore
  apps/smeargle/orval.config.ts
  apps/smeargle/package.json
  packages/eslint-config-shared/index.js
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat(rotom): configure openapi client generation
  .gitignore
  .ls-lint.yml
  apps/rotom/orval.config.ts
  apps/rotom/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: move common orval config to a package
  .vscode/showcase.code-workspace
  apps/rotom/orval.config.ts
  apps/rotom/package.json
  apps/smeargle/orval.config.ts
  apps/smeargle/package.json
  packages/orval/package.json
  packages/orval/src/index.ts
  packages/orval/tsconfig.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: adjust coverage exclusions
  apps/rotom/vite.config.ts
  apps/smeargle/vite.config.ts
Due: prettier --write

feat: define openapi schema and configure client generation (#1218)
  .gitignore
  .ls-lint.yml
  .vscode/extensions.json
  .vscode/showcase.code-workspace
  apps/api/openapi.yaml
  apps/api/package.json
  apps/rotom/orval.config.ts
  apps/rotom/package.json
  apps/rotom/vite.config.ts
  apps/smeargle/orval.config.ts
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
  package.json
  packages/eslint-config-shared/index.js
  packages/orval/package.json
  packages/orval/src/index.ts
  packages/orval/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write
