Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

chore(smeargle): improve server file names
  apps/smeargle/src/test/setup-server-tests.ts
  apps/smeargle/tsconfig.app.json
  apps/smeargle/tsconfig.json
  apps/smeargle/tsconfig.server.json
  apps/smeargle/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): add effect lib
  apps/smeargle/package.json
  apps/smeargle/src/pages/product-listing/api/data.server.ts
  apps/smeargle/src/pages/product-listing/api/get-products.server.ts
  apps/smeargle/src/shared/lib/data-types.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): restrict imports
  apps/smeargle/eslint.config.js
  packages/eslint-config-shared/index.js
Due: prettier --write

refactor(smeargle): move styles inside app
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/src/app/routes/__root.tsx
  apps/smeargle/src/app/styles/styles.scss
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

refactor(smeargle): reorganize api folder structure
  apps/rotom/src/mocks/api/database/database.ts
  apps/rotom/src/mocks/api/mocks/product-mocks.ts
  apps/smeargle/orval.config.ts
  apps/smeargle/src/app/routes/products.index.tsx
  apps/smeargle/src/assets/.gitkeep
  apps/smeargle/src/mocks/api/database/database.ts
  apps/smeargle/src/mocks/api/factories/product-factory.ts
  apps/smeargle/src/mocks/api/handlers/handlers.ts
  apps/smeargle/src/pages/product-listing/api/data.server.ts
  apps/smeargle/src/pages/product-listing/api/get-products.server.ts
  apps/smeargle/src/pages/product-listing/product-listing-page.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-grid.tsx
  apps/smeargle/src/shared/api/api-client.server.ts
  apps/smeargle/src/shared/api/lib/mutator.ts
  packages/orval/src/index.ts
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test(smeargle): add faker seeds
  apps/rotom/src/test/setup-tests.ts
  apps/smeargle/src/test/setup-server-tests.ts
  apps/smeargle/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs(smeargle): document tanstack architecture
  apps/smeargle/README.md
  apps/smeargle/plugins/server-only.ts
  packages/eslint-config-shared/index.js
Due: prettier --write

test: run tests in random order
  apps/rotom/vite.config.ts
  apps/smeargle/vite.config.ts
  packages/styles/vite.config.ts
  packages/ui-angular/vite.config.ts
  packages/ui-react/vite.config.ts
Due: prettier --write

chore: add missing tests and cleanup
  apps/smeargle/src/app/router.tsx
  apps/smeargle/src/pages/home/home-page.test.tsx
  apps/smeargle/src/pages/product-detail/product-detail-page.test.tsx
  apps/smeargle/src/pages/product-listing/api/data.server.test.ts
  apps/smeargle/src/pages/product-listing/api/get-products.server.test.ts
  apps/smeargle/src/pages/product-listing/product-listing-page.test.tsx
  apps/smeargle/tsconfig.server.json
  packages/eslint-config-shared/index.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: allow passing test headers
  .prettierignore
  .vscode/showcase.code-workspace
  README.md
  apps/smeargle/README.md
  apps/smeargle/package.json
  apps/smeargle/src/app/entrypoints/server.ts
  apps/smeargle/src/shared/api/api-client.server.ts
  apps/smeargle/src/shared/api/lib/mutator.ts
  apps/smeargle/src/shared/test-context.ts
  apps/smeargle/tests/integration/playwright.config.ts
  apps/smeargle/tests/integration/src/tests/home.test.ts
  apps/smeargle/tests/integration/src/tests/product-detail.test.ts
  apps/smeargle/tests/integration/src/tests/product-list.test.ts
  apps/smeargle/tests/integration/src/utils/config.ts
  apps/smeargle/tests/system/global-setup.ts
  apps/smeargle/tests/system/global-teardown.ts
  apps/smeargle/tests/system/src/tests/product-list.test.ts
  apps/smeargle/vite.config.ts
  package.json
  pnpm-lock.yaml
  scripts/preflight-check.ts
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: hide axios usage
  apps/smeargle/eslint.config.js
  apps/smeargle/package.json
  apps/smeargle/src/app/entrypoints/server.ts
  apps/smeargle/src/app/routes/products.index.tsx
  apps/smeargle/src/pages/product-listing/api/data.server.test.ts
  apps/smeargle/src/pages/product-listing/api/data.server.ts
  apps/smeargle/src/pages/product-listing/api/get-products.server.test.ts
  apps/smeargle/src/pages/product-listing/api/get-products.server.ts
  apps/smeargle/src/shared/api/api-client.server.test.ts
  apps/smeargle/src/shared/api/api-client.server.ts
  apps/smeargle/src/shared/api/api-test-context.server.ts
  apps/smeargle/src/shared/api/lib/mutator.ts
  apps/smeargle/src/shared/lib/fp.ts
  apps/smeargle/src/shared/test-context.ts
  apps/smeargle/tests/integration/playwright.config.ts
  apps/smeargle/tests/integration/src/tests/product-list.test.ts
  apps/smeargle/tests/integration/src/utils/config.ts
  packages/eslint-config-shared/index.js
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add mock server for integration testing
  apps/smeargle/package.json
  apps/smeargle/src/@types/node.d.ts
  apps/smeargle/src/shared/api/api-client.server.ts
  apps/smeargle/tests/integration/playwright.config.ts
  apps/smeargle/tests/integration/src/server/server.ts
  apps/smeargle/tests/integration/src/utils/config.ts
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add mock server middleware and test handlers
  apps/rotom/package.json
  apps/smeargle/package.json
  apps/smeargle/src/app/entrypoints/server.ts
  apps/smeargle/src/mocks/api/database/database.ts
  apps/smeargle/src/shared/api/api-client.server.test.ts
  apps/smeargle/src/shared/api/api-client.server.ts
  apps/smeargle/src/shared/api/api-test-context.server.ts
  apps/smeargle/src/shared/config/headers.ts
  apps/smeargle/tests/integration/playwright.config.ts
  apps/smeargle/tests/integration/src/configs/scenarios.ts
  apps/smeargle/tests/integration/src/server/handlers/handlers.ts
  apps/smeargle/tests/integration/src/server/handlers/product-handlers.ts
  apps/smeargle/tests/integration/src/server/middleware.ts
  apps/smeargle/tests/integration/src/server/scenarios/scenarios.ts
  apps/smeargle/tests/integration/src/server/scenarios/standard-scenario.ts
  apps/smeargle/tests/integration/src/server/server.ts
  apps/smeargle/tests/integration/src/server/setup-faker.ts
  apps/smeargle/tests/integration/src/tests/product-list.test.ts
  apps/smeargle/tests/integration/src/tests/utils/page-utils.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: improve api client tests
  apps/smeargle/src/shared/api/api-client.server.test.ts
  apps/smeargle/src/shared/api/api-client.server.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: add tests to readme
  .vscode/extensions.json
  README.md
  apps/smeargle/README.md
  apps/smeargle/src/shared/api/api-client.server.ts
  apps/smeargle/tests/integration/src/tests/product-list.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: allow integration tests to specify multiple scenarios
  apps/smeargle/src/app/entrypoints/server.ts
  apps/smeargle/src/shared/api/api-client.server.test.ts
  apps/smeargle/src/shared/api/api-client.server.ts
  apps/smeargle/src/shared/api/api-test-context.server.ts
  apps/smeargle/src/shared/config/headers.ts
  apps/smeargle/tests/integration/playwright.config.ts
  apps/smeargle/tests/integration/src/server/handlers/product-handlers.ts
  apps/smeargle/tests/integration/src/server/scenarios/scenarios.ts
  apps/smeargle/tests/integration/src/tests/product-list.test.ts
  apps/smeargle/tests/integration/src/tests/utils/page-utils.ts
  apps/smeargle/tests/integration/src/tests/utils/page.ts
  apps/smeargle/tests/integration/src/utils/test-scenario.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add integration tests to ci
  .github/workflows/ci.yml
  pnpm-lock.yaml
  scripts/preflight-check.ts
  tsconfig.json
Due: none

chore: cleanup
  apps/rotom/eslint.config.js
  apps/smeargle/eslint.config.js
  apps/smeargle/tests/integration/src/server/handlers/index.ts
  apps/smeargle/tests/integration/src/server/handlers/product-handlers.ts
  apps/smeargle/tests/integration/src/server/scenarios/default-scenario.ts
  apps/smeargle/tests/integration/src/server/scenarios/index.ts
  apps/smeargle/tests/integration/src/server/scenarios/scenarios.ts
  apps/smeargle/tests/integration/src/server/server.ts
  apps/smeargle/tests/integration/src/utils/test-scenario.ts
  packages/eslint-config-shared/index.js
Due: prettier --write

chore: cleanup
  apps/smeargle/src/pages/product-listing/product-listing-page.tsx
  apps/smeargle/src/pages/product-listing/ui/product-card/product-card.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-grid.tsx
  packages/ui-react/src/lib/components/product-card/index.parts.ts
  packages/ui-react/src/lib/components/product-card/index.ts
  packages/ui-react/src/lib/components/product-card/product-card.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: cleanup
  pnpm-lock.yaml
Due: none

chore: cleanup
  apps/smeargle/vite.config.ts
Due: prettier --write

chore: add missing dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: fix node type checking
  apps/smeargle/src/@types/node.d.ts
  apps/smeargle/src/@types/vite-env.d.ts
  apps/smeargle/tsconfig.server.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: lint warnings
  packages/ui-react/src/lib/utils/context.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: exclude tanstack routes from react-refresh eslint plugin
  apps/smeargle/eslint.config.js
Due: prettier --write

refactor: adjust dimensions and colors to match dtcg format
  packages/styles/src/build-tokens.ts
  packages/styles/src/tokens/globals/base/font.json
  packages/styles/src/tokens/globals/base/spacing.json
  packages/styles/src/tokens/themes/rotom-dark/color.json
  packages/styles/src/tokens/themes/rotom/color.json
  packages/styles/src/tokens/themes/smeargle-dark/color.json
  packages/styles/src/tokens/themes/smeargle/color.json
  stylelint.config.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: lint warnings
  packages/styles/src/test/color.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: lint errora
  apps/rotom/src/app/app.scss
Due: ls-lint, stylelint --fix, prettier --write

fix: lint errors
  apps/smeargle/tests/integration/src/server/server.ts
Due: prettier --write

chore(deps): update dependency storybook to v10.3.6
  apps/rotom/.storybook/empty-zone.ts
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/tsconfig.json
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/tsconfig.lint.json
  apps/smeargle/package.json
  packages/eslint-config-shared/package.json
  packages/stories/package.json
  packages/styles/.storybook/tsconfig.json
  packages/styles/package.json
  packages/styles/src/@types/types.d.ts
  packages/styles/tsconfig.test.json
  packages/ui-angular/.storybook/empty-zone.ts
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/tsconfig.json
  packages/ui-angular/.storybook/typings.d.ts
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: lint errors
  packages/stories/src/theme.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: restore tsconfig paths
  apps/rotom/.storybook/main.ts
  packages/ui-angular/.storybook/main.ts
Due: prettier --write

fix(angular): storybook build
  apps/rotom/package.json
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

test(angular): add exclusions to code coverage
  apps/rotom/vite.config.ts
Due: prettier --write

chore(deps): update dependency storybook to v10.3.6 (#1291)
  apps/rotom/.storybook/empty-zone.ts
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/tsconfig.json
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/tsconfig.lint.json
  apps/rotom/vite.config.ts
  apps/smeargle/package.json
  packages/eslint-config-shared/package.json
  packages/stories/package.json
  packages/stories/src/theme.ts
  packages/styles/.storybook/tsconfig.json
  packages/styles/package.json
  packages/styles/src/@types/types.d.ts
  packages/styles/tsconfig.test.json
  packages/ui-angular/.storybook/empty-zone.ts
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/tsconfig.json
  packages/ui-angular/.storybook/typings.d.ts
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(angular): update angular packages to latest
  apps/rotom/package.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update msw scripts
  apps/rotom/public/mockServiceWorker.js
  apps/smeargle/public/mockServiceWorker.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(angular): use zoneless testing library
  apps/rotom/eslint.config.js
  apps/rotom/src/app/app.test.ts
  apps/rotom/src/test/global-testing-module.ts
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/tsconfig.test.json
  apps/smeargle/eslint.config.js
  packages/ui-angular/eslint.config.js
  packages/ui-angular/src/lib/components/example-counter/example-counter.test.ts
  packages/ui-angular/src/lib/stories/index.ts
  packages/ui-angular/src/test/global-testing-module.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-angular/tsconfig.lib.json
  packages/ui-angular/tsconfig.test.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Path conditions:
  ls-lint: any of: {apps,packages}/*/{src,e2e,vrt}/**/*
  eslint --cache --fix --report-unused-disable-directives --max-warnings 0: any of: {apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: {apps,packages}/*/src/**/*.{css,scss}
  prettier --write: any of: {apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
