Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

chore: remove karma html reporter
  README.md
  apps/rotom/README.md
  apps/rotom/karma.config.js
  apps/rotom/package.json
  packages/ui-angular/karma.config.js
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

Remove Karma Jasmine HTML Reporter (#407)
  README.md
  apps/rotom/README.md
  apps/rotom/karma.config.js
  apps/rotom/package.json
  packages/ui-angular/karma.config.js
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

test: add tooltip tests
  apps/rotom/src/test/global-testing-setup.module.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
  packages/ui-angular/src/lib/overlay/overlay.service.ts
  packages/ui-angular/src/test/global-testing-setup.module.ts
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add karma spec reporter
  apps/rotom/karma.config.js
  apps/rotom/package.json
  packages/ui-angular/karma.config.js
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

Add Karma spec reporter (#409)
  apps/rotom/karma.config.js
  apps/rotom/package.json
  packages/ui-angular/karma.config.js
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

test: add a11y tooltip tests
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add portal service tests
  packages/ui-angular/src/lib/portal/portal.component.ts
  packages/ui-angular/src/lib/portal/portal.service.test.ts
  packages/ui-angular/src/lib/portal/portal.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: exclude test utils from coverage
  packages/ui-angular/angular.json
Due: prettier --write

chore: cleanup comments
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.test.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/overlay/overlay-interactions.ts
  packages/ui-angular/src/lib/overlay/overlay.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: move button vrt results
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element-disabled--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--default--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--disabled--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--small--custom-1.png
Due: ls-lint

chore: update pnpm/action-setup to v3
  .github/workflows/ci.yml
Due: none

chore: update and refactor actions/cache to v4
  .github/workflows/ci.yml
Due: none

chore: force CI to fail
  packages/ui-angular/vrt/screenshots/lib/directives/tooltip/tooltip.vrt.ts/components-tooltip--default--custom-1.png
Due: ls-lint

chore: allow ci workflow dispatch
  .github/workflows/ci.yml
Due: none

Allow CI workflow dispatch (#417)
  .github/workflows/ci.yml
Due: none

chore: increase turbo cache specificity
  .github/workflows/ci.yml
Due: none

chore: update-vrt dependencies
  .github/workflows/update-vrt.yml
Due: none

chore: support variants in VRT
  packages/vrt/src/scenario.ts
  packages/vrt/src/types.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add light and dark variants to VRT
  apps/ninjask/src/vrt/variants.ts
  apps/rotom/src/vrt/variants.ts
  apps/smeargle/src/vrt/variants.ts
  packages/ui-angular/src/lib/directives/button/button.vrt.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.vrt.ts
  packages/ui-angular/src/vrt/variants.ts
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element-disabled--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--default--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--disabled--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--small--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/tooltip/tooltip.vrt.ts/components-tooltip--default--light--custom-1.png
  packages/ui-react/src/lib/components/button/button.vrt.ts
  packages/ui-react/src/lib/components/tooltip/tooltip.vrt.ts
  packages/ui-react/src/lib/vrt/variants.ts
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element-disabled--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--default--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--disabled--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--small--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/tooltip/tooltip.vrt.ts/components-tooltip--default--light--custom-1.png
  packages/ui-solid/src/vrt/variants.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Support VRT variants (#419)
  apps/ninjask/src/vrt/variants.ts
  apps/rotom/src/vrt/variants.ts
  apps/smeargle/src/vrt/variants.ts
  packages/ui-angular/src/lib/directives/button/button.vrt.ts
  packages/ui-angular/src/lib/directives/tooltip/tooltip.vrt.ts
  packages/ui-angular/src/vrt/variants.ts
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element-disabled--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element-disabled--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--default--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--default--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--disabled--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--disabled--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--small--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--small--light--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/tooltip/tooltip.vrt.ts/components-tooltip--default--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/tooltip/tooltip.vrt.ts/components-tooltip--default--light--custom-1.png
  packages/ui-react/src/lib/components/button/button.vrt.ts
  packages/ui-react/src/lib/components/tooltip/tooltip.vrt.ts
  packages/ui-react/src/lib/vrt/variants.ts
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element-disabled--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element-disabled--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--default--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--default--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--disabled--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--disabled--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--small--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--small--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/tooltip/tooltip.vrt.ts/components-tooltip--default--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/tooltip/tooltip.vrt.ts/components-tooltip--default--light--custom-1.png
  packages/ui-solid/src/vrt/variants.ts
  packages/vrt/src/scenario.ts
  packages/vrt/src/types.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add base page colors and font styles
  packages/styles/scss/_base.scss
  packages/styles/scss/components/_button.scss
  packages/styles/tokens/default/base/color.dark.json5
  packages/styles/tokens/default/base/color.json5
Due: prettier --write

chore: add TODO
  packages/styles/scss/components/_tooltip.scss
Due: prettier --write

Add base page colors and font styles (#420)
  apps/ninjask/vrt/screenshots/app/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  apps/rotom/vrt/screenshots/app/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  apps/smeargle/vrt/screenshots/app/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  packages/styles/scss/_base.scss
  packages/styles/scss/components/_button.scss
  packages/styles/scss/components/_tooltip.scss
  packages/styles/tokens/default/base/color.dark.json5
  packages/styles/tokens/default/base/color.json5
  packages/ui-angular/vrt/screenshots/lib/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element-disabled--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--default--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--disabled--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--small--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/tooltip/tooltip.vrt.ts/components-tooltip--default--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element-disabled--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--default--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--disabled--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--small--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/tooltip/tooltip.vrt.ts/components-tooltip--default--dark--custom-1.png
  packages/ui-solid/vrt/screenshots/lib/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
Due: ls-lint, prettier --write

chore: replace recommended vitest vscode extension
  .vscode/extensions.json
Due: none

Replace recommended Vitest Vscode extension (#434)
  .vscode/extensions.json
Due: none

feat: add sidebar component
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-body.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-footer.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-header.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item-list.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-item-icon.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-item-label.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-item.directive.ts
  packages/ui-angular/src/lib/components/sidebar/index.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
  renovate.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support item groups
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-body.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group-label.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group-list.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item-list.component.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-item.directive.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support sidebar expansion
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-footer.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item-list.component.ts
  packages/ui-angular/src/lib/components/sidebar/index.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.service.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: hide label when sidebar collapsed
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: reduce sidebar boilerplate
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group-label.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group-list.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-group-icon.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-group-label.directive.ts
  packages/ui-angular/src/lib/components/sidebar/index.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: move expansion toggle outside of footer
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-body.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-footer.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-header.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add sidebar base styles
  packages/ui-angular/src/lib/components/sidebar/index.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.scss
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: add neutral colors
  packages/styles/tokens/default/base/color.dark.json5
  packages/styles/tokens/default/base/color.json5
Due: none

fix: convert px sizes to rem
  packages/styles/tokens/config.js
  packages/styles/tokens/default/base/size.json5
Due: prettier --write

Adjust design tokens: add neutral colors, convert PX sizes to REM (#438)
  packages/styles/tokens/config.js
  packages/styles/tokens/default/base/color.dark.json5
  packages/styles/tokens/default/base/color.json5
  packages/styles/tokens/default/base/size.json5
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--custom-element--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--default--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/button/button.vrt.ts/components-button--small--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--default--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--small--dark--custom-1.png
Due: ls-lint, prettier --write

feat: add expanded and collapsed styles
  packages/styles/scss/components/_button.scss
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/_sidebar.scss
  packages/styles/scss/utils/_index.scss
  packages/styles/scss/utils/_mixins.scss
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-body.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-footer.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-group.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item-list.component.ts
  packages/ui-angular/src/lib/components/sidebar/components/sidebar-item.component.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-group-icon.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-group-label.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-item-icon.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-item-label.directive.ts
  packages/ui-angular/src/lib/components/sidebar/directives/sidebar-item.directive.ts
  packages/ui-angular/src/lib/components/sidebar/index.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.scss
  packages/ui-angular/src/lib/components/sidebar/sidebar.component.ts
  packages/ui-angular/src/lib/components/sidebar/sidebar.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: add assets package
  .gitignore
  .vscode/showcase.code-workspace
  packages/assets/README.md
  packages/assets/package.json
  packages/assets/svg/caret-down.svg
  packages/assets/svg/caret-left.svg
  packages/assets/svg/caret-right.svg
  packages/assets/svg/caret-up.svg
  pnpm-lock.yaml
Due: prettier --write

feat: add icon assets to angular and react
  apps/rotom/package.json
  apps/rotom/src/test/global-testing-setup.module.ts
  apps/rotom/tsconfig.json
  apps/smeargle/package.json
  packages/assets/.svgGeneratorrc.json
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/core/ui-config.ts
  packages/ui-angular/src/test/global-testing-setup.module.ts
  packages/ui-angular/tsconfig.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write
