Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

refactor: normalize used ports
  apps/ninjask/package.json
  apps/ninjask/vite.config.ts
  apps/ninjask/vrt/playwright.config.ts
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/vrt/playwright.config.ts
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
  apps/smeargle/vrt/playwright.config.ts
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/button/button.vrt.ts
  packages/ui-angular/vrt/playwright.config.ts
  packages/ui-react/package.json
  packages/ui-solid/package.json
  packages/ui-solid/vrt/playwright.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add button component
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/button/button.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: wrong critical surface active color
  packages/styles/scss/components/_button.scss
Due: prettier --write

fix: improve a11y of custom button
  packages/ui-react/src/lib/components/button/button.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add button stories
  packages/eslint-config-react/index.cjs
  packages/ui-react/src/lib/components/button/button.stories.tsx
  packages/ui-react/src/lib/components/button/button.tsx
  packages/ui-react/src/lib/stories/decorators.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add vrt
  packages/ui-react/src/lib/components/button/button.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: normalize focus visible behaviour react/angular
  packages/styles/scss/components/_button.scss
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/button/button.directive.ts
  packages/ui-react/src/lib/components/button/button.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add slotted tests
  packages/ui-angular/src/lib/components/button/button.directive.test.ts
  packages/ui-react/src/lib/components/button/button.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: disable color contrast for axe
  packages/ui-angular/src/lib/test/axe.ts
  packages/ui-react/src/lib/test/axe.ts
  packages/ui-solid/src/lib/test/axe.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add story tests
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
  packages/ui-react/src/lib/components/button/button.test.tsx
  packages/ui-react/src/lib/test/extend-expect.ts
  packages/ui-solid/src/lib/test/extend-expect.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: allow tests import stories
  .dependency-cruiser.cjs
Due: none

Add button component for React (#312)
  .dependency-cruiser.cjs
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
  packages/styles/scss/components/_button.scss
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/button/button.directive.test.ts
  packages/ui-angular/src/lib/components/button/button.directive.ts
  packages/ui-angular/src/lib/test/axe.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/button/button.stories.tsx
  packages/ui-react/src/lib/components/button/button.test.tsx
  packages/ui-react/src/lib/components/button/button.tsx
  packages/ui-react/src/lib/components/button/button.vrt.ts
  packages/ui-react/src/lib/stories/decorators.tsx
  packages/ui-react/src/lib/test/axe.ts
  packages/ui-react/src/lib/test/extend-expect.ts
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element-disabled--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--default--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--disabled--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--small--custom-1.png
  packages/ui-solid/src/lib/test/axe.ts
  packages/ui-solid/src/lib/test/extend-expect.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: disable vitest/prefer-expect-assertions
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
Due: none

chore: disable @typescript-eslint/no-unused-vars
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
Due: none

feat: add basic tooltip
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: adjust button padding
  packages/styles/scss/components/_button.scss
Due: prettier --write

feat: take into account border width
  packages/styles/scss/components/_button.scss
Due: prettier --write

Adjust button padding (#334)
  packages/styles/scss/components/_button.scss
  packages/ui-angular/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element-disabled--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--default--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--disabled--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element-disabled--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--default--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--disabled--custom-1.png
Due: ls-lint, prettier --write

feat: allow interact content inside tooltip
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: use delay instead of safepolygon
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: create seperate component for overlay
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: define more concrete elevation tokens
  packages/styles/tokens/default/base/elevation.json5
Due: none

docs: clarify component elevation usage
  packages/styles/tokens/default/base/elevation.json5
Due: none

Define more concrete elevation tokens (#341)
  packages/styles/tokens/default/base/elevation.json5
Due: none

Merge remote-tracking branch 'origin/main' into feature/327
  apps/ninjask/package.json
  apps/rotom/package.json
  apps/smeargle/package.json
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-solid/package.json
  packages/styles/scss/components/_button.scss
  packages/styles/tokens/default/base/elevation.json5
  packages/ui-angular/package.json
  packages/ui-angular/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element-disabled--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--default--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--disabled--custom-1.png
  packages/ui-react/package.json
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--custom-element-disabled--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--default--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/button/button.vrt.ts/components-button--disabled--custom-1.png
  packages/ui-solid/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: ls-lint, prettier --write

feat: add tooltip styles
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/_tooltip.scss
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: disable duplicate string rules for tests
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
Due: none

chore: disable eslint vitest falsy expects
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
Due: none

chore: disable eslint vitest truthy expects
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
Due: none

feat: add useControllableState hook
  packages/ui-react/src/lib/hooks/use-controllable-state.test.ts
  packages/ui-react/src/lib/hooks/use-controllable-state.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add useControllableState hook (#344)
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
  packages/ui-react/src/lib/hooks/use-controllable-state.test.ts
  packages/ui-react/src/lib/hooks/use-controllable-state.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: make open state controllable
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support placement
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: set max tooltip width
  packages/styles/scss/components/_tooltip.scss
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: sforward tooltip ref
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add open / close animations
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: adjust animation
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: floating ref conflict with slot
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add a11y
  packages/ui-react/src/lib/components/button/button.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write
