Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

chore: add msw scripts to prettier ignore
  .prettierignore
  apps/rotom/public/mockServiceWorker.js
  apps/smeargle/public/mockServiceWorker.js
Due: prettier --write

chore: migrate stylelint rules
  stylelint.config.js
Due: none

chore: split typescript types imports
  apps/rotom/.storybook/preview.ts
  apps/rotom/.storybook/tsconfig.json
  apps/rotom/.storybook/typings.d.ts
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/app/app.routes.ts
  apps/rotom/src/environments/environment-development.ts
  apps/rotom/src/environments/environment.ts
  apps/rotom/src/mocks/api/database/database.ts
  apps/rotom/src/mocks/api/mocks/product-mocks.ts
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/.storybook/tsconfig.json
  apps/smeargle/src/app/layouts/app-layout.tsx
  apps/smeargle/src/mocks/api/database/database.ts
  apps/smeargle/src/mocks/api/factories/product-factory.ts
  apps/smeargle/src/mocks/router.tsx
  apps/smeargle/src/pages/product-listing/api/data.server.ts
  apps/smeargle/src/pages/product-listing/api/get-products.server.ts
  apps/smeargle/src/pages/product-listing/product-listing-page.tsx
  apps/smeargle/src/shared/api/api-client.server.test.ts
  apps/smeargle/src/shared/api/api-client.server.ts
  apps/smeargle/src/shared/api/lib/mutator.ts
  apps/smeargle/tests/integration/src/server/handlers/index.ts
  apps/smeargle/tests/integration/src/server/handlers/product-handlers.ts
  apps/smeargle/tests/integration/src/server/middleware.ts
  apps/smeargle/tests/integration/src/server/scenarios/index.ts
  apps/smeargle/tests/integration/src/tests/utils/page.ts
  apps/smeargle/tests/integration/src/utils/test-scenario.ts
  packages/eslint-config-shared/index.js
  packages/styles/.storybook/preview.ts
  packages/styles/src/build-tokens.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/.storybook/tsconfig.json
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/.storybook/tsconfig.json
  packages/ui-react/src/lib/utils/context.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: use zod for schemas
  packages/orval/package.json
  packages/orval/src/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: use vite tsconfig paths
  apps/rotom/.storybook/main.ts
  apps/rotom/vite.config.ts
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/vite.config.ts
Due: prettier --write

fix: angular coverage reporting
  apps/rotom/package.json
  apps/rotom/vite.config.ts
  packages/ui-angular/package.json
  packages/ui-angular/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

chore: simplify eslint configs
  packages/eslint-config-shared/index.js
Due: prettier --write

chore: simplify eslint configs
  apps/rotom/eslint.config.js
  apps/smeargle/eslint.config.js
  packages/eslint-config-shared/index.js
  packages/stories/eslint.config.js
  packages/styles/eslint.config.js
  packages/ui-angular/eslint.config.js
  packages/ui-react/eslint.config.js
Due: prettier --write

chore: convert eslint files to ts and add package layer rules
  apps/rotom/eslint.config.js
  apps/rotom/eslint.config.ts
  apps/rotom/tsconfig.lint.json
  apps/rotom/tsconfig.node.json
  apps/rotom/tsconfig.test.json
  apps/smeargle/eslint.config.ts
  apps/smeargle/tsconfig.json
  apps/smeargle/tsconfig.node.json
  packages/eslint-config-shared/package.json
  packages/eslint-config-shared/src/index.ts
  packages/eslint-config-shared/src/restricted-imports.ts
  packages/eslint-config-shared/src/types.d.ts
  packages/eslint-config-shared/tsconfig.json
  packages/eslint-config-shared/types.d.ts
  packages/stories/eslint.config.js
  packages/stories/eslint.config.ts
  packages/stories/tsconfig.json
  packages/styles/eslint.config.js
  packages/styles/eslint.config.ts
  packages/styles/tsconfig.node.json
  packages/ui-angular/eslint.config.ts
  packages/ui-angular/tsconfig.lib.json
  packages/ui-angular/tsconfig.node.json
  packages/ui-angular/tsconfig.test.json
  packages/ui-react/eslint.config.js
  packages/ui-react/eslint.config.ts
  packages/ui-react/tsconfig.node.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: cleanup
  apps/smeargle/src/app/routes/products.index.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: adjust app eslint rules
  apps/rotom/eslint.config.ts
  apps/smeargle/eslint.config.ts
  packages/eslint-config-shared/src/index.ts
  packages/eslint-config-shared/src/restricted-imports.ts
  packages/stories/eslint.config.ts
  packages/styles/eslint.config.ts
  packages/styles/package.json
  packages/ui-angular/eslint.config.ts
  packages/ui-react/eslint.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: bump pnpm to v11
  .github/workflows/ci.yml
  package.json
  pnpm-workspace.yaml
  scripts/preflight-check.ts
Due: none

chore: cleanup
  .github/workflows/ci.yml
Due: none

chore(deps): bump pnpm to v11 (#1333)
  .github/workflows/ci.yml
  package.json
  pnpm-workspace.yaml
  scripts/preflight-check.ts
Due: none

refactor(angular): replace testing library with vitest-browser-angular
  apps/rotom/package.json
  apps/rotom/public/mockServiceWorker.js
  apps/rotom/src/app/app.test.ts
  apps/rotom/tsconfig.lint.json
  apps/rotom/tsconfig.test.json
  apps/smeargle/public/mockServiceWorker.js
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/example-counter/example-counter.test.ts
  packages/ui-angular/tsconfig.test.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: move test configs to vitest.config
  apps/rotom/tsconfig.node.json
  apps/rotom/vite.config.ts
  apps/rotom/vitest.config.ts
  apps/smeargle/tsconfig.node.json
  apps/smeargle/vite.config.ts
  apps/smeargle/vitest.config.ts
  packages/styles/tsconfig.node.json
  packages/styles/vite.config.ts
  packages/styles/vitest.config.ts
  packages/ui-angular/eslint.config.ts
  packages/ui-angular/tsconfig.node.json
  packages/ui-angular/vite.config.ts
  packages/ui-angular/vitest.config.ts
  packages/ui-react/tsconfig.node.json
  packages/ui-react/vite.config.ts
  packages/ui-react/vitest.config.ts
  vitest.workspace.ts
Due: prettier --write

chore: replace @vitejs/plugin-react-swc with @vitejs/plugin-react
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
  apps/smeargle/vitest.config.ts
  packages/styles/package.json
  packages/styles/vite.config.ts
  packages/ui-react/package.json
  packages/ui-react/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

refactor: use vitest-browser-angular, @vitejs/plugin-react and vitest.config (#1336)
  apps/rotom/package.json
  apps/rotom/public/mockServiceWorker.js
  apps/rotom/src/app/app.test.ts
  apps/rotom/tsconfig.lint.json
  apps/rotom/tsconfig.node.json
  apps/rotom/tsconfig.test.json
  apps/rotom/vite.config.ts
  apps/rotom/vitest.config.ts
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  apps/smeargle/tsconfig.node.json
  apps/smeargle/vite.config.ts
  apps/smeargle/vitest.config.ts
  packages/styles/package.json
  packages/styles/tsconfig.node.json
  packages/styles/vite.config.ts
  packages/styles/vitest.config.ts
  packages/ui-angular/eslint.config.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/example-counter/example-counter.test.ts
  packages/ui-angular/tsconfig.node.json
  packages/ui-angular/tsconfig.test.json
  packages/ui-angular/vite.config.ts
  packages/ui-angular/vitest.config.ts
  packages/ui-react/package.json
  packages/ui-react/tsconfig.node.json
  packages/ui-react/vite.config.ts
  packages/ui-react/vitest.config.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(smeargle): Setup Tanstack Start (#1251)
  apps/rotom/package.json
  apps/smeargle/src/@types/node.d.ts
  apps/smeargle/src/@types/vite-env.d.ts
  apps/smeargle/src/pages/product-listing/product-listing-page.tsx
  apps/smeargle/tsconfig.server.json
  apps/smeargle/vite.config.ts
  package.json
  packages/eslint-config-shared/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(deps): update dependency storybook to v10.3.6 (#1291)
  apps/rotom/.storybook/empty-zone.ts
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/tsconfig.json
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/tsconfig.lint.json
  apps/rotom/vite.config.ts
  apps/smeargle/package.json
  packages/eslint-config-shared/package.json
  packages/stories/package.json
  packages/stories/src/theme.ts
  packages/styles/.storybook/tsconfig.json
  packages/styles/package.json
  packages/styles/src/@types/types.d.ts
  packages/styles/tsconfig.test.json
  packages/ui-angular/.storybook/empty-zone.ts
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/tsconfig.json
  packages/ui-angular/.storybook/typings.d.ts
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add prodct card and grid components
  apps/smeargle/src/pages/product-listing/ui/product-card/product-card.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-grid.tsx
  packages/ui-react/src/lib/components/product-card/index.parts.ts
  packages/ui-react/src/lib/components/product-card/index.ts
  packages/ui-react/src/lib/components/product-card/product-card.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(api): add prodct name property
  apps/api/openapi.yaml
  apps/smeargle/src/mocks/api/factories/product-factory.ts
  apps/smeargle/src/pages/product-listing/product-listing-page.tsx
  apps/smeargle/src/pages/product-listing/ui/product-card/product-card.tsx
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-grid.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-listing-grid.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(styles): add fluid-heading-3 styles
  packages/styles/src/stylesheets/_typography.scss
  packages/styles/src/stylesheets/utils/_text.scss
  packages/styles/src/tokens/globals/base/font.json
  packages/styles/src/tokens/globals/components/typography.json
Due: ls-lint, stylelint --fix, prettier --write

feat(ui): add product card styles
  .vscode/showcase.code-workspace
  apps/smeargle/src/app/routes/__root.tsx
  packages/styles/src/stories/typography/typography.stories.tsx
  packages/styles/src/stylesheets/_base.scss
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/product-card/product-card.module.scss
  packages/ui-react/src/lib/components/product-card/product-card.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(ui): add product card stories
  .gitattributes
  .prettierignore
  apps/smeargle/src/mocks/assets/product-image.jpg
  packages/ui-react/src/lib/components/product-card/index.parts.ts
  packages/ui-react/src/lib/components/product-card/product-card.module.scss
  packages/ui-react/src/lib/components/product-card/product-card.stories.tsx
  packages/ui-react/src/lib/components/product-card/product-card.tsx
  packages/ui-react/src/mocks/assets/product-image.jpg
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

chore(ui): replace mock images
  apps/smeargle/src/mocks/assets/product-image.jpg
  packages/ui-react/src/mocks/assets/product-image.jpg
Due: ls-lint

refactor(ui): split headless and styled product cards
  packages/ui-react/src/lib/components/product-card/headless-product-card.module.scss
  packages/ui-react/src/lib/components/product-card/headless-product-card.tsx
  packages/ui-react/src/lib/components/product-card/product-card.module.scss
  packages/ui-react/src/lib/components/product-card/product-card.stories.tsx
  packages/ui-react/src/lib/components/product-card/product-card.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

refactor: rename createProductMock
  apps/smeargle/src/mocks/api/factories/product-factory.ts
  apps/smeargle/src/mocks/api/seeds/seeds.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: seed faker in stories
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.ts
Due: prettier --write

refactor: improve stories meta definitions
  apps/smeargle/src/pages/home/home-page.stories.tsx
  apps/smeargle/src/pages/product-detail/product-detail-page.stories.tsx
  apps/smeargle/src/pages/product-listing/product-listing-page.stories.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add product listing card stories
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.module.scss
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.stories.tsx
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-listing-grid.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(api): add imageUrl to product schema
  apps/api/openapi.yaml
  apps/smeargle/src/mocks/api/factories/product-factory.ts
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.stories.tsx
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-listing-grid.tsx
  packages/ui-react/src/lib/components/product-card/product-card.stories.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(styles): use sass package module imports and improve intellisence
  .vscode/extensions.json
  .vscode/showcase.code-workspace
  apps/rotom/README.md
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/styles/styles.scss
  apps/rotom/vitest.config.ts
  apps/smeargle/package.json
  apps/smeargle/src/app/styles/styles.scss
  apps/smeargle/vite.config.ts
  packages/styles/package.json
  packages/styles/src/stylesheets/utils/_functions.scss
  packages/styles/src/stylesheets/utils/_index.scss
  packages/styles/src/stylesheets/utils/_text.scss
  packages/styles/src/stylesheets/utils/_variables.scss
  packages/ui-angular/.storybook/styles.scss
  packages/ui-angular/package.json
  packages/ui-angular/vitest.config.ts
  packages/ui-react/.storybook/styles.scss
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/product-card/headless-product-card.module.scss
  packages/ui-react/src/lib/components/product-card/product-card.module.scss
  packages/ui-react/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, stylelint --fix, prettier --write

chore(api): use uri-reference format for imageUrl and rename mocks
  apps/api/openapi.yaml
  apps/rotom/src/mocks/api/mocks/product-mocks.ts
  apps/rotom/src/mocks/api/seeds/seeds.ts
  apps/smeargle/src/pages/product-listing/api/data.server.test.ts
  apps/smeargle/src/pages/product-listing/api/get-products.server.test.ts
  apps/smeargle/src/pages/product-listing/product-listing-page.stories.tsx
  apps/smeargle/src/pages/product-listing/product-listing-page.test.tsx
  apps/smeargle/tests/integration/src/server/scenarios/default-scenario.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(styles): divide base and semantic colors
  packages/styles/src/build-tokens.ts
  packages/styles/src/tokens/themes/rotom-dark/color.json
  packages/styles/src/tokens/themes/rotom-dark/color/base.json
  packages/styles/src/tokens/themes/rotom-dark/color/semantic.json
  packages/styles/src/tokens/themes/rotom/color.json
  packages/styles/src/tokens/themes/rotom/color/base.json
  packages/styles/src/tokens/themes/rotom/color/semantic.json
  packages/styles/src/tokens/themes/smeargle-dark/color.json
  packages/styles/src/tokens/themes/smeargle-dark/color/base.json
  packages/styles/src/tokens/themes/smeargle-dark/color/semantic.json
  packages/styles/src/tokens/themes/smeargle/color.json
  packages/styles/src/tokens/themes/smeargle/color/base.json
  packages/styles/src/tokens/themes/smeargle/color/semantic.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write
