Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

fix: lint issues
  apps/rotom/.storybook/preview.ts
  apps/rotom/src/main.ts
  apps/smeargle/tests/integration/src/server/scenarios/default-scenario.ts
  packages/eslint-config-shared/src/index.ts
  packages/styles/src/test/color.test.tsx
  packages/ui-angular/.storybook/preview.ts
  packages/ui-react/src/lib/components/product-card/headless-product-card.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add linter for package json
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/eslint-config-shared/package.json
  packages/eslint-config-shared/src/index.ts
  packages/stories/package.json
  packages/styles/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: split eslint configs and remove problematic or not needed plugins
  apps/rotom/eslint.config.ts
  apps/smeargle/eslint.config.ts
  apps/smeargle/src/app/server/create-app.ts
  packages/eslint-config-shared/package.json
  packages/eslint-config-shared/src/configs/angular.ts
  packages/eslint-config-shared/src/configs/base.ts
  packages/eslint-config-shared/src/configs/playwright.ts
  packages/eslint-config-shared/src/configs/react.ts
  packages/eslint-config-shared/src/configs/storybook.ts
  packages/eslint-config-shared/src/configs/vitest.ts
  packages/eslint-config-shared/src/configs/vrt.ts
  packages/eslint-config-shared/src/index.ts
  packages/eslint-config-shared/src/types.d.ts
  packages/eslint-config-shared/src/utils/restricted-imports.ts
  packages/stories/eslint.config.ts
  packages/styles/eslint.config.ts
  packages/ui-angular/eslint.config.ts
  packages/ui-react/eslint.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add linter for package json (#1417)
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/eslint-config-shared/package.json
  packages/eslint-config-shared/src/index.ts
  packages/stories/package.json
  packages/styles/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: split eslint configs and remove problematic or not needed plugins (#1418)
  apps/rotom/eslint.config.ts
  apps/smeargle/eslint.config.ts
  apps/smeargle/src/app/server/create-app.ts
  packages/eslint-config-shared/package.json
  packages/eslint-config-shared/src/configs/angular.ts
  packages/eslint-config-shared/src/configs/base.ts
  packages/eslint-config-shared/src/configs/playwright.ts
  packages/eslint-config-shared/src/configs/react.ts
  packages/eslint-config-shared/src/configs/storybook.ts
  packages/eslint-config-shared/src/configs/vitest.ts
  packages/eslint-config-shared/src/configs/vrt.ts
  packages/eslint-config-shared/src/index.ts
  packages/eslint-config-shared/src/types.d.ts
  packages/eslint-config-shared/src/utils/restricted-imports.ts
  packages/stories/eslint.config.ts
  packages/styles/eslint.config.ts
  packages/ui-angular/eslint.config.ts
  packages/ui-react/eslint.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test(angular): disable vitest globals
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/vitest.config.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-angular/vitest.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: cleanup
  apps/rotom/src/test/setup-tests.ts
  packages/ui-angular/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test(angular): disable vitest globals (#1419)
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/vitest.config.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-angular/vitest.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

build: fix @natu/styles not being resolved
  README.md
  apps/rotom/README.md
  apps/rotom/src/app/app.html
  apps/rotom/src/index.html
  apps/rotom/src/styles/styles.scss
  apps/smeargle/src/app/styles/styles.scss
  apps/smeargle/src/pages/home/home-page.tsx
  apps/smeargle/src/pages/product-detail/product-detail-page.tsx
  apps/smeargle/src/pages/product-listing/product-listing-page.tsx
  packages/styles/package.json
  packages/ui-angular/.storybook/styles.scss
  packages/ui-react/.storybook/main.ts
  packages/ui-react/.storybook/styles.scss
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

build: fix @natu/styles not being resolved (#1426)
  README.md
  apps/rotom/README.md
  apps/rotom/src/app/app.html
  apps/rotom/src/index.html
  apps/rotom/src/styles/styles.scss
  apps/smeargle/src/app/styles/styles.scss
  apps/smeargle/src/pages/home/home-page.tsx
  apps/smeargle/src/pages/product-detail/product-detail-page.tsx
  apps/smeargle/src/pages/product-listing/product-listing-page.tsx
  packages/styles/package.json
  packages/ui-angular/.storybook/styles.scss
  packages/ui-react/.storybook/main.ts
  packages/ui-react/.storybook/styles.scss
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

refactor: use http-server for storybook preview, add storybook test build
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/styles/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-workspace.yaml
Due: prettier --write

feat: add vrt package
  .vscode/showcase.code-workspace
  apps/smeargle/package.json
  packages/eslint-config-shared/src/utils/restricted-imports.ts
  packages/ui-react/package.json
  packages/vrt/eslint.config.ts
  packages/vrt/package.json
  packages/vrt/src/index.ts
  packages/vrt/src/scenario.ts
  packages/vrt/src/storybook-scenario.ts
  packages/vrt/src/types.ts
  packages/vrt/src/viewport.ts
  packages/vrt/tsconfig.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: seed faker during storybook setup
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.ts
  packages/eslint-config-shared/src/configs/storybook.ts
  packages/ui-angular/.storybook/preview.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(smeargle): add vrt
  .gitignore
  apps/smeargle/package.json
  apps/smeargle/src/pages/home/__screenshots__/pages-home--default--smeargle--desktop-1.png
  apps/smeargle/src/pages/home/__screenshots__/pages-home--default--smeargle-dark--desktop-1.png
  apps/smeargle/src/pages/home/home-page.vrt.ts
  apps/smeargle/src/pages/product-detail/__screenshots__/pages-product-detail--default--smeargle--desktop-1.png
  apps/smeargle/src/pages/product-detail/__screenshots__/pages-product-detail--default--smeargle-dark--desktop-1.png
  apps/smeargle/src/pages/product-detail/product-detail-page.vrt.ts
  apps/smeargle/src/pages/product-listing/__screenshots__/pages-product-listing--default--smeargle--desktop-1.png
  apps/smeargle/src/pages/product-listing/__screenshots__/pages-product-listing--default--smeargle-dark--desktop-1.png
  apps/smeargle/src/pages/product-listing/product-listing-page.vrt.ts
  apps/smeargle/src/pages/product-listing/ui/product-card/__screenshots__/pages-product-listing-card--default--smeargle--phone-1.png
  apps/smeargle/src/pages/product-listing/ui/product-card/__screenshots__/pages-product-listing-card--default--smeargle--tablet-1.png
  apps/smeargle/src/pages/product-listing/ui/product-card/__screenshots__/pages-product-listing-card--default--smeargle-dark--phone-1.png
  apps/smeargle/src/pages/product-listing/ui/product-card/__screenshots__/pages-product-listing-card--default--smeargle-dark--tablet-1.png
  apps/smeargle/src/pages/product-listing/ui/product-card/product-listing-card.vrt.ts
  apps/smeargle/src/pages/product-listing/ui/product-grid/__screenshots__/pages-product-listing-grid--default--smeargle--desktop-1.png
  apps/smeargle/src/pages/product-listing/ui/product-grid/__screenshots__/pages-product-listing-grid--default--smeargle--laptop-1.png
  apps/smeargle/src/pages/product-listing/ui/product-grid/__screenshots__/pages-product-listing-grid--default--smeargle--phone-1.png
  apps/smeargle/src/pages/product-listing/ui/product-grid/__screenshots__/pages-product-listing-grid--default--smeargle--tablet-1.png
  apps/smeargle/src/pages/product-listing/ui/product-grid/__screenshots__/pages-product-listing-grid--default--smeargle-dark--desktop-1.png
  apps/smeargle/src/pages/product-listing/ui/product-grid/__screenshots__/pages-product-listing-grid--default--smeargle-dark--laptop-1.png
  apps/smeargle/src/pages/product-listing/ui/product-grid/__screenshots__/pages-product-listing-grid--default--smeargle-dark--phone-1.png
  apps/smeargle/src/pages/product-listing/ui/product-grid/__screenshots__/pages-product-listing-grid--default--smeargle-dark--tablet-1.png
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-listing-grid.vrt.ts
  apps/smeargle/src/test/vrt.ts
  apps/smeargle/tests/vrt/.gitkeep
  apps/smeargle/tests/vrt/playwright.config.ts
  packages/eslint-config-shared/src/configs/vrt.ts
  packages/vrt/src/viewport.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: add comments
  apps/smeargle/src/test/vrt.ts
  packages/vrt/src/scenario.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Path conditions:
  ls-lint: any of: {apps,packages}/*/{src,e2e,vrt}/**/*
  eslint --cache --fix --report-unused-disable-directives --max-warnings 0: any of: {apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: {apps,packages}/*/src/**/*.{css,scss}
  prettier --write: any of: {apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
