Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: add license
  LICENSE
Due: none

feat: add ls-lint
  .ls-lint.yml
  package.json
  pnpm-lock.yaml
Due: none

feat(smeargle): add app
  .gitignore
  apps/smeargle/.gitignore
  apps/smeargle/README.md
  apps/smeargle/eslint.config.js
  apps/smeargle/index.html
  apps/smeargle/package.json
  apps/smeargle/public/vite.svg
  apps/smeargle/src/app.css
  apps/smeargle/src/app.tsx
  apps/smeargle/src/assets/react.svg
  apps/smeargle/src/index.css
  apps/smeargle/src/main.tsx
  apps/smeargle/src/vite-env.d.ts
  apps/smeargle/tsconfig.app.json
  apps/smeargle/tsconfig.json
  apps/smeargle/tsconfig.node.json
  apps/smeargle/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(rotom): add app
  .gitignore
  apps/rotom/README.md
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/preview-server-config.json
  apps/rotom/public/favicon.ico
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.scss
  apps/rotom/src/app/app.component.spec.ts
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/app/app.routes.ts
  apps/rotom/src/index.html
  apps/rotom/src/main.ts
  apps/rotom/src/styles.scss
  apps/rotom/tsconfig.app.json
  apps/rotom/tsconfig.json
  apps/rotom/tsconfig.spec.json
  package-lock.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

docs: add vscode recommended extensions
  .vscode/extensions.json
Due: none

feat: add browserslist file
  .browserslistrc
Due: none

feat: add stylelint
  .vscode/extensions.json
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.scss
  apps/smeargle/src/app.scss
  apps/smeargle/src/app.tsx
  apps/smeargle/src/index.scss
  apps/smeargle/src/main.tsx
  package-lock.json
  package.json
  pnpm-lock.yaml
  stylelint.config.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: configure browserslist for apps
  apps/rotom/.browserslistrc
  apps/rotom/package.json
  apps/smeargle/.browserslistrc
  apps/smeargle/.gitignore
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
  package.json
  packages/browserslist-config-shared/browser.js
  packages/browserslist-config-shared/node.js
  packages/browserslist-config-shared/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: configute images to be stored using git LFS
  .gitattributes
Due: none

feat: configure and use shared tsconfig package
  apps/rotom/package.json
  apps/rotom/tsconfig.json
  apps/smeargle/package.json
  apps/smeargle/tsconfig.app.json
  apps/smeargle/tsconfig.node.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.angular.json
  packages/tsconfig/tsconfig.lint.json
  packages/tsconfig/tsconfig.vite-node.json
  packages/tsconfig/tsconfig.vite-react.json
  packages/tsconfig/tsconfig.vite.json
  pnpm-lock.yaml
Due: prettier --write

refactor(angular): replace karma with vitest
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.spec.ts
  apps/rotom/src/app/app.component.test.ts
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/main.ts
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/tsconfig.app.json
  apps/rotom/tsconfig.json
  apps/rotom/tsconfig.spec.json
  apps/rotom/tsconfig.test.json
  apps/rotom/vite.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(angular): rename angular files to use new styleguide
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.ng.html
  apps/rotom/src/app/app.ng.ts
  apps/rotom/src/app/app.scss
  apps/rotom/src/app/app.test.ng.ts
  apps/rotom/src/main.ts
  apps/rotom/tsconfig.test.json
  apps/rotom/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

refactor(rotom): replace karma with vitest and use new styleguide recommendations (#1028)
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.spec.ts
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/app.ng.html
  apps/rotom/src/app/app.ng.ts
  apps/rotom/src/app/app.scss
  apps/rotom/src/app/app.test.ng.ts
  apps/rotom/src/main.ts
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/tsconfig.app.json
  apps/rotom/tsconfig.json
  apps/rotom/tsconfig.spec.json
  apps/rotom/tsconfig.test.json
  apps/rotom/vite.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(smeargle): set up tests
  apps/rotom/package.json
  apps/rotom/src/app/app.test.ng.ts
  apps/rotom/tsconfig.test.json
  apps/rotom/vite.config.ts
  apps/smeargle/package.json
  apps/smeargle/src/@types/vite-env.d.ts
  apps/smeargle/src/app.test.tsx
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/tsconfig.app.json
  apps/smeargle/tsconfig.json
  apps/smeargle/tsconfig.test.json
  apps/smeargle/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(smeargle): add storybook
  apps/smeargle/.storybook/main.ts
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/package.json
  apps/smeargle/src/app.stories.tsx
  apps/smeargle/src/app.test.tsx
  apps/smeargle/src/main.tsx
  apps/smeargle/src/styles/styles.scss
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/tsconfig.app.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(rotom): remove .ng extension
  apps/rotom/src/app/app.html
  apps/rotom/src/app/app.test.ts
  apps/rotom/src/app/app.ts
  apps/rotom/src/main.ts
  apps/rotom/tsconfig.test.json
  apps/rotom/vite.config.ts
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(rotom): add storybook
  .gitignore
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/.storybook/tsconfig.doc.json
  apps/rotom/.storybook/tsconfig.json
  apps/rotom/.storybook/typings.d.ts
  apps/rotom/package.json
  apps/rotom/src/app/app.stories.ts
  apps/smeargle/src/app.test.tsx
  apps/smeargle/src/app.tsx
  apps/smeargle/src/main.tsx
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(rotom): add include global styles in storybook
  apps/rotom/.storybook/preview.ts
  apps/rotom/angular.json
  apps/rotom/src/styles/styles.scss
Due: ls-lint, stylelint --fix, prettier --write

feat(storybook): add autodocs
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.ts
Due: prettier --write

feat(axe): configure axe for tests and storybook
  .gitignore
  apps/rotom/.storybook/main.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/package.json
  apps/rotom/src/app/app.test.ts
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/vite.config.ts
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/package.json
  apps/smeargle/src/app.test.tsx
  apps/smeargle/src/app/app.scss
  apps/smeargle/src/app/app.stories.tsx
  apps/smeargle/src/app/app.test.tsx
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/main.tsx
  apps/smeargle/src/test/setup-tests.ts
  packages/axe/package.json
  packages/axe/src/@types/jest-axe.d.ts
  packages/axe/src/index.ts
  packages/axe/src/vitest/extend-expect.ts
  packages/axe/src/vitest/index.ts
  packages/axe/tsconfig.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(smeargle): configure eslint
  .ls-lint.yml
  apps/rotom/vite.config.ts
  apps/smeargle/.storybook/tsconfig.json
  apps/smeargle/eslint.config.js
  apps/smeargle/package.json
  apps/smeargle/src/app/app.scss
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/main.tsx
  apps/smeargle/vite.config.ts
  package.json
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat(rotom): configure eslint
  apps/rotom/.storybook/tsconfig.json
  apps/rotom/angular.json
  apps/rotom/eslint.config.js
  apps/rotom/package.json
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/app/app.ts
  apps/rotom/src/index.html
  apps/rotom/src/main.ts
  apps/rotom/tsconfig.json
  apps/rotom/tsconfig.lint.json
  package.json
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  packages/eslint-config-shared/tsconfig.json
  packages/tsconfig/tsconfig.lint.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(eslint): add storybook linter
  apps/rotom/eslint.config.js
  apps/smeargle/eslint.config.js
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(eslint): add vitest lint rules
  README.md
  apps/rotom/eslint.config.js
  apps/rotom/src/app/app.test.ts
  apps/rotom/src/test/setup-tests.ts
  apps/smeargle/eslint.config.js
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(eslint): add vrt lint rules
  apps/rotom/eslint.config.js
  apps/smeargle/eslint.config.js
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(eslint): add prettier and unicorn
  apps/rotom/eslint.config.js
  apps/rotom/src/main.ts
  apps/smeargle/eslint.config.js
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(eslint): add react compiler lint rules
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add pre-commit git hook to lint code
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .prettierignore
  apps/rotom/lint-staged.config.js
  apps/smeargle/lint-staged.config.js
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add commitlint git hook
  .gitignore
  .husky/commit-msg
  .prettierignore
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: none

fix: wrong git hook names
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

chore: add eslint and stylelint to format command
  apps/rotom/package.json
  apps/smeargle/package.json
  package.json
  turbo.json
Due: prettier --write

chore: add preflight check script
  .prettierignore
  README.md
  scripts/preflight-check.sh
Due: none

chore: use vite to preview all static sites
  apps/rotom/.storybook/main.ts
  apps/rotom/package.json
  apps/rotom/preview-server-config.json
  apps/rotom/vite.config.ts
  apps/smeargle/package.json
  apps/smeargle/src/test/setup-tests.ts
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add React ui package
  README.md
  apps/smeargle/src/app/app.tsx
  packages/ui-react/.storybook/main.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/.storybook/tsconfig.json
  packages/ui-react/eslint.config.js
  packages/ui-react/lint-staged.config.js
  packages/ui-react/package.json
  packages/ui-react/src/@types/vite-env.d.ts
  packages/ui-react/src/lib/components/example-counter/example-counter.stories.tsx
  packages/ui-react/src/lib/components/example-counter/example-counter.test.tsx
  packages/ui-react/src/lib/components/example-counter/example-counter.tsx
  packages/ui-react/src/lib/components/example-counter/index.ts
  packages/ui-react/src/lib/index.ts
  packages/ui-react/src/test/setup-tests.ts
  packages/ui-react/tsconfig.app.json
  packages/ui-react/tsconfig.json
  packages/ui-react/tsconfig.node.json
  packages/ui-react/tsconfig.test.json
  packages/ui-react/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add Angular ui package
  .prettierignore
  apps/rotom/angular.json
  apps/rotom/src/app/app.html
  apps/rotom/src/app/app.ts
  apps/rotom/src/test/global-testing-module.ts
  apps/rotom/tsconfig.app.json
  apps/rotom/tsconfig.base.json
  apps/smeargle/tsconfig.app.json
  apps/smeargle/tsconfig.test.json
  package.json
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  packages/ui-angular/.browserslistrc
  packages/ui-angular/.storybook/main.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/.storybook/tsconfig.doc.json
  packages/ui-angular/.storybook/tsconfig.json
  packages/ui-angular/.storybook/typings.d.ts
  packages/ui-angular/angular.json
  packages/ui-angular/eslint.config.js
  packages/ui-angular/lint-staged.config.js
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/example-counter/example-counter.stories.ts
  packages/ui-angular/src/lib/components/example-counter/example-counter.test.ts
  packages/ui-angular/src/lib/components/example-counter/example-counter.ts
  packages/ui-angular/src/lib/components/example-counter/index.ts
  packages/ui-angular/src/lib/index.ts
  packages/ui-angular/src/test/global-testing-module.ts
  packages/ui-angular/src/test/setup-tests.ts
  packages/ui-angular/tsconfig.base.json
  packages/ui-angular/tsconfig.json
  packages/ui-angular/tsconfig.lib.json
  packages/ui-angular/tsconfig.test.json
  packages/ui-angular/vite.config.ts
  packages/ui-react/.browserslistrc
  packages/ui-react/package.json
  packages/ui-react/tsconfig.app.json
  packages/ui-react/tsconfig.test.json
  pnpm-lock.yaml
  vitest.workspace.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

ci: configure pipeline workflows and dependency management
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .gitignore
  .vscode/showcase.code-workspace
  README.md
  package.json
  pnpm-lock.yaml
  renovate.json
Due: none

feat: add styles package with incomplete setup
  .vscode/extensions.json
  .vscode/showcase.code-workspace
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/smeargle/package.json
  apps/smeargle/src/styles/styles.scss
  packages/styles/.storybook/main.ts
  packages/styles/.storybook/preview.ts
  packages/styles/.storybook/tsconfig.json
  packages/styles/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf
  packages/styles/assets/fonts/Montserrat-VariableFont_wght.ttf
  packages/styles/build-tokens.ts
  packages/styles/eslint.config.js
  packages/styles/package.json
  packages/styles/stories/Typography.mdx
  packages/styles/stories/typography.stories.tsx
  packages/styles/tokens/globals/asset.json
  packages/styles/tokens/globals/font.json
  packages/styles/tsconfig.json
  packages/styles/tsconfig.node.json
  packages/styles/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, stylelint --fix, prettier --write

feat(styles): add font-face
  apps/rotom/angular.json
  apps/smeargle/src/styles/styles.scss
  packages/styles/build-tokens.ts
  packages/styles/package.json
  packages/styles/stylesheets/fonts.scss
  packages/styles/tokens/globals/asset.json
  pnpm-lock.yaml
Due: ls-lint, stylelint --fix, prettier --write

refactor(styles): move files to src
  .prettierignore
  packages/styles/.storybook/tsconfig.json
  packages/styles/package.json
  packages/styles/src/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf
  packages/styles/src/assets/fonts/Montserrat-VariableFont_wght.ttf
  packages/styles/src/build-tokens.ts
  packages/styles/src/stories/typography/Typography.mdx
  packages/styles/src/stories/typography/typography.stories.tsx
  packages/styles/src/stylesheets/fonts.scss
  packages/styles/src/tokens/globals/base/dimension.json
  packages/styles/src/tokens/globals/base/font.json
  packages/styles/src/tokens/globals/components/typography.json
  packages/styles/tokens/globals/font.json
  packages/styles/tsconfig.node.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

Path conditions:
  ls-lint: any of: {apps,packages}/*/{src,e2e,vrt}/**/*
  eslint --cache --fix --report-unused-disable-directives --max-warnings 0: any of: {apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: {apps,packages}/*/src/**/*.{css,scss}
  prettier --write: any of: {apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
