Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

fix: tooltip hover not working
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: generate ts and js files for design tokens
  .gitignore
  packages/styles/package.json
  packages/styles/tokens/config.js
  packages/styles/tokens/default/base/animation.json5
  packages/styles/tokens/default/base/time.json5
Due: prettier --write

chore: improve imports
  packages/styles/tokens/config.js
  packages/styles/ts/index.d.ts
  packages/styles/ts/index.js
Due: prettier --write

chore: avoid including themes in js build
  packages/styles/tokens/config.js
  packages/styles/tokens/default/base/color.json5
Due: prettier --write

Generate typescript design tokens (#358)
  .gitignore
  packages/styles/package.json
  packages/styles/tokens/config.js
  packages/styles/tokens/default/base/animation.json5
  packages/styles/tokens/default/base/color.json5
  packages/styles/tokens/default/base/time.json5
  packages/styles/ts/index.d.ts
  packages/styles/ts/index.js
Due: prettier --write

chore: improve styles exports
  packages/styles/package.json
Due: prettier --write

Improve styles library package exports (#361)
  packages/styles/package.json
Due: prettier --write

refactor: improve animation tokens naming
  packages/styles/tokens/default/base/animation.json5
  packages/styles/tokens/default/base/time.json5
Due: none

refactor: use animation design token
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: convert overlay logic into useOverlay hook
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/lib/hooks/use-overlay.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add safer createContext alternative
  packages/eslint-config-react/index.cjs
  packages/ui-react/src/lib/components/index.ts
  packages/ui-react/src/lib/hooks/index.ts
  packages/ui-react/src/lib/hooks/use-context.test.tsx
  packages/ui-react/src/lib/hooks/use-context.ts
  packages/ui-react/src/lib/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add safer createContext alternative (#363)
  packages/eslint-config-react/index.cjs
  packages/ui-react/src/lib/components/index.ts
  packages/ui-react/src/lib/hooks/index.ts
  packages/ui-react/src/lib/hooks/use-context.test.tsx
  packages/ui-react/src/lib/hooks/use-context.ts
  packages/ui-react/src/lib/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: setup ui config provider
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/lib/index.ts
  packages/ui-react/src/lib/providers/index.ts
  packages/ui-react/src/lib/providers/ui-config.test.tsx
  packages/ui-react/src/lib/providers/ui-config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add tooltip tests
  packages/styles/scss/components/_tooltip.scss
  packages/ui-react/package.json
  packages/ui-react/src/index.ts
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/lib/index.ts
  packages/ui-react/src/lib/providers/ui-config.ts
  packages/ui-react/src/lib/test/render.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: provide ui config for all tests
  packages/eslint-config-react/index.cjs
  packages/ui-react/src/lib/test/render.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support disabling tooltip
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/lib/hooks/use-overlay.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: broken tooltip arrow
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: add option to exclude default test providers
  packages/ui-react/src/lib/providers/ui-config.test.tsx
  packages/ui-react/src/lib/test/render.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add vrt
  packages/ui-react/src/lib/components/tooltip/tooltip.vrt.ts
  packages/ui-react/src/lib/stories/decorators.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: wrong type for render children
  packages/ui-react/src/lib/test/render.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: turbo cache ts tokens
  packages/styles/vite.config.ts
  packages/ui-react/src/lib/test/render.tsx
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: allow test hook sin setup-tests
  apps/smeargle/src/test/setup-tests.ts
  packages/ui-react/src/test/setup-tests.ts
  packages/utils/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: make lint depend on dependencies build
  turbo.json
Due: none

Add tooltip component for React (#374)
  apps/smeargle/src/test/setup-tests.ts
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-react/index.cjs
  packages/eslint-config-solid/index.cjs
  packages/styles/scss/components/_index.scss
  packages/styles/scss/components/_tooltip.scss
  packages/styles/tokens/default/base/animation.json5
  packages/styles/tokens/default/base/time.json5
  packages/styles/vite.config.ts
  packages/ui-react/package.json
  packages/ui-react/src/index.ts
  packages/ui-react/src/lib/components/button/button.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.stories.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.vrt.ts
  packages/ui-react/src/lib/hooks/use-overlay.ts
  packages/ui-react/src/lib/index.ts
  packages/ui-react/src/lib/providers/index.ts
  packages/ui-react/src/lib/providers/ui-config.test.tsx
  packages/ui-react/src/lib/providers/ui-config.ts
  packages/ui-react/src/lib/stories/decorators.tsx
  packages/ui-react/src/lib/test/render.tsx
  packages/ui-react/src/test/setup-tests.ts
  packages/ui-react/vrt/screenshots/lib/components/tooltip/tooltip.vrt.ts/components-tooltip--default--custom-1.png
  packages/utils/src/test/setup-tests.ts
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add portal component and service
  apps/rotom/README.md
  packages/ui-angular/src/lib/services/portal/portal.component.ts
  packages/ui-angular/src/lib/services/portal/portal.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: support portal nesting
  packages/ui-angular/src/lib/services/portal/portal.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: move portal to directives, add stories
  packages/ui-angular/src/lib/directives/portal/portal.component.ts
  packages/ui-angular/src/lib/directives/portal/portal.directive.ts
  packages/ui-angular/src/lib/directives/portal/portal.service.ts
  packages/ui-angular/src/lib/directives/portal/portal.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: accept only template attachments
  packages/ui-angular/src/lib/directives/portal/portal.component.ts
  packages/ui-angular/src/lib/directives/portal/portal.directive.ts
  packages/ui-angular/src/lib/directives/portal/portal.service.ts
  packages/ui-angular/src/lib/directives/portal/portal.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add portal tests
  packages/ui-angular/src/lib/directives/portal/portal.directive.test.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add Angular Portal directive (#381)
  apps/rotom/README.md
  packages/ui-angular/src/lib/directives/portal/portal.component.ts
  packages/ui-angular/src/lib/directives/portal/portal.directive.ts
  packages/ui-angular/src/lib/directives/portal/portal.service.ts
  packages/ui-angular/src/lib/directives/portal/portal.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: document portals
  packages/ui-angular/src/lib/components/tooltip/tooltip.stories.ts
  packages/ui-angular/src/lib/directives/portal/portal.directive.ts
  packages/ui-angular/src/lib/directives/portal/portal.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: document portals
  packages/ui-angular/src/lib/directives/portal/portal.service.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: remove tooltip stories
  packages/ui-angular/src/lib/components/tooltip/tooltip.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Fix Angular Portal directive (#387)
  packages/ui-angular/src/lib/directives/portal/portal.component.ts
  packages/ui-angular/src/lib/directives/portal/portal.directive.test.ts
  packages/ui-angular/src/lib/directives/portal/portal.directive.ts
  packages/ui-angular/src/lib/directives/portal/portal.service.ts
  packages/ui-angular/src/lib/directives/portal/portal.stories.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add controllable signal util
  packages/ui-angular/src/lib/utils/controllable-signal.test.ts
  packages/ui-angular/src/lib/utils/controllable-signal.ts
  packages/ui-angular/src/lib/utils/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: library exports
  packages/ui-angular/ng-package.json
  packages/ui-angular/package.json
  packages/ui-angular/src/index.ts
  packages/ui-angular/src/lib/components/index.ts
  packages/ui-angular/src/lib/directives/index.ts
  packages/ui-angular/src/lib/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: rotom library imports
  apps/rotom/tsconfig.json
Due: prettier --write

Add util for controllable signals (#388)
  apps/rotom/tsconfig.json
  packages/ui-angular/ng-package.json
  packages/ui-angular/package.json
  packages/ui-angular/src/index.ts
  packages/ui-angular/src/lib/components/index.ts
  packages/ui-angular/src/lib/directives/index.ts
  packages/ui-angular/src/lib/index.ts
  packages/ui-angular/src/lib/utils/controllable-signal.test.ts
  packages/ui-angular/src/lib/utils/controllable-signal.ts
  packages/ui-angular/src/lib/utils/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add first prototype
  packages/ui-angular/package.json
  packages/ui-angular/src/index.ts
  packages/ui-angular/src/lib/components/tooltip/tooltip.component.ts
  packages/ui-angular/src/lib/components/tooltip/tooltip.directive.test.ts
  packages/ui-angular/src/lib/components/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/components/tooltip/tooltip.stories.ts
  packages/ui-angular/src/lib/components/tooltip/tooltip.vrt.ts
  packages/ui-angular/src/lib/directives/portal/portal.component.ts
  packages/ui-angular/src/lib/directives/portal/portal.directive.ts
  packages/ui-angular/src/lib/directives/portal/portal.service.ts
  packages/ui-angular/src/lib/services/index.ts
  packages/ui-angular/src/lib/services/overlay/floating-adapter.ts
  packages/ui-angular/src/lib/services/overlay/overlay.service.ts
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/lib/hooks/use-overlay.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: change folder structure for overlay and portal
  packages/ui-angular/src/index.ts
  packages/ui-angular/src/lib/components/tooltip/tooltip.component.ts
  packages/ui-angular/src/lib/components/tooltip/tooltip.directive.ts
  packages/ui-angular/src/lib/directives/index.ts
  packages/ui-angular/src/lib/overlay/floating-adapter.ts
  packages/ui-angular/src/lib/overlay/index.ts
  packages/ui-angular/src/lib/overlay/overlay.service.ts
  packages/ui-angular/src/lib/portal/index.ts
  packages/ui-angular/src/lib/portal/portal.component.ts
  packages/ui-angular/src/lib/portal/portal.directive.test.ts
  packages/ui-angular/src/lib/portal/portal.directive.ts
  packages/ui-angular/src/lib/portal/portal.service.ts
  packages/ui-angular/src/lib/portal/portal.stories.ts
  packages/ui-angular/src/lib/services/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Path conditions:
  ls-lint: any of: {apps,packages}/*/{src,e2e,vrt}/**/*
  eslint --cache --fix --report-unused-disable-directives --max-warnings 0: any of: {apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: {apps,packages}/*/src/**/*.{css,scss}
  prettier --write: any of: {apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
