Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

chore: configure msw worker directories
  apps/rotom/public/mockServiceWorker.js
  apps/smeargle/public/mockServiceWorker.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: adjust orval config to fix prettier and change zod naming
  README.md
  packages/orval/src/index.ts
  packages/orval/src/zod-transformer.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(rotom): setup server mocking
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/environments/environment-development.ts
  apps/rotom/src/environments/environment-types.ts
  apps/rotom/src/environments/environment.ts
  apps/rotom/src/main.development.ts
  apps/rotom/src/mocks/api/browser-development.ts
  apps/rotom/src/mocks/api/browser.ts
  apps/rotom/src/mocks/api/database/database.ts
  apps/rotom/src/mocks/api/handlers/handlers.ts
  apps/rotom/src/mocks/api/mocks/product-mocks.ts
  apps/rotom/src/mocks/api/mocks/types.ts
  apps/rotom/src/mocks/api/seeds/seeds.ts
  apps/rotom/src/mocks/api/server.ts
  apps/rotom/tsconfig.app-development.json
  apps/rotom/tsconfig.json
  apps/rotom/vite.config.ts
  apps/smeargle/package.json
  apps/smeargle/vite.config.ts
  packages/styles/src/test/color.test.tsx
  packages/styles/tsconfig.test.json
  packages/styles/vite.config.ts
  packages/ui-angular/vite.config.ts
  packages/ui-react/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test(rotom): setup server mocking
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(smeargle): setup server mocking
  .prettierignore
  apps/smeargle/.env.development
  apps/smeargle/src/@types/vite-env.d.ts
  apps/smeargle/src/main.tsx
  apps/smeargle/src/mocks/api/browser-development.ts
  apps/smeargle/src/mocks/api/browser.ts
  apps/smeargle/src/mocks/api/database/database.ts
  apps/smeargle/src/mocks/api/handlers/handlers.ts
  apps/smeargle/src/mocks/api/mocks/product-mocks.ts
  apps/smeargle/src/mocks/api/mocks/types.ts
  apps/smeargle/src/mocks/api/seeds/seeds.ts
  apps/smeargle/src/mocks/api/server.ts
  packages/axe/package.json
  packages/eslint-config-shared/index.js
  packages/orval/package.json
  packages/stories/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test(smeargle): setup server mocking
  apps/rotom/vite.config.ts
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix(smeargle): vitest config types
  apps/rotom/vite.config.ts
  packages/styles/vite.config.ts
  packages/ui-angular/vite.config.ts
  packages/ui-react/vite.config.ts
  vitest.workspace.ts
Due: prettier --write

chore: cleanup
  apps/smeargle/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(smeargle): use analog setupTestBed
  apps/rotom/src/test/setup-tests.ts
  packages/ui-angular/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(smeargle): setup tanstack start
  apps/smeargle/index.html
  apps/smeargle/package.json
  apps/smeargle/src/app/app.stories.tsx
  apps/smeargle/src/app/app.test.tsx
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/app/routeTree.gen.ts
  apps/smeargle/src/app/router.tsx
  apps/smeargle/src/app/routes/__root.tsx
  apps/smeargle/src/app/routes/index.tsx
  apps/smeargle/src/main.tsx
  apps/smeargle/vite.config.ts
  packages/eslint-config-shared/index.js
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(smeargle): add product routes
  .gitignore
  apps/rotom/src/app/app.ts
  apps/rotom/src/environments/environment-types.ts
  apps/smeargle/package.json
  apps/smeargle/src/@types/vite-env.d.ts
  apps/smeargle/src/app/routeTree.gen.ts
  apps/smeargle/src/app/routes/__root.tsx
  apps/smeargle/src/app/routes/index.tsx
  apps/smeargle/src/app/routes/products/$productSlug/index.tsx
  apps/smeargle/src/app/routes/products/-route/components/product-card/product-card.tsx
  apps/smeargle/src/app/routes/products/-route/components/product-grid/product-grid.tsx
  apps/smeargle/src/app/routes/products/index.tsx
  packages/eslint-config-shared/index.js
  packages/ui-react/package.json
  packages/ui-react/src/lib/components/product-card/index.parts.ts
  packages/ui-react/src/lib/components/product-card/index.ts
  packages/ui-react/src/lib/components/product-card/product-card.tsx
  packages/ui-react/src/lib/utils/context.test.tsx
  packages/ui-react/src/lib/utils/context.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(smeargle): add stories
  apps/smeargle/src/app/routes/index.stories.tsx
  apps/smeargle/src/app/routes/index.tsx
  apps/smeargle/src/app/routes/products/$productSlug/index.stories.tsx
  apps/smeargle/src/app/routes/products/-components/product-card/product-card.tsx
  apps/smeargle/src/app/routes/products/-components/product-grid/product-grid.tsx
  apps/smeargle/src/app/routes/products/index.stories.tsx
  apps/smeargle/src/app/routes/products/index.tsx
  apps/smeargle/src/mocks/router.tsx
  apps/smeargle/vite.config.ts
  packages/tsconfig/tsconfig.vite.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): add eslint plugin for tanstack router
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  pnpm-lock.yaml
Due: prettier --write

test(smeargle): fix wrong test coverage tracking
  apps/smeargle/vite.config.ts
Due: prettier --write

test(smeargle): add router tests
  apps/smeargle/src/app/routes/index.test.tsx
  apps/smeargle/src/app/routes/products/$productSlug/index.test.tsx
  apps/smeargle/src/app/routes/products/index.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(smeargle): simplify mock router props
  apps/smeargle/src/app/routes/__root.tsx
  apps/smeargle/src/app/routes/index.stories.tsx
  apps/smeargle/src/app/routes/index.test.tsx
  apps/smeargle/src/app/routes/products/$productSlug/index.stories.tsx
  apps/smeargle/src/app/routes/products/$productSlug/index.tsx
  apps/smeargle/src/app/routes/products/index.stories.tsx
  apps/smeargle/src/mocks/router.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): disable tanstack plugin for storybook
  apps/smeargle/.storybook/main.ts
  apps/smeargle/vite.config.ts
  turbo.json
Due: prettier --write

fix(smeargle): remove extra html and body tags from tests and storybook
  apps/smeargle/src/app/router.tsx
  apps/smeargle/src/app/routes/-components/root-content-layout.tsx
  apps/smeargle/src/app/routes/__root.tsx
  apps/smeargle/src/mocks/router.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): run node tests and misc
  apps/rotom/vite.config.ts
  apps/smeargle/README.md
  apps/smeargle/package.json
  apps/smeargle/src/mocks/router.tsx
  apps/smeargle/src/test/setup-node-tests.ts
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/vite.config.ts
  packages/eslint-config-shared/index.js
  packages/ui-angular/vite.config.ts
  packages/ui-react/package.json
  packages/ui-react/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): misc
  apps/smeargle/.storybook/main.ts
Due: prettier --write

chore(smeargle): remove storybook rendering in tests
  apps/smeargle/src/app/routes/index.test.tsx
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/vite.config.ts
  packages/ui-react/src/lib/components/example-counter/example-counter.test.tsx
  packages/ui-react/src/test/setup-tests.ts
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): write docs
  apps/smeargle/README.md
  apps/smeargle/vite.config.ts
Due: prettier --write

docs: document SSR testing issues
  .gitignore
  apps/smeargle/README.md
Due: prettier --write

chore: replace playwright with @playwright/test
  apps/rotom/package.json
  apps/smeargle/package.json
  package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add work in progress
  apps/rotom/package.json
  apps/rotom/tsconfig.test.json
  apps/smeargle/package.json
  apps/smeargle/server.ts
  apps/smeargle/tests/e2e/.gitkeep
  apps/smeargle/tests/system/playwright.config.ts
  apps/smeargle/tests/system/src/tests/home.test.ts
  apps/smeargle/tests/vrt/.gitkeep
  apps/smeargle/tsconfig.node.json
  apps/smeargle/tsconfig.test.json
  package.json
  packages/ui-angular/tsconfig.test.json
  packages/ui-react/tsconfig.test.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

chore(smeargle): cleanup
  apps/smeargle/package.json
  apps/smeargle/server.ts
  pnpm-lock.yaml
Due: prettier --write

chore(smeargle): add start to turbo
  package.json
  turbo.json
Due: none

chore(smeargle): pick port numbers
  apps/smeargle/server.ts
  apps/smeargle/tests/system/playwright.config.ts
Due: prettier --write

chore(smeargle): start app with playwright tests
  .gitignore
  apps/smeargle/orval.config.ts
  apps/smeargle/package.json
  apps/smeargle/server.ts
  apps/smeargle/src/app/routes/products/index.tsx
  apps/smeargle/src/mocks/api/handlers/handlers.ts
  apps/smeargle/src/mocks/api/server-development.ts
  apps/smeargle/src/server/start-server.ts
  apps/smeargle/tests/system/global-setup.ts
  apps/smeargle/tests/system/global-teardown.ts
  apps/smeargle/tests/system/playwright.config.ts
  apps/smeargle/tests/system/src/tests/home.test.ts
  apps/smeargle/tests/system/src/tests/product-detail.test.ts
  apps/smeargle/tests/system/src/tests/product-list.test.ts
  apps/smeargle/tests/system/src/utils/config.ts
  apps/smeargle/tsconfig.app.json
  apps/smeargle/tsconfig.node.json
  apps/smeargle/vite.config.ts
  scripts/preflight-check.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): set up custom axios instance
  apps/smeargle/.env
  apps/smeargle/README.md
  apps/smeargle/orval.config.ts
  apps/smeargle/src/@types/node.d.ts
  apps/smeargle/src/api/client.ts
  apps/smeargle/src/api/mutator/custom-client.ts
  apps/smeargle/src/app/routes/products/index.tsx
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): enable MSW when developing
  apps/smeargle/src/app/server.ts
  apps/smeargle/src/mocks/api/browser-development.ts
  apps/smeargle/src/mocks/api/server-development.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): improve code organization
  apps/smeargle/package.json
  apps/smeargle/scripts/start-server.ts
  apps/smeargle/src/app/routes/products/index.tsx
  apps/smeargle/src/server/start-server.ts
  apps/smeargle/tsconfig.node.json
  apps/smeargle/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore(smeargle): improve code organization
  apps/smeargle/src/app/entrypoints/server.ts
  apps/smeargle/src/app/routes/-components/root-content-layout.tsx
  apps/smeargle/src/app/routes/__root.tsx
  apps/smeargle/src/app/routes/products/index.tsx
  apps/smeargle/src/features/app/app-layout.tsx
  apps/smeargle/src/features/products/product-list/components/product-card/product-card.tsx
  apps/smeargle/src/features/products/product-list/components/product-grid/product-grid.tsx
  apps/smeargle/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(smeargle): split routes into routes and pages
  apps/smeargle/src/api/client.ts
  apps/smeargle/src/app/layouts/app-layout.tsx
  apps/smeargle/src/app/routeTree.gen.ts
  apps/smeargle/src/app/routes/__root.tsx
  apps/smeargle/src/app/routes/index.tsx
  apps/smeargle/src/app/routes/products.$productSlug.tsx
  apps/smeargle/src/app/routes/products.index.tsx
  apps/smeargle/src/app/routes/products/$productSlug/index.stories.tsx
  apps/smeargle/src/app/routes/products/$productSlug/index.tsx
  apps/smeargle/src/app/routes/products/index.stories.tsx
  apps/smeargle/src/mocks/router.tsx
  apps/smeargle/src/pages/home/home-page.stories.tsx
  apps/smeargle/src/pages/home/home-page.test.tsx
  apps/smeargle/src/pages/home/home-page.tsx
  apps/smeargle/src/pages/products/detail/product-detail-page.stories.tsx
  apps/smeargle/src/pages/products/detail/product-detail-page.test.tsx
  apps/smeargle/src/pages/products/detail/product-detail-page.tsx
  apps/smeargle/src/pages/products/list/product-list-page.stories.tsx
  apps/smeargle/src/pages/products/list/product-list-page.test.tsx
  apps/smeargle/src/pages/products/list/product-list-page.tsx
  apps/smeargle/src/pages/products/list/ui/product-card/product-card.tsx
  apps/smeargle/src/pages/products/list/ui/product-grid/product-grid.tsx
  apps/smeargle/vite.config.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(smeargle): change file organization
  apps/smeargle/package.json
  apps/smeargle/scripts/start-server.ts
  apps/smeargle/src/api/client.ts
  apps/smeargle/src/api/mutator/custom-client.ts
  apps/smeargle/src/app/router.tsx
  apps/smeargle/src/app/routes/products.$productSlug.tsx
  apps/smeargle/src/app/routes/products.index.tsx
  apps/smeargle/src/app/server/create-app.ts
  apps/smeargle/src/app/server/start-server.ts
  apps/smeargle/src/assets/.gitkeep
  apps/smeargle/src/assets/react.svg
  apps/smeargle/src/mocks/api/browser-development.ts
  apps/smeargle/src/mocks/api/factories/product-factory.ts
  apps/smeargle/src/mocks/api/factories/types.ts
  apps/smeargle/src/mocks/api/handlers/handlers.ts
  apps/smeargle/src/mocks/api/seeds/seeds.ts
  apps/smeargle/src/mocks/api/server-development.ts
  apps/smeargle/src/pages/home/home-page.tsx
  apps/smeargle/src/pages/product-detail/product-detail-page.stories.tsx
  apps/smeargle/src/pages/product-detail/product-detail-page.test.tsx
  apps/smeargle/src/pages/product-detail/product-detail-page.tsx
  apps/smeargle/src/pages/product-list/api/products.node.test.ts
  apps/smeargle/src/pages/product-list/api/products.ts
  apps/smeargle/src/pages/product-list/product-list-page.stories.tsx
  apps/smeargle/src/pages/product-list/product-list-page.test.tsx
  apps/smeargle/src/pages/product-list/product-list-page.tsx
  apps/smeargle/src/pages/product-list/ui/product-card/product-card.tsx
  apps/smeargle/src/pages/product-list/ui/product-grid/product-grid.tsx
  apps/smeargle/src/test/global-mocks/tanstack-start-browser.ts
  apps/smeargle/src/test/global-mocks/tanstack-start-node.ts
  apps/smeargle/src/test/setup-node-tests.ts
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/tests/system/global-setup.ts
  apps/smeargle/tsconfig.app.json
  apps/smeargle/tsconfig.node.json
  apps/smeargle/vite.config.ts
  packages/eslint-config-shared/index.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat(smeargle): add default loaded and error components
  apps/smeargle/src/app/router.tsx
  apps/smeargle/src/app/routes/products.index.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(smeargle): split routes into routes and pages
  README.md
  apps/smeargle/.storybook/main.ts
  apps/smeargle/src/api/client.ts
  apps/smeargle/src/app/routes/__root.tsx
  apps/smeargle/src/app/routes/products.index.tsx
  apps/smeargle/src/mocks/router.tsx
  apps/smeargle/src/pages/home/home-page.stories.tsx
  apps/smeargle/src/pages/home/home-page.tsx
  apps/smeargle/src/pages/product-detail/product-detail-page.stories.tsx
  apps/smeargle/src/pages/product-detail/product-detail-page.tsx
  apps/smeargle/src/pages/product-list/api/products.ts
  apps/smeargle/src/pages/product-listing/api/data.node.test.ts
  apps/smeargle/src/pages/product-listing/api/data.ts
  apps/smeargle/src/pages/product-listing/product-listing-page.stories.tsx
  apps/smeargle/src/pages/product-listing/product-listing-page.test.tsx
  apps/smeargle/src/pages/product-listing/product-listing-page.tsx
  apps/smeargle/src/pages/product-listing/ui/product-card/product-card.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-grid.tsx
  apps/smeargle/vite.config.ts
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix(smeargle): lint issues
  .ls-lint.yml
  apps/smeargle/src/app/route-tree.gen.ts
  apps/smeargle/src/app/routeTree.gen.ts
  apps/smeargle/src/app/router.tsx
  apps/smeargle/vite.config.ts
  packages/eslint-config-shared/index.js
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor(smeargle): organize framework code
  apps/smeargle/package.json
  apps/smeargle/plugins/server-only.ts
  apps/smeargle/src/app/route-tree.gen.ts
  apps/smeargle/src/app/routes/products.index.tsx
  apps/smeargle/src/pages/product-listing/api/data.server.test.ts
  apps/smeargle/src/pages/product-listing/api/data.server.ts
  apps/smeargle/src/pages/product-listing/api/data.ts
  apps/smeargle/src/pages/product-listing/api/get-products.server.test.ts
  apps/smeargle/src/pages/product-listing/api/get-products.server.ts
  apps/smeargle/src/pages/product-listing/product-listing-page.tsx
  apps/smeargle/src/pages/product-listing/ui/product-grid/product-grid.tsx
  apps/smeargle/src/test/global-mocks/tanstack-start-browser.ts
  apps/smeargle/src/test/global-mocks/tanstack-start-node.ts
  apps/smeargle/src/test/setup-node-tests.ts
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/tsconfig.node.json
  apps/smeargle/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write
