Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

ci: add vrt and update vrt jobs
  .github/workflows/update-vrt.yml
Due: none

ci: add update vrt action
  .github/workflows/update-vrt.yml
Due: none

Add update VRT action (#165)
  .github/workflows/update-vrt.yml
Due: none

chore: exclude vrt from coverage
  apps/ninjask/vite.config.ts
  apps/smeargle/vite.config.ts
  packages/ui-react/vite.config.ts
  packages/ui-solid/vite.config.ts
  packages/utils/vite.config.ts
Due: prettier --write

chore: update vrt update commit msg
  .github/workflows/update-vrt.yml
Due: none

fix: git LFS screenshots path
  .gitattributes
  apps/ninjask/vrt/screenshots/app/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  apps/rotom/vrt/screenshots/app/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  apps/smeargle/vrt/screenshots/app/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
  packages/ui-solid/vrt/screenshots/lib/components/counter/counter.vrt.ts/components-counter--default--custom-1.png
Due: ls-lint

feat: add e2e to smeargle
  .gitignore
  .ls-lint.yml
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/e2e/tests/home.test.ts
  apps/smeargle/package.json
  apps/smeargle/src/main.tsx
  apps/smeargle/src/vite-env.d.ts
  apps/smeargle/tsconfig.json
  package.json
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add e2e to ninjask
  apps/ninjask/e2e/playwright.config.ts
  apps/ninjask/e2e/tests/home.test.ts
  apps/ninjask/package.json
  apps/ninjask/src/index.tsx
  apps/ninjask/src/vite-env.d.ts
  apps/ninjask/tsconfig.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add e2e to rotom
  apps/ninjask/package.json
  apps/rotom/angular.json
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/e2e/tests/home.test.ts
  apps/rotom/package.json
  apps/smeargle/package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  packages/ui-solid/package.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

ci: add e2e job
  .github/workflows/ci.yml
  .ls-lint.yml
  turbo.json
Due: none

Add E2E (#172)
  .github/workflows/ci.yml
  .gitignore
  .ls-lint.yml
  apps/ninjask/e2e/playwright.config.ts
  apps/ninjask/e2e/tests/home.test.ts
  apps/ninjask/package.json
  apps/ninjask/src/index.tsx
  apps/ninjask/src/vite-env.d.ts
  apps/ninjask/tsconfig.json
  apps/rotom/angular.json
  apps/rotom/e2e/playwright.config.ts
  apps/rotom/e2e/tests/home.test.ts
  apps/rotom/package.json
  apps/smeargle/e2e/playwright.config.ts
  apps/smeargle/e2e/tests/home.test.ts
  apps/smeargle/package.json
  apps/smeargle/src/main.tsx
  apps/smeargle/src/vite-env.d.ts
  apps/smeargle/tsconfig.json
  package.json
  packages/ui-angular/package.json
  packages/ui-react/package.json
  packages/ui-solid/package.json
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: specify package manage for angular
  apps/rotom/angular.json
  packages/ui-angular/angular.json
Due: prettier --write

chore: update core for rotom
  apps/rotom/angular.json
  apps/rotom/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update core for ui-angular
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: rules and file structure to new version
  .ls-lint.yml
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/bootstrap-app.ts
  apps/rotom/src/favicon.ico
  apps/rotom/src/main-development.ts
  apps/rotom/src/main.ts
  packages/tsconfig/tsconfig.angular.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: update storybook
  apps/rotom/package.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update eslint for ui-angular
  packages/eslint-config-angular/index.cjs
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update eslint for rotom
  apps/rotom/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update node 20
  apps/rotom/src/app/app.component.html
  package.json
Due: ls-lint

chore: use esbuild
  apps/rotom/angular.json
Due: prettier --write

fix: e2e tests wrong angular url
  apps/rotom/package.json
Due: prettier --write

Update to Angular 17 (#177)
  .ls-lint.yml
  apps/rotom/angular.json
  apps/rotom/package.json
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/bootstrap-app.ts
  apps/rotom/src/favicon.ico
  apps/rotom/src/main-development.ts
  apps/rotom/src/main.ts
  package.json
  packages/eslint-config-angular/index.cjs
  packages/tsconfig/tsconfig.angular.json
  packages/ui-angular/angular.json
  packages/ui-angular/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add analyse to turbo
  package.json
  turbo.json
Due: none

docs: add vscode extensions
  .vscode/extensions.json
Due: none

docs: write README
  README.md
Due: none

docs: update README
  README.md
Due: none

Add basic documentation (#179)
  .vscode/extensions.json
  README.md
  package.json
  turbo.json
Due: none

feat: add depcruise linter
  .dependency-cruiser.cjs
  package.json
  pnpm-lock.yaml
Due: none

feat: exclude css files
  .dependency-cruiser.cjs
Due: none

chore: update depcruise comments
  .dependency-cruiser.cjs
Due: none

fix: ui-angular package.json rule
  packages/ui-angular/angular.json
  packages/ui-angular/ng-package.json
  packages/ui-angular/src/ng-package.json
  packages/ui-angular/src/package.json
Due: ls-lint, prettier --write

Setup dependency cruiser (#195)
  .dependency-cruiser.cjs
  package.json
  packages/ui-angular/angular.json
  packages/ui-angular/ng-package.json
  packages/ui-angular/src/ng-package.json
  packages/ui-angular/src/package.json
  pnpm-lock.yaml
Due: ls-lint, prettier --write

feat: update pnpm
  package.json
  packages/vrt/package.json
  pnpm-lock.yaml
Due: prettier --write

Update pnpm to 8.10.5 (#196)
  package.json
  packages/vrt/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add service worker to rotom
  apps/rotom/angular.json
  apps/rotom/ngsw-config.json
  apps/rotom/package.json
  apps/rotom/src/app/app.config.ts
  apps/rotom/src/app/core/providers/service-worker-provider.ts
  apps/rotom/src/assets/.gitkeep
  apps/rotom/src/assets/icons/icon-128x128.png
  apps/rotom/src/assets/icons/icon-144x144.png
  apps/rotom/src/assets/icons/icon-152x152.png
  apps/rotom/src/assets/icons/icon-192x192.png
  apps/rotom/src/assets/icons/icon-384x384.png
  apps/rotom/src/assets/icons/icon-512x512.png
  apps/rotom/src/assets/icons/icon-72x72.png
  apps/rotom/src/assets/icons/icon-96x96.png
  apps/rotom/src/index.html
  apps/rotom/src/manifest.webmanifest
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add service worker to smeargle
  apps/rotom/angular.json
  apps/rotom/src/index.html
  apps/rotom/src/robots.txt
  apps/smeargle/index.html
  apps/smeargle/package.json
  apps/smeargle/public/favicon.ico
  apps/smeargle/public/icons/icon-128x128.png
  apps/smeargle/public/icons/icon-144x144.png
  apps/smeargle/public/icons/icon-152x152.png
  apps/smeargle/public/icons/icon-192x192.png
  apps/smeargle/public/icons/icon-384x384.png
  apps/smeargle/public/icons/icon-512x512.png
  apps/smeargle/public/icons/icon-72x72.png
  apps/smeargle/public/icons/icon-96x96.png
  apps/smeargle/public/robots.txt
  apps/smeargle/src/vite-env.d.ts
  apps/smeargle/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: adjust smeargle pwa
  apps/smeargle/public/icon-128x128.png
  apps/smeargle/public/icon-144x144.png
  apps/smeargle/public/icon-152x152.png
  apps/smeargle/public/icon-192x192.png
  apps/smeargle/public/icon-384x384.png
  apps/smeargle/public/icon-512x512.png
  apps/smeargle/public/icon-72x72.png
  apps/smeargle/public/icon-96x96.png
  apps/smeargle/vite.config.ts
  packages/tsconfig/tsconfig.vite.json
Due: prettier --write

feat: add service worker to ninjask
  apps/ninjask/index.html
  apps/ninjask/package.json
  apps/ninjask/public/favicon.ico
  apps/ninjask/public/icon-128x128.png
  apps/ninjask/public/icon-144x144.png
  apps/ninjask/public/icon-152x152.png
  apps/ninjask/public/icon-192x192.png
  apps/ninjask/public/icon-384x384.png
  apps/ninjask/public/icon-512x512.png
  apps/ninjask/public/icon-72x72.png
  apps/ninjask/public/icon-96x96.png
  apps/ninjask/public/robots.txt
  apps/ninjask/src/vite-env.d.ts
  apps/ninjask/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Path conditions:
  ls-lint: any of: {apps,packages}/*/{src,e2e,vrt}/**/*
  eslint --cache --fix --report-unused-disable-directives --max-warnings 0: any of: {apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: {apps,packages}/*/src/**/*.{css,scss}
  prettier --write: any of: {apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
