Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

refactor: partially move to use flat eslint config
  .vscode/showcase.code-workspace
  apps/rotom/.eslintrc.js
  apps/rotom/package.json
  apps/smeargle/.eslintrc.cjs
  package.json
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/index.cjs
  packages/eslint-config/index.ts
  packages/eslint-config/package.json
  packages/ui-angular/.eslintrc.js
  packages/ui-angular/package.json
  packages/ui-react/.eslintrc.cjs
  packages/utils/.eslintrc.cjs
  packages/utils/eslint.config.js
  packages/utils/package.json
  packages/utils/src/id.ts
  packages/vrt/.eslintrc.cjs
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

docs: add todo
  packages/utils/src/id.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: add namespace to css layers
  packages/styles/scss/_base.scss
  packages/styles/scss/_normalize.scss
  packages/styles/scss/_themes.scss
  packages/styles/scss/components/_button.scss
  packages/styles/scss/components/_card.scss
  packages/styles/scss/components/_icon.scss
  packages/styles/scss/components/_popover.scss
  packages/styles/scss/components/_sidebar.scss
  packages/styles/scss/components/_tooltip.scss
  packages/styles/scss/components/_utils.scss
Due: prettier --write

refactor: use css logical properties
  packages/styles/scss/components/_button.scss
  packages/styles/scss/components/_card.scss
  packages/styles/scss/components/_header.scss
  packages/styles/scss/components/_icon.scss
  packages/styles/scss/components/_popover.scss
  packages/styles/scss/components/_sidebar.scss
  packages/styles/scss/components/_tooltip.scss
  packages/styles/scss/utils/_control.scss
  packages/styles/scss/utils/_mixins.scss
Due: prettier --write

fix: sidebar styles regression
  packages/styles/scss/components/_sidebar.scss
Due: prettier --write

Refactor: Add CSS namespace to layers, use CSS logical properties (#610)
  packages/styles/scss/_base.scss
  packages/styles/scss/_normalize.scss
  packages/styles/scss/_themes.scss
  packages/styles/scss/components/_button.scss
  packages/styles/scss/components/_card.scss
  packages/styles/scss/components/_header.scss
  packages/styles/scss/components/_icon.scss
  packages/styles/scss/components/_popover.scss
  packages/styles/scss/components/_sidebar.scss
  packages/styles/scss/components/_tooltip.scss
  packages/styles/scss/components/_utils.scss
  packages/styles/scss/utils/_control.scss
  packages/styles/scss/utils/_mixins.scss
Due: prettier --write

feat: add header component to UI
  packages/styles/scss/components/_header.scss
  packages/styles/scss/components/_index.scss
  packages/ui-react/src/lib/components/header/header.stories.tsx
  packages/ui-react/src/lib/components/header/header.test.tsx
  packages/ui-react/src/lib/components/header/header.tsx
  packages/ui-react/src/lib/components/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add css modules extension
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: none

test: add header VRT
  packages/ui-react/src/lib/components/header/header.tsx
  packages/ui-react/src/lib/components/header/header.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add sidebar and header to app
  apps/smeargle/package.json
  apps/smeargle/src/app/components/header/header.module.scss
  apps/smeargle/src/app/components/header/header.stories.tsx
  apps/smeargle/src/app/components/header/header.test.tsx
  apps/smeargle/src/app/components/header/header.tsx
  apps/smeargle/src/app/components/header/header.vrt.ts
  apps/smeargle/src/app/components/sidebar/sidebar.module.scss
  apps/smeargle/src/app/components/sidebar/sidebar.stories.tsx
  apps/smeargle/src/app/components/sidebar/sidebar.test.tsx
  apps/smeargle/src/app/components/sidebar/sidebar.tsx
  apps/smeargle/src/app/components/sidebar/sidebar.vrt.ts
  packages/styles/scss/components/_header.scss
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: set base layout for app component
  apps/smeargle/index.html
  apps/smeargle/public/logo.svg
  apps/smeargle/public/vite.svg
  apps/smeargle/src/app/app.css
  apps/smeargle/src/app/app.module.scss
  apps/smeargle/src/app/app.stories.tsx
  apps/smeargle/src/app/app.test.tsx
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/app/app.vrt.ts
  apps/smeargle/src/assets/react.svg
  apps/smeargle/src/styles/styles.scss
  packages/tsconfig/tsconfig.lint.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

test: update VRT
  apps/smeargle/vrt/screenshots/app/app.vrt.ts/app--default--dark--desktop-1.png
  apps/smeargle/vrt/screenshots/app/app.vrt.ts/app--default--light--desktop-1.png
  apps/smeargle/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--dark--custom-1.png
  apps/smeargle/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--light--custom-1.png
  apps/smeargle/vrt/screenshots/app/components/sidebar/sidebar.vrt.ts/components-sidebar--default--dark--custom-1.png
  apps/smeargle/vrt/screenshots/app/components/sidebar/sidebar.vrt.ts/components-sidebar--default--light--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/header/header.vrt.ts/components-header--default--dark--custom-1.png
  packages/ui-react/vrt/screenshots/lib/components/header/header.vrt.ts/components-header--default--light--custom-1.png
Due: ls-lint

test: enable skipped tests
  packages/ui-react/src/lib/components/card-popover/card-popover.test.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add header component
  apps/smeargle/package.json
  apps/smeargle/src/app/components/header/header.tsx
  packages/ui-angular/src/lib/directives/header/header.directive.test.ts
  packages/ui-angular/src/lib/directives/header/header.directive.ts
  packages/ui-angular/src/lib/directives/header/header.stories.ts
  packages/ui-angular/src/lib/directives/header/header.vrt.ts
  packages/ui-angular/src/lib/directives/index.ts
  packages/ui-angular/vrt/screenshots/lib/directives/header/header.vrt.ts/components-header--default--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/header/header.vrt.ts/components-header--default--light--custom-1.png
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add header and sidebar components to rotom
  apps/rotom/.storybook/main.ts
  apps/rotom/public/logo.svg
  apps/rotom/src/app/components/header/header.component.scss
  apps/rotom/src/app/components/header/header.component.test.ts
  apps/rotom/src/app/components/header/header.component.ts
  apps/rotom/src/app/components/header/header.stories.ts
  apps/rotom/src/app/components/header/header.vrt.ts
  apps/rotom/src/app/components/sidebar/sidebar.component.scss
  apps/rotom/src/app/components/sidebar/sidebar.component.test.ts
  apps/rotom/src/app/components/sidebar/sidebar.component.ts
  apps/rotom/src/app/components/sidebar/sidebar.stories.ts
  apps/rotom/src/app/components/sidebar/sidebar.vrt.ts
  apps/rotom/src/styles/styles.scss
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--dark--custom-1.png
  apps/rotom/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--light--custom-1.png
  apps/rotom/vrt/screenshots/app/components/sidebar/sidebar.vrt.ts/components-sidebar--default--dark--custom-1.png
  apps/rotom/vrt/screenshots/app/components/sidebar/sidebar.vrt.ts/components-sidebar--default--light--custom-1.png
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: add header and sidebar to app component
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.scss
  apps/rotom/src/app/app.component.test.ts
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/app.stories.ts
  apps/rotom/src/app/app.vrt.ts
  apps/rotom/src/app/components/header/header.component.scss
  apps/rotom/src/app/components/sidebar/sidebar.component.scss
  apps/rotom/vrt/screenshots/app/app.vrt.ts/app--default--dark--desktop-1.png
  apps/rotom/vrt/screenshots/app/app.vrt.ts/app--default--light--desktop-1.png
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

fix: add theme to app
  apps/rotom/src/index.html
Due: ls-lint

[Angular] Add Header component, change base app page (#616)
  apps/rotom/.storybook/main.ts
  apps/rotom/public/logo.svg
  apps/rotom/src/app/app.component.html
  apps/rotom/src/app/app.component.scss
  apps/rotom/src/app/app.component.test.ts
  apps/rotom/src/app/app.component.ts
  apps/rotom/src/app/app.stories.ts
  apps/rotom/src/app/app.vrt.ts
  apps/rotom/src/app/components/header/header.component.scss
  apps/rotom/src/app/components/header/header.component.test.ts
  apps/rotom/src/app/components/header/header.component.ts
  apps/rotom/src/app/components/header/header.stories.ts
  apps/rotom/src/app/components/header/header.vrt.ts
  apps/rotom/src/app/components/sidebar/sidebar.component.scss
  apps/rotom/src/app/components/sidebar/sidebar.component.test.ts
  apps/rotom/src/app/components/sidebar/sidebar.component.ts
  apps/rotom/src/app/components/sidebar/sidebar.stories.ts
  apps/rotom/src/app/components/sidebar/sidebar.vrt.ts
  apps/rotom/src/index.html
  apps/rotom/src/styles/styles.scss
  apps/rotom/src/test/setup-tests.ts
  apps/rotom/vrt/screenshots/app/app.vrt.ts/app--default--dark--desktop-1.png
  apps/rotom/vrt/screenshots/app/app.vrt.ts/app--default--light--desktop-1.png
  apps/rotom/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--dark--custom-1.png
  apps/rotom/vrt/screenshots/app/components/header/header.vrt.ts/components-header--default--light--custom-1.png
  apps/rotom/vrt/screenshots/app/components/sidebar/sidebar.vrt.ts/components-sidebar--default--dark--custom-1.png
  apps/rotom/vrt/screenshots/app/components/sidebar/sidebar.vrt.ts/components-sidebar--default--light--custom-1.png
  apps/smeargle/package.json
  apps/smeargle/src/app/components/header/header.tsx
  packages/ui-angular/src/lib/directives/header/header.directive.test.ts
  packages/ui-angular/src/lib/directives/header/header.directive.ts
  packages/ui-angular/src/lib/directives/header/header.stories.ts
  packages/ui-angular/src/lib/directives/header/header.vrt.ts
  packages/ui-angular/src/lib/directives/index.ts
  packages/ui-angular/vrt/screenshots/lib/directives/header/header.vrt.ts/components-header--default--dark--custom-1.png
  packages/ui-angular/vrt/screenshots/lib/directives/header/header.vrt.ts/components-header--default--light--custom-1.png
  packages/ui-react/src/lib/components/sidebar/sidebar.tsx
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

feat: add open api spec file
  openapi.yaml
Due: none

feat: add orval to smeargle
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  apps/smeargle/orval.config.ts
  apps/smeargle/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: make eslint ignore tool config files
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-react/index.cjs
Due: none

chore: add build api to turbo
  .gitignore
  apps/smeargle/orval.config.ts
  apps/smeargle/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat: add orval to rotom
  apps/rotom/orval.config.ts
  apps/rotom/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove todo
  openapi.yaml
Due: none

docs: fix readme
  README.md
Due: none

Setup basic OpenAPI spec and api generators (#623)
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
  README.md
  apps/rotom/orval.config.ts
  apps/rotom/package.json
  apps/smeargle/orval.config.ts
  apps/smeargle/package.json
  openapi.yaml
  package.json
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-react/index.cjs
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat: base i18n setup for smeargle
  .gitignore
  apps/rotom/README.md
  apps/rotom/package.json
  apps/smeargle/package.json
  apps/smeargle/public/locales/en-GB/translation.json
  apps/smeargle/public/locales/en-US/translation.json
  apps/smeargle/public/locales/pt-PT/translation.json
  apps/smeargle/src/@types/i18n.d.ts
  apps/smeargle/src/@types/vite-env.d.ts
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/app/core/i18n/i18n.ts
  apps/smeargle/src/main.tsx
  apps/smeargle/src/mocks/i18n.ts
  apps/smeargle/src/test/setup-tests.ts
  apps/smeargle/vite.config.ts
  packages/ui-react/src/@types/vite-env.d.ts
  packages/ui-react/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: add ls-lint rules
  .ls-lint.yml
Due: none

feat: add locale node utils
  .ls-lint.yml
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-react/index.cjs
  packages/utils/package.json
  packages/utils/src/node/index.ts
  packages/utils/src/node/locales-test-fixtures/source/en-GB/common.json
  packages/utils/src/node/locales-test-fixtures/source/en-GB/features/feature.json
  packages/utils/src/node/locales-test-fixtures/source/en-GB/invalid.txt
  packages/utils/src/node/locales-test-fixtures/source/en-US/common.json
  packages/utils/src/node/locales-test-fixtures/source/en-US/features/feature.json
  packages/utils/src/node/locales-test-fixtures/source/invalid.json
  packages/utils/src/node/locales.test.ts
  packages/utils/src/node/locales.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add vite plugin to bundle locales
  .vscode/showcase.code-workspace
  packages/vite-plugin-bundle-i18n/.eslintrc.cjs
  packages/vite-plugin-bundle-i18n/package.json
  packages/vite-plugin-bundle-i18n/src/index.ts
  packages/vite-plugin-bundle-i18n/tsconfig.json
  packages/vite-plugin-bundle-i18n/tsup.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add i18n bundle plugin to smeargle
  apps/smeargle/package.json
  apps/smeargle/public/locales/en-GB/translation.json
  apps/smeargle/src/@types/vite-env.d.ts
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/app/core/i18n/i18n.ts
  apps/smeargle/src/locales/en-GB/common.json
  apps/smeargle/src/locales/en-US/common.json
  apps/smeargle/src/locales/pt-PT/common.json
  apps/smeargle/src/mocks/i18n.ts
  apps/smeargle/vite.config.ts
  packages/ui-react/src/lib/test/render.tsx
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: i18n plugin support i18next type checking
  .github/workflows/ci.yml
  .gitignore
  apps/smeargle/vite.config.ts
  packages/utils/src/node/locales.test.ts
  packages/utils/src/node/locales.ts
  packages/vite-plugin-bundle-i18n/src/index.ts
  preflight-check.sh
  turbo.json
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add i18n to smeargle tests and stories
  apps/smeargle/.storybook/preview.tsx
  apps/smeargle/src/@types/i18n.d.ts
  apps/smeargle/src/@types/vite-env.d.ts
  apps/smeargle/src/app/core/i18n/i18n.ts
  apps/smeargle/src/locales/original/en-GB/common.json
  apps/smeargle/src/locales/original/en-US/common.json
  apps/smeargle/src/locales/original/pt-PT/common.json
  apps/smeargle/src/mocks/i18n.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: move locale utils to utils package
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/app/core/i18n/i18n.ts
  packages/utils/src/index.ts
  packages/utils/src/locale.test.ts
  packages/utils/src/locale.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: remove date fns locales, refactor get fallback language
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/app/core/i18n/i18n.ts
  apps/smeargle/src/locales/original/en-GB/common.json
  apps/smeargle/src/locales/original/en-US/common.json
  apps/smeargle/src/locales/original/pt-PT/common.json
  packages/utils/src/locale.test.ts
  packages/utils/src/locale.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: forbid date-fns i18n imports
  apps/smeargle/src/app/core/i18n/i18n.ts
  packages/eslint-config-angular/index.cjs
  packages/eslint-config-react/index.cjs
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: remove date-fns locales from test mocks
  apps/smeargle/src/mocks/i18n.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: add date configs to app config
  apps/smeargle/src/app/app.tsx
  apps/smeargle/src/app/core/config.ts
  apps/smeargle/src/app/core/i18n/i18n.ts
  apps/smeargle/src/mocks/i18n.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: move context utils to utils folder
  packages/ui-react/src/index.ts
  packages/ui-react/src/lib/components/tooltip/tooltip.test.tsx
  packages/ui-react/src/lib/components/tooltip/tooltip.tsx
  packages/ui-react/src/lib/contexts/index.ts
  packages/ui-react/src/lib/contexts/ui-config.test.tsx
  packages/ui-react/src/lib/contexts/ui-config.ts
  packages/ui-react/src/lib/hooks/index.ts
  packages/ui-react/src/lib/test/render.tsx
  packages/ui-react/src/lib/utils/context.test.tsx
  packages/ui-react/src/lib/utils/context.ts
  packages/ui-react/src/lib/utils/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write
