Repository QuietNatu/showcase: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/*/{src,e2e,vrt}/**/*": "ls-lint",
  "{apps,packages}/*/{src,e2e,vrt}/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix --report-unused-disable-directives --max-warnings 0",
  "{apps,packages}/*/src/**/*.{css,scss}": "stylelint --fix",
  "{apps,packages}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

test: exclude story utils from coverage
  packages/ui-react/vite.config.ts
  packages/ui-solid/vite.config.ts
Due: prettier --write

Support themeing in storybook (#262)
  apps/ninjask/.storybook/preview.ts
  apps/ninjask/package.json
  apps/ninjask/tsconfig.json
  apps/rotom/.storybook/decorators.ts
  apps/rotom/.storybook/preview.ts
  apps/rotom/.storybook/tsconfig.json
  apps/rotom/package.json
  apps/smeargle/.storybook/preview.ts
  apps/smeargle/package.json
  apps/smeargle/tsconfig.json
  packages/ui-angular/.storybook/decorators.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/.storybook/tsconfig.json
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/stories/hooks.ts
  packages/ui-angular/src/lib/stories/index.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/lib/stories/decorators.tsx
  packages/ui-react/src/lib/stories/index.ts
  packages/ui-react/tsconfig.json
  packages/ui-react/vite.config.ts
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/lib/stories/decorators.tsx
  packages/ui-solid/src/lib/stories/index.ts
  packages/ui-solid/tsconfig.json
  packages/ui-solid/vite.config.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add story variants decorator
  packages/ui-angular/src/lib/components/button/button.stories.ts
  packages/ui-angular/src/lib/stories/decorators.ts
  packages/ui-angular/src/lib/stories/index.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

feat: add missing css variables
  packages/styles/components/_button.scss
  packages/styles/themes/_smeargle.scss
Due: prettier --write

feat: add wcag aaa rules for tests and storybook
  apps/ninjask/.storybook/preview.ts
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/a11y/a11y.ts
  packages/ui-angular/src/lib/stories/configs.ts
  packages/ui-angular/src/lib/stories/index.ts
  packages/ui-angular/src/lib/test/axe.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/a11y/a11y.ts
  packages/ui-react/src/lib/stories/configs.ts
  packages/ui-react/src/lib/stories/index.ts
  packages/ui-react/src/lib/test/axe.ts
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/a11y/a11y.ts
  packages/ui-solid/src/lib/stories/configs.ts
  packages/ui-solid/src/lib/stories/index.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

Add WCAG AAA rules for tests and storybook (#269)
  apps/ninjask/.storybook/preview.ts
  apps/rotom/.storybook/preview.ts
  apps/smeargle/.storybook/preview.ts
  packages/ui-angular/.storybook/preview.ts
  packages/ui-angular/package.json
  packages/ui-angular/src/a11y/a11y.ts
  packages/ui-angular/src/lib/stories/configs.ts
  packages/ui-angular/src/lib/stories/index.ts
  packages/ui-angular/src/lib/test/axe.ts
  packages/ui-react/.storybook/preview.ts
  packages/ui-react/package.json
  packages/ui-react/src/a11y/a11y.ts
  packages/ui-react/src/lib/stories/configs.ts
  packages/ui-react/src/lib/stories/index.ts
  packages/ui-react/src/lib/test/axe.ts
  packages/ui-solid/.storybook/preview.ts
  packages/ui-solid/package.json
  packages/ui-solid/src/a11y/a11y.ts
  packages/ui-solid/src/lib/stories/configs.ts
  packages/ui-solid/src/lib/stories/index.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: update package lock
  pnpm-lock.yaml
Due: none

refactor: move scss styles to subfolder
  apps/ninjask/src/styles/styles.scss
  apps/rotom/src/styles/styles.scss
  apps/smeargle/src/styles/styles.scss
  packages/styles/scss/_base.scss
  packages/styles/scss/_index.scss
  packages/styles/scss/_normalize.scss
  packages/styles/scss/themes/_index.scss
  packages/styles/scss/themes/_ninjask.scss
  packages/styles/scss/themes/_rotom.scss
  packages/styles/scss/themes/_smeargle.scss
  packages/styles/scss/utils/_control.scss
  packages/styles/scss/utils/_functions.scss
  packages/styles/scss/utils/_index.scss
  packages/styles/scss/utils/_text.scss
  packages/ui-angular/src/styles/styles.scss
  packages/ui-react/src/styles/styles.scss
  packages/ui-solid/src/styles/styles.scss
Due: ls-lint, stylelint --fix, prettier --write

feat: support css variables
  packages/styles/tokens/config.json5
Due: none

chore: configure vite and typescript
  packages/styles/package.json
  packages/styles/tsconfig.json
  packages/styles/tsconfig.node.json
  packages/styles/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

feat: add design tokens
  packages/styles/tokens/config.json5
  packages/styles/tokens/properties/base/border.json5
  packages/styles/tokens/properties/base/color.json5
  packages/styles/tokens/properties/base/elevation.json5
  packages/styles/tokens/properties/base/font.json5
  packages/styles/tokens/properties/base/spacing.json5
  packages/styles/tokens/properties/base/time.json5
  packages/styles/tokens/properties/references/control.json5
  packages/styles/tokens/properties/references/text.json5
Due: none

feat: add theme design tokens
  packages/styles/tokens/properties/themes/ninjask.json5
  packages/styles/tokens/properties/themes/rotom.json5
  packages/styles/tokens/properties/themes/smeargle.json5
Due: none

feat: support themes, replace scss themes
  packages/styles/package.json
  packages/styles/scss/_themes.scss
  packages/styles/scss/themes/_index.scss
  packages/styles/scss/themes/_ninjask.scss
  packages/styles/scss/themes/_rotom.scss
  packages/styles/scss/themes/_smeargle.scss
  packages/styles/scss/tokens/ninjask/_dark.scss
  packages/styles/scss/tokens/ninjask/_light.scss
  packages/styles/scss/tokens/rotom/_dark.scss
  packages/styles/scss/tokens/rotom/_light.scss
  packages/styles/scss/tokens/smeargle/_dark.scss
  packages/styles/scss/tokens/smeargle/_light.scss
  packages/styles/tokens/config.js
  packages/styles/tokens/config.json5
  packages/styles/tokens/default/base/border.json5
  packages/styles/tokens/default/base/color-dark.json5
  packages/styles/tokens/default/base/color.json5
  packages/styles/tokens/default/base/elevation.json5
  packages/styles/tokens/default/base/font.json5
  packages/styles/tokens/default/base/size.json5
  packages/styles/tokens/default/base/time.json5
  packages/styles/tokens/default/components/control.json5
  packages/styles/tokens/default/components/text.json5
  packages/styles/tokens/properties/base/color.json5
  packages/styles/tokens/properties/base/font.json5
  packages/styles/tokens/themes/ninjask/ninjask.json5
  packages/styles/tokens/themes/rotom/rotom.json5
  packages/styles/tokens/themes/smeargle/smeargle.json5
  packages/styles/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove generated tokens
  packages/styles/scss/tokens/ninjask/_dark.scss
  packages/styles/scss/tokens/ninjask/_light.scss
  packages/styles/scss/tokens/rotom/_dark.scss
  packages/styles/scss/tokens/rotom/_light.scss
  packages/styles/scss/tokens/smeargle/_dark.scss
  packages/styles/scss/tokens/smeargle/_light.scss
Due: prettier --write

feat: ignore generated tokens
  .gitignore
  packages/styles/tokens/config.js
Due: prettier --write

fix: ignore dark token in light mode
  packages/styles/tokens/config.js
Due: prettier --write

chore: cache token outputs
  turbo.json
Due: none

refactor: rename color scheme tokens
  packages/styles/tokens/config.js
  packages/styles/tokens/default/base/color-dark.json5
Due: prettier --write

fix: token imports in angular
  packages/styles/scss/_themes.scss
Due: prettier --write

fix: make test task depend on build
  packages/styles/scss/_themes.scss
  turbo.json
Due: prettier --write

fix: make tasks depend on build
  turbo.json
Due: none

Use style dictionary for design tokens (#284)
  .gitignore
  apps/ninjask/src/styles/styles.scss
  apps/rotom/src/styles/styles.scss
  apps/smeargle/src/styles/styles.scss
  packages/styles/package.json
  packages/styles/scss/_base.scss
  packages/styles/scss/_index.scss
  packages/styles/scss/_normalize.scss
  packages/styles/scss/_themes.scss
  packages/styles/scss/utils/_control.scss
  packages/styles/scss/utils/_functions.scss
  packages/styles/scss/utils/_index.scss
  packages/styles/scss/utils/_text.scss
  packages/styles/themes/_index.scss
  packages/styles/themes/_ninjask.scss
  packages/styles/themes/_rotom.scss
  packages/styles/themes/_smeargle.scss
  packages/styles/tokens/config.js
  packages/styles/tokens/default/base/border.json5
  packages/styles/tokens/default/base/color-dark.json5
  packages/styles/tokens/default/base/color.json5
  packages/styles/tokens/default/base/elevation.json5
  packages/styles/tokens/default/base/font.json5
  packages/styles/tokens/default/base/size.json5
  packages/styles/tokens/default/base/time.json5
  packages/styles/tokens/default/components/control.json5
  packages/styles/tokens/default/components/text.json5
  packages/styles/tokens/themes/ninjask/ninjask.json5
  packages/styles/tokens/themes/rotom/rotom.json5
  packages/styles/tokens/themes/smeargle/smeargle.json5
  packages/styles/tsconfig.json
  packages/styles/tsconfig.node.json
  packages/styles/vite.config.ts
  packages/ui-angular/src/styles/styles.scss
  packages/ui-react/src/styles/styles.scss
  packages/ui-solid/src/styles/styles.scss
  pnpm-lock.yaml
  turbo.json
Due: ls-lint, stylelint --fix, prettier --write

fix: move components inside scss folder
  packages/styles/scss/components/_button.scss
  packages/styles/scss/components/_index.scss
Due: prettier --write

fix: jest dom matchers missing types
  packages/ui-react/src/lib/test/extend-expect.ts
  packages/ui-solid/src/lib/test/extend-expect.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: update msw to 2.0.11
  apps/ninjask/package.json
  apps/ninjask/public/mockServiceWorker.js
  apps/rotom/package.json
  apps/rotom/src/mockServiceWorker.js
  apps/smeargle/package.json
  apps/smeargle/public/mockServiceWorker.js
  packages/ui-solid/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: temporarily disable msw in solid tests
  apps/ninjask/src/test/setup-tests.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

refactor: use new variables in button
  packages/styles/scss/components/_button.scss
Due: prettier --write

refactor: dark design tokens file name
  packages/styles/tokens/default/base/color-dark.json5
  packages/styles/tokens/default/base/color.dark.json5
Due: none

fix: wrong generation of dark tokens
  packages/styles/tokens/config.js
Due: prettier --write

refactor: dark design tokens file name
  packages/styles/tokens/default/base/color.dark.json5
Due: none

Fix wrong generation of dark tokens (#293)
  packages/styles/tokens/config.js
  packages/styles/tokens/default/base/color.dark.json5
Due: prettier --write

fix: add missing design token prefix
  packages/styles/tokens/config.js
Due: prettier --write

fix: red color wrong hue
  packages/styles/tokens/default/base/color.json5
Due: none

fix: token wrong references
  packages/styles/scss/components/_button.scss
  packages/styles/tokens/default/base/color.json5
Due: prettier --write

refactor: use fake disable instead of real disable
  apps/rotom/README.md
  packages/styles/scss/components/_button.scss
  packages/ui-angular/package.json
  packages/ui-angular/src/lib/components/button/button.directive.ts
  packages/ui-angular/src/lib/components/button/button.stories.ts
  packages/ui-angular/src/lib/components/button/button.vrt.ts
  pnpm-lock.yaml
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

fix: token wrong references
  packages/styles/scss/components/_button.scss
Due: prettier --write

refactor: adjust color pallete
  packages/styles/tokens/default/base/color.dark.json5
  packages/styles/tokens/default/base/color.json5
  packages/styles/tokens/themes/ninjask/ninjask.json5
  packages/styles/tokens/themes/rotom/rotom.json5
  packages/styles/tokens/themes/smeargle/smeargle.json5
Due: none

test: adjust vrt viewport
  packages/ui-angular/src/lib/components/button/button.vrt.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

test: add a11y tests
  packages/ui-angular/src/lib/components/button/button.directive.test.ts
  packages/ui-angular/src/lib/components/button/button.directive.ts
Due: ls-lint, eslint --cache --fix --report-unused-disable-directives --max-warnings 0, prettier --write

chore: adjust coverage threshold to a more realistic value
  apps/ninjask/vite.config.ts
  apps/rotom/karma.config.js
  apps/smeargle/vite.config.ts
  packages/ui-angular/karma.config.js
  packages/ui-react/vite.config.ts
  packages/ui-solid/vite.config.ts
  packages/utils/vite.config.ts
Due: prettier --write
